/* VARIABLES */
.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
/*!
 * =============================
 *
 * 		#TYPOGRAPHY
 *
 * =============================
 */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #EEEEEE;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Verdana", sans-serif;
  font-size: 100%;
  color: #282828; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "Verdana", sans-serif; }

textarea {
  font-family: "Verdana", sans-serif;
  resize: none; }

/* FONTS */
/*!
 * =============================
 *
 *     #FONTS
 *
 * =============================
 */
@font-face {
  font-family: 'Furore';
  src: url("../fonts/Furore/regular/Furore-regular.eot");
  src: url("../fonts/Furore/regular/Furore-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Furore/regular/Furore-regular.svg") format("svg"), url("../fonts/Furore/regular/Furore-regular.woff") format("woff"), url("../fonts/Furore/regular/Furore-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana/regular/Verdana-regular.eot");
  src: url("../fonts/Verdana/regular/Verdana-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana/regular/Verdana-regular.svg") format("svg"), url("../fonts/Verdana/regular/Verdana-regular.woff") format("woff"), url("../fonts/Verdana/regular/Verdana-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/Verdana/bold/Verdana-bold.eot");
  src: url("../fonts/Verdana/bold/Verdana-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Verdana/bold/Verdana-bold.svg") format("svg"), url("../fonts/Verdana/bold/Verdana-bold.woff") format("woff"), url("../fonts/Verdana/bold/Verdana-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

/*!
 * =============================
 *
 *     #COMMON
 *
 * =============================
 */
.container-fluid {
  max-width: 1200px; }

.d-none {
  display: none !important; }

.section {
  padding-bottom: 60px; }

.section-title {
  position: relative;
  overflow: hidden;
  background: #00b388;
  margin-bottom: 40px;
  padding-top: 25px;
  padding-bottom: 15px;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
  font-family: "Furore", sans-serif;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFF; }
  .section-title:before, .section-title:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    background: #EEEEEE;
    height: 25px;
    width: calc(24% + 10px); }
  .section-title:before {
    left: -10px;
    -webkit-transform: skew(10deg);
        -ms-transform: skew(10deg);
            transform: skew(10deg); }
  .section-title:after {
    right: -10px;
    -webkit-transform: skew(-10deg);
        -ms-transform: skew(-10deg);
            transform: skew(-10deg); }

.sub-title {
  display: inline-block;
  min-width: 490px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 40px;
  padding: 8px 30px;
  font-family: "Furore", sans-serif;
  background: #00b388;
  font-weight: 400;
  font-size: 1.25rem;
  letter-spacing: .5px;
  color: #FFF; }
  .sub-title:after {
    content: '';
    display: block;
    position: absolute;
    right: -5px;
    top: 0;
    bottom: 0;
    width: 10px;
    background: #00b388;
    -webkit-transform: skew(8deg);
        -ms-transform: skew(8deg);
            transform: skew(8deg); }

.sub-title_full-width {
  width: 100%;
  margin-top: 0; }

.btn-main {
  position: relative;
  outline: none;
  background: #00b388;
  border: none;
  padding: 7px 12px;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Furore", sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  font-size: 1rem;
  color: #FFF;
  -webkit-transition: color .2s, background .2s;
  -o-transition: color .2s, background .2s;
  transition: color .2s, background .2s; }
  .btn-main:focus, .btn-main:active {
    outline: none; }
  .btn-main:after {
    content: '';
    display: block;
    position: absolute;
    right: -6px;
    top: 0;
    bottom: 0;
    width: 12px;
    -webkit-transform: skew(8deg);
        -ms-transform: skew(8deg);
            transform: skew(8deg);
    background: #00b388; }

.btn-main_color_revert {
  background: #FFF;
  color: #00b388;
  -webkit-box-shadow: inset 0 0 0 1px #00b388;
          box-shadow: inset 0 0 0 1px #00b388;
  text-shadow: none; }
  body.no-touch .btn-main_color_revert:hover {
    background: #00b388; }
  .btn-main_color_revert:after {
    border-left: 1px solid #00b388;
    background-color: #FFF; }

.icon {
  position: relative;
  padding: 0; }
  .icon:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-image: url("../img/decor/product-icons.png"); }

.icon-balance {
  width: 27px;
  height: 23px; }
  .icon-balance:after {
    width: 27px;
    height: 23px;
    background-position: 0 -20px; }

.icon-heart {
  width: 24px;
  height: 20px; }
  .icon-heart:after {
    width: 24px;
    height: 20px;
    background-position: 0 0; }

.form__input {
  background: #F0F0F0;
  padding: 8px 60px 8px 15px;
  border: 1px solid #00b388;
  -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
          box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s; }
  .form__input:focus {
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn-rect {
  display: inline-block;
  height: 43px;
  line-height: 43px;
  padding-right: 20px;
  padding-left: 20px;
  border: none;
  text-align: center;
  background: #00b388;
  text-transform: uppercase;
  white-space: nowrap;
  font-family: "Furore", sans-serif;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  color: #FFF;
  -webkit-transition: background .2s, color .2s;
  -o-transition: background .2s, color .2s;
  transition: background .2s, color .2s; }
  body.no-touch .btn-rect:hover {
    background: #00e6af; }

.btn-rect_bg_blue {
  background: #507299; }
  body.no-touch .btn-rect_bg_blue:hover {
    background: #6089B9;
    color: #FFF; }

.link-more-wrap {
  margin-top: 30px;
  text-align: center; }

.link-more {
  display: inline-block;
  border: 1px solid #25282a;
  text-align: center;
  font-family: "Furore", sans-serif;
  padding: 8px 25px;
  letter-spacing: .4px;
  color: #282828;
  -webkit-transition: background .2s, color .2s, border-color;
  -o-transition: background .2s, color .2s, border-color;
  transition: background .2s, color .2s, border-color; }
  body.no-touch .link-more:hover {
    background: #00b388;
    border-color: #008061;
    color: #FFF; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header__top {
  background: #00b388; }

.header__top-content {
  padding-top: 17px;
  padding-bottom: 17px;
  color: #FFF; }

.header__slogan {
  font-family: "Furore", sans-serif;
  letter-spacing: 0.4px;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0; }

.form-call {
  display: inline-block;
  position: relative;
  padding-left: 32px; }
  .form-call:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 19px;
    height: 19px;
    background-image: url("../img/decor/icons.png");
    background-repeat: no-repeat;
    background-position: 0 -18px; }

.form-call__btn {
  padding-left: 0;
  padding-right: 0;
  font-family: "Furore", sans-serif;
  white-space: nowrap;
  border: none;
  border-bottom: 1px solid  #FFF;
  background-color: transparent;
  -webkit-transition: color .2s, border-bottom .2s;
  -o-transition: color .2s, border-bottom .2s;
  transition: color .2s, border-bottom .2s;
  color: #FFF; }
  body.no-touch .form-call__btn:hover {
    border-bottom: 1px solid #DDE331;
    color: #DDE331; }

.header__form-call {
  float: right; }

.header__top-border {
  position: relative;
  height: 15px;
  width: 100%;
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF; }
  .header__top-border:before, .header__top-border:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid; }
  .header__top-border:before {
    left: -6px;
    border-width: 0 0 15px 6px;
    border-color: transparent transparent #FFF transparent; }
  .header__top-border:after {
    right: -6px;
    border-width: 15px 0 0 6px;
    border-color: transparent transparent transparent #FFF; }

.header__main {
  background: #FFF; }

.header__main-content {
  padding-bottom: 20px; }

.header__main-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  max-width: 590px;
  margin-left: auto;
  padding-left: 55px;
  padding-right: 55px;
  border-left: 1px solid  #dcdcdc;
  border-right: 1px solid  #dcdcdc; }

.contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.contacts-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
  margin-right: 20px;
  padding-left: 70px;
  font-size: 0.875rem;
  letter-spacing: .35px; }
  .contacts-item:last-child {
    margin-right: 0; }
  .contacts-item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("../img/decor/icons.png");
    background-repeat: no-repeat;
    width: 58px;
    height: 58px; }

.contacts-item_phone:after {
  background-position: 0 -78px; }

.contacts-item_email:after {
  background-position: 0 -194px; }

.header__search {
  margin-top: 10px; }

.form-search {
  position: relative; }
  .form-search input {
    width: 100%;
    background: #F0F0F0;
    padding: 8px 60px 8px 15px;
    border: 1px solid #00b388;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
            box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.6);
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s; }
    .form-search input:focus {
      -webkit-box-shadow: none;
              box-shadow: none; }
  .form-search button {
    position: absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(#19AB7E), to(#15916C));
    background: -o-linear-gradient(#19AB7E, #15916C);
    background: linear-gradient(#19AB7E, #15916C);
    width: 42px;
    border: none;
    top: 0;
    bottom: 0;
    right: 0;
    color: #FFF; }
    .form-search button:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: url("../img/decor/icons.png") no-repeat;
      background-position: 0 -37px;
      width: 20px;
      height: 20px; }

.basket {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 60px;
  padding-left: 70px;
  position: relative;
  font-size: 0.875rem;
  letter-spacing: .35px; }
  .basket:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 58px;
    height: 58px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background-image: url("../img/decor/icons.png");
    background-position: 0 -136px; }

.header__basket {
  float: right; }

.basket__title {
  display: block; }

.basket__value {
  text-transform: uppercase;
  font-weight: 700;
  color: #e11a1a; }

.header__nav {
  background: #00b388; }

.header__nav-content {
  padding-top: 10px; }

.nav__overlay {
  position: fixed;
  z-index: 900;
  display: none;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000; }

.nav__overlay_animate {
  opacity: .7; }

.nav__overlay_visible {
  display: block; }

.nav__close {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  top: 0;
  cursor: pointer;
  right: 17px;
  opacity: 1;
  font-size: 1.75rem;
  color: #FFF; }
  .nav__close:after {
    content: '\000D7'; }

.nav__mob-button {
  display: none;
  width: 25px;
  height: 25px;
  background: url("../img/decor/menu.png") no-repeat;
  background-size: 25px 25px;
  cursor: pointer; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0;
  padding-bottom: 0;
  margin-bottom: 0; }

.nav__list-inner {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  top: 58px;
  left: 0;
  list-style: none;
  padding: 20px 30px;
  background: #FFF;
  border: 1px solid #dcdcdc;
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  -o-transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  min-width: 100%; }

.nav__item-inner {
  margin-bottom: 10px; }
  .nav__item-inner:last-child {
    margin-bottom: 0; }

.nav__link-inner {
  display: inline-block;
  padding-bottom: 4px;
  font-size: 0.875rem;
  text-transform: uppercase;
  white-space: nowrap;
  color: #333333;
  border-bottom: 1px solid transparent;
  -webkit-transition: color .2s, border-color .2s;
  -o-transition: color .2s, border-color .2s;
  transition: color .2s, border-color .2s; }
  .nav__link-inner:hover {
    border-bottom-color: #00b388;
    color: #00b388; }

.nav__item {
  position: relative;
  padding-bottom: 10px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link,
.nav__list-title {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 13px 30px 11px 15px;
  -webkit-box-shadow: inset 0 0 0 1px #FFF;
          box-shadow: inset 0 0 0 1px #FFF;
  border-right: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#19AB7E), to(#15916C));
  background: -o-linear-gradient(#19AB7E, #15916C);
  background: linear-gradient(#19AB7E, #15916C);
  text-align: center;
  font-family: "Furore", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5px;
  cursor: pointer;
  color: #FFF; }
  .nav__link:after,
  .nav__list-title:after {
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    border-left: 1px solid  #FFF;
    height: calc(100% + 20px);
    top: -10px;
    right: -4px;
    -webkit-transform: rotate(-10deg);
        -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);
    background: #00b388; }
  body.no-touch .nav__link:hover, body.no-touch
  .nav__list-title:hover {
    color: #DDE331; }

.nav__list-title:before {
  content: '';
  display: block;
  position: absolute;
  background-image: url("../img/decor/icons.png");
  background-repeat: no-repeat;
  background-position: 0 -252px;
  width: 9px;
  height: 8px;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

/*!
 * =============================
 *
 *     #FOOTER
 *
 * =============================
 */
.footer {
  margin-top: auto;
  background: #25282a; }

.footer__content {
  padding-top: 60px;
  padding-bottom: 60px; }

.logo__link {
  display: block;
  text-align: center; }

.logo__text {
  display: block;
  margin-top: 15px;
  text-align: center;
  font-size: 0.875rem;
  font-family: "Furore", sans-serif; }

.footer__logo .logo__text {
  color: #FFF; }

.footer__nav {
  padding-top: 10px;
  text-align: center; }

.footer__nav-list {
  display: inline-block;
  margin-bottom: 0;
  padding-left: 0;
  text-align: left; }

.footer__nav-link {
  display: block;
  margin-bottom: 12px;
  font-size: 0.875rem;
  color: #FFF; }
  body.no-touch .footer__nav-link:hover {
    color: #DDE331; }

.footer__contacts-block {
  max-width: 510px; }

.contacts-block_color_light {
  color: #FFF; }

.social-item {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00b388;
  margin-right: 25px;
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s; }
  .social-item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url("../img/decor/social-icons.png");
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .social-item:last-child {
    margin-right: 0; }
  body.no-touch .social-item:hover {
    background-color: #00e6af; }

.social-item_fb:after {
  width: 14px;
  height: 26px;
  background-position: 0 -18px; }

.social-item_vk:after {
  width: 30px;
  height: 18px;
  background-position: 0 0; }

.footer__social-block {
  margin-top: 10px; }

/*!
 * =============================
 *
 *     #WELCOME
 *
 * =============================
 */
.welcome-wrap {
  background-image: url("../img/decor/welcome-carousel-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px; }

.welcome-carousel {
  position: relative; }
  .welcome-carousel .lSPager {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .welcome-carousel .lSSlideOuter .lSPager.lSpg > li a {
    background: #C7C7C7;
    width: 12px;
    height: 12px; }
  .welcome-carousel .lSSlideOuter .lSPager.lSpg > li.active a, .welcome-carousel .lSSlideOuter .lSPager.lSpg > li:hover a {
    background: #00b388; }
  .welcome-carousel .lSAction {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
        -ms-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    max-width: 1170px;
    width: 100%; }
    .welcome-carousel .lSAction > a {
      background-image: url("../img/decor/arrow-carousel.png");
      background-repeat: no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px; }
  .welcome-carousel .lSNext {
    background-position: center;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.welcome-carousel__item {
  border: 10px solid #00b388;
  padding: 20px;
  padding-left: 240px;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.welcome-carousel__title {
  line-height: 1.2;
  font-weight: 400;
  font-family: "Furore", sans-serif;
  font-size: 5.375rem;
  color: #FFF; }

/*!
 * =============================
 *
 *     #PRODUCTS
 *
 * =============================
 */
.products__content .col-md-6:nth-child(1) .product-thumbs:after,
.products__content .col-md-6:nth-child(2) .product-thumbs:after,
.products__content .col-md-6:nth-child(3) .product-thumbs:after {
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
  width: 160px;
  height: 160px;
  border: 1px solid #25282a;
  right: -95px;
  bottom: -95px; }

.product-thumbs {
  display: block;
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 8px;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto; }
  body.no-touch .product-thumbs:hover .product-thumbs__title {
    color: #DDE331; }
  body.no-touch .product-thumbs:hover img {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05); }

.product-thumbs__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 270px;
  background-image: url("../img/decor/product-thumbs-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .product-thumbs__img img {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }

.product-thumbs__title {
  position: absolute;
  width: 235px;
  height: 62px;
  bottom: -8px;
  left: 10px;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

/*!
 * =============================
 *
 *     #OFFER
 *
 * =============================
 */
.offer__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  height: 301px;
  max-height: 301px;
  width: 370px;
  background-image: url("../img/decor/offer-img.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }
  .offer__img:before {
    content: '';
    float: left;
    padding-top: 82%; }
  .offer__img img {
    max-height: 100%; }

.offer__link {
  display: block;
  position: absolute;
  bottom: 2px;
  right: 27px;
  background: #00b388;
  padding: 7px 15px;
  font-family: "Furore", sans-serif;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: .5px;
  color: #FFF; }
  body.no-touch .offer__link:hover {
    color: #DDE331; }
  .offer__link:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: -25px;
    top: 0;
    border-style: solid;
    border-width: 25px 0 0 25px;
    border-color: transparent transparent transparent #00b389; }
  .offer__link:before {
    content: '';
    display: block;
    position: absolute;
    height: calc(100% - 25px);
    width: 25px;
    bottom: 0;
    right: -25px;
    background: #00b388; }

.offer__text {
  margin-bottom: 20px;
  font-size: 0.875rem;
  line-height: 21px; }

.info-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0; }

.info-list__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
  font-size: 0.875rem; }
  .info-list__item:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 16px;
    background-image: url("../img/decor/icons.png");
    background-repeat: no-repeat;
    background-position: 0 -260px; }
  .info-list__item:last-child {
    margin-bottom: 0; }

/*!
 * =============================
 *
 *     #TOP-PRODUCTS
 *
 * =============================
 */
.top-products {
  background: #E3E3E3; }

.product {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #FFF;
  padding: 10px; }

.product__img {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
  border: 1px solid #dcdcdc; }
  .product__img:before {
    content: '';
    float: left;
    padding-top: 100%; }

.product__title {
  margin-bottom: 30px;
  font-size: 0.875rem; }

.product__time {
  margin-bottom: 20px;
  font-size: 0.875rem; }
  .product__time span {
    padding-left: 5px;
    font-weight: 700;
    color: #00b388; }

.product__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: -10px; }

.product__link {
  padding: 12px 20px; }
  body.no-touch .product__link:hover {
    color: #DDE331; }

.product__nav-btns {
  margin-left: auto;
  margin-right: auto; }

.product__nav-btn {
  background-color: transparent;
  border: none;
  margin-right: 10px; }
  .product__nav-btn:last-child {
    margin-right: 0; }

/*!
 * =============================
 *
 *     #CLIENTS
 *
 * =============================
 */
.clients-carousel {
  position: relative;
  padding-right: 7%;
  padding-left: 7%; }

.clients-carousel__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0; }

.clients-carousel__nav-btn {
  position: absolute;
  display: inline-block;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/decor/arrow-carousel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 20px;
  height: 20px;
  padding: 0;
  background-color: transparent;
  border: none; }

.clients-carousel__nav-btn_prev {
  left: 30px; }

.clients-carousel__nav-btn_next {
  right: 30px;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg); }

.clients-carousel__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 100px;
  background: #FFF; }

/*!
 * =============================
 *
 *     #INFO
 *
 * =============================
 */
.info__content .news,
.info__content .soc-groups {
  width: 100%;
  max-width: 570px;
  margin-left: auto;
  margin-right: auto; }

.info__content .sub-title {
  -ms-flex-item-align: start;
      align-self: flex-start; }

.info__content .row .col-xl-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }

.news {
  background: #FFF;
  padding: 30px 20px 60px 20px; }

.news-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 15px;
  color: #282828; }
  .news-item:last-child {
    margin-bottom: 0; }

.news-item__img {
  margin-right: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.news-item__desc {
  font-size: 0.875rem; }

.news-item__date {
  display: block;
  line-height: 1;
  margin-bottom: 12px; }

.news-item__title {
  margin-bottom: 8px;
  font-size: 0.875rem; }

.news-item__text {
  line-height: 21px;
  letter-spacing: .4px; }

.news__sub {
  margin-top: 20px; }

.form-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%; }
  .form-sub input {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    max-width: 280px; }
  .form-sub button {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    border: none;
    text-align: center;
    background: #00b388;
    text-transform: uppercase;
    font-family: "Furore", sans-serif;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    color: #FFF;
    -webkit-transition: background .2s, color .2s;
    -o-transition: background .2s, color .2s;
    transition: background .2s, color .2s; }
    body.no-touch .form-sub button:hover {
      background: #00e6af; }

.soc-groups {
  padding: 30px 20px;
  background: #FFF;
  text-align: center; }

.soc-group {
  margin-bottom: 30px; }
  .soc-group:last-child {
    margin-bottom: 0; }

.soc-group__img {
  margin-bottom: 15px; }

/*!
 * =============================
 *
 *     #MAP
 *
 * =============================
 */
.map {
  position: relative;
  height: 450px; }

.map__content {
  padding-top: 20px; }

.map-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.contacts {
  max-width: 470px;
  background: #FFF;
  padding: 30px; }
  .contacts .btn-rect {
    display: block;
    width: 100%; }

.map__contacts {
  position: relative;
  z-index: 10; }

.contact {
  margin-bottom: 30px; }
  .contact:last-child {
    margin-bottom: 0; }

.contact__title {
  margin-bottom: 10px;
  font-size: 1.25rem;
  letter-spacing: .5px;
  font-weight: 400;
  font-family: "Furore", sans-serif;
  color: #00b388; }

.contact__value {
  padding-left: 12px;
  line-height: 1.4;
  font-size: 0.875rem;
  font-family: "Furore", sans-serif; }

/*!
 * =============================
 *
 *     #COMPANY
 *
 * =============================
 */
.company__content {
  padding-top: 60px; }

.company__text {
  font-size: 0.875rem; }

/*!
 * =============================
 *
 *     #BREADCRUMBS
 *
 * =============================
 */
.breadcrumbs {
  padding-top: 25px;
  padding-bottom: 35px; }

.breadcrumbs__content {
  font-size: 0.75rem;
  letter-spacing: 0.3px; }

.breadcrumbs__link {
  display: inline-block;
  position: relative;
  padding-right: 25px;
  color: #969696;
  white-space: nowrap; }
  body.no-touch .breadcrumbs__link:hover {
    color: #00b388; }
  .breadcrumbs__link:after {
    content: '>';
    position: relative;
    right: -10px; }

.breadcrumbs__curr {
  display: inline-block;
  white-space: nowrap;
  color: #00b388; }

/*!
 * =============================
 *
 *     #CARD
 *
 * =============================
 */
.card .sub-title {
  margin-top: 0; }

.card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #FFF;
  margin-bottom: 30px;
  padding: 10px 0 10px 10px; }

.card__photos {
  border: 1px solid #dcdcdc;
  max-width: 360px;
  padding: 25px; }
  .card__photos .lSSlideWrapper {
    margin-bottom: 30px; }
  .card__photos .lSSlideOuter .lSPager.lSGallery {
    text-align: center; }
  .card__photos .lSSlideOuter .lSPager.lSGallery li.active, .card__photos .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0; }
  .card__photos .lSSlideOuter .lSPager.lSGallery li {
    float: none;
    display: inline-block;
    max-width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
    background: #FFF;
    -webkit-box-shadow: 0 0 0 1px #dcdcdc;
            box-shadow: 0 0 0 1px #dcdcdc;
    -webkit-transition: -webkit-box-shadow .2s;
    transition: -webkit-box-shadow .2s;
    -o-transition: box-shadow .2s;
    transition: box-shadow .2s;
    transition: box-shadow .2s, -webkit-box-shadow .2s; }
    .card__photos .lSSlideOuter .lSPager.lSGallery li:first-child {
      margin-left: 5px; }
    .card__photos .lSSlideOuter .lSPager.lSGallery li.active {
      -webkit-box-shadow: 0 0 0 1px #00b388;
              box-shadow: 0 0 0 1px #00b388; }
    .card__photos .lSSlideOuter .lSPager.lSGallery li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 100px;
      height: 100px;
      padding: 5px; }
  .card__photos .lSSlideOuter .lSPager.lSGallery img {
    max-width: 80px; }

.card__photos-img {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px; }

.card__details {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.card__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 10px 30px 30px;
  border-bottom: 1px solid #dcdcdc; }

.card__code {
  display: block;
  margin-bottom: 20px;
  font-size: 0.75rem;
  color: #969696; }

.card__product-name {
  margin-bottom: 15px;
  font-size: 1.25rem;
  font-weight: 700; }

.card__time {
  margin-bottom: 0;
  font-size: 0.875rem; }
  .card__time span {
    padding-left: 5px;
    font-weight: 700;
    color: #00b388; }

.card__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.card__nav-btn {
  position: relative;
  height: 35px;
  line-height: 30px;
  border-radius: 3px;
  border: 1px solid #dcdcdc;
  margin-right: 10px;
  padding-right: 10px;
  padding-left: 50px;
  background-color: transparent;
  font-size: 0.75rem;
  color: #999999;
  -webkit-transition: border-color .2s, color .2s;
  -o-transition: border-color .2s, color .2s;
  transition: border-color .2s, color .2s; }
  body.no-touch .card__nav-btn:hover {
    border-color: #00b388;
    color: #00b388; }
  .card__nav-btn:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 12px;
    background-image: url("../img/decor/product-icons.png");
    background-repeat: no-repeat; }
  .card__nav-btn:last-child {
    margin-right: 0; }

.card__nav-btn_balance:after {
  background-position: 0 -20px;
  width: 27px;
  height: 23px; }

.card__nav-btn_heart:after {
  background-position: 0 0;
  width: 24px;
  height: 20px; }

.card__nav-share {
  position: relative;
  width: 21px;
  height: 21px;
  border: none;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px; }
  .card__nav-share:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("../img/decor/icons.png");
    background-repeat: no-repeat;
    background-position: 0 -57px;
    width: 21px;
    height: 21px; }

.card__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 30px 30px 20px;
  border-bottom: 1px solid #dcdcdc; }

.card__price-value {
  margin-top: 20px;
  font-weight: 700;
  font-size: 1.875rem;
  letter-spacing: .75px;
  color: #00b388; }

.card__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px; }

.card__options-def {
  margin-right: 30px; }

.card__options-title {
  display: block;
  margin-bottom: 6px;
  font-size: 0.75rem; }

.radio-option {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  border-radius: 3px;
  font-size: 0.75rem;
  border: 1px solid #dcdcdc;
  text-align: center;
  color: #999999;
  cursor: pointer;
  -webkit-transition: color .2s, bacgkround .2s;
  -o-transition: color .2s, bacgkround .2s;
  transition: color .2s, bacgkround .2s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .radio-option:last-child {
    margin-right: 0; }

.radio-option_active {
  background: #00b388;
  border-color: #00b388;
  color: #FFF; }

.card__options-count {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.count-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  max-width: 160px; }

.count-options__btn {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border: 1px solid #dcdcdc;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#DADADA));
  background: -o-linear-gradient(#FFF, #DADADA);
  background: linear-gradient(#FFF, #DADADA);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.count-options__btn_disabled {
  pointer-events: none;
  opacity: .7; }

.count-options__value {
  border: none;
  height: 30px;
  line-height: 33px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #F4F4F4;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
  text-align: center; }

.card__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .card__actions .btn-main {
    margin-right: 30px;
    padding: 7px 20px; }
    body.no-touch .card__actions .btn-main:hover {
      color: #DDE331; }
    .card__actions .btn-main:last-child {
      margin-right: 0; }
  .card__actions .btn-main_color_revert {
    padding-left: 30px;
    text-align: left; }

.card__delivery {
  padding: 20px 30px 30px;
  border-bottom: 1px solid #dcdcdc; }

.card__delivery-title {
  position: relative;
  margin-bottom: 12px;
  padding-left: 40px;
  font-size: 0.875rem;
  font-weight: 400; }
  .card__delivery-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    background-image: url("../img/decor/icons.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 18px;
    width: 28px; }

.card__delivery-text {
  margin-bottom: 0;
  padding-left: 40px;
  font-size: 0.875rem;
  color: #999999; }
  .card__delivery-text span {
    color: #282828; }

.tooltip {
  display: inline-block;
  position: relative;
  border-radius: 50%;
  text-align: center;
  width: 17px;
  height: 17px;
  margin-left: 8px;
  line-height: 17px;
  background: #E3E3E3;
  font-style: normal;
  color: #282828;
  cursor: pointer; }
  body.no-touch .tooltip:hover .tooltip__text {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .tooltip:after {
    content: '?'; }

.tooltip__text {
  position: absolute;
  visibility: hidden;
  z-index: 10;
  top: 100%;
  left: 0;
  background: #FFF;
  text-align: left;
  border: 1px solid #dcdcdc;
  padding: 7px;
  font-size: 0.75rem;
  width: 200px;
  -webkit-transform: translateY(-7px);
      -ms-transform: translateY(-7px);
          transform: translateY(-7px);
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  -o-transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s;
  transition: transform .2s, opacity .2s, -webkit-transform .2s;
  cursor: default; }

.tooltip__text_visible {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.tooltip__text_pos_revert {
  right: 0;
  left: auto; }

.card__misc-info {
  padding: 20px 30px 0; }

.card__misc-text {
  margin-bottom: 2px;
  font-size: 0.75rem;
  color: #999999; }

.tabs__nav {
  padding-left: 10px;
  padding-right: 10px; }

.tabs__nav-item {
  display: inline-block;
  text-align: center;
  padding: 5px 40px;
  font-family: "Furore", sans-serif;
  letter-spacing: .5px;
  font-size: 0.875rem;
  color: #969696;
  cursor: pointer;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s;
  border: 1px solid transparent;
  border-bottom: 1px solid #FFF;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  body.no-touch .tabs__nav-item:hover {
    color: #00b388; }

.tabs__nav-item_active {
  background-color: #FFF;
  border-color: #00b388;
  border-bottom-color: #FFF;
  color: #00b388; }

.tabs__item {
  display: none;
  background: #FFF;
  padding: 30px; }

.tabs__item_active {
  display: block; }

.tabs__item-text {
  margin-bottom: 30px;
  font-size: 0.8125rem;
  line-height: 18px; }

.product-table-wrap {
  overflow-x: auto; }

.card__tabs table {
  max-width: 100%;
  text-align: center;
  font-size: 0.8125rem;
  background: #F0F0F0;
  width: 1110px; }
  .card__tabs table td {
    border: 5px solid  #FFF;
    padding: 7px 15px; }
    .card__tabs table td:last-child {
      white-space: nowrap;
      -webkit-box-flex: 2;
          -ms-flex: 2;
              flex: 2; }

/*!
 * =============================
 *
 *     #CATALOG
 *
 * =============================
 */
.catalog-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.filter {
  width: 270px;
  margin-right: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.filter-item {
  background: #FFF;
  margin-bottom: 10px; }
  .filter-item:last-child {
    margin-bottom: 0; }

.filter-item_opened .filter-item__content {
  display: block; }

.filter-item_opened .filter-item__title:after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.filter-item__title {
  position: relative;
  padding: 15px;
  font-weight: 400;
  font-size: 0.875rem;
  letter-spacing: .4px;
  line-height: 1.5;
  font-family: "Furore", sans-serif;
  color: #00b388;
  cursor: pointer; }
  .filter-item__title:after {
    content: '>';
    display: block;
    position: absolute;
    right: 20px;
    top: 15px;
    color: #999999;
    font-weight: 700;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }

.filter-item__content {
  display: none;
  padding: 0 10px 15px; }

.filter__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 20px; }

.filter__btn {
  width: calc(50% - 15px);
  background-color: #00b388;
  border: none;
  padding: 8px 12px;
  text-align: center;
  font-family: "Furore", sans-serif;
  color: #FFF;
  -webkit-transition: background .2s, color .2s;
  -o-transition: background .2s, color .2s;
  transition: background .2s, color .2s; }
  body.no-touch .filter__btn:hover {
    background: #008061; }

.filter__btn_color_revert {
  background-color: transparent;
  -webkit-box-shadow: inset 0 0 0 1px #00b388;
          box-shadow: inset 0 0 0 1px #00b388;
  color: #00b388; }
  body.no-touch .filter__btn_color_revert:hover {
    color: #FFF;
    background: #00b388; }

.catalog__products-wrap {
  width: calc(100% - 300px);
  padding-bottom: 40px; }

.catalog__products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .catalog__products > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 3 * 1% - 30px);
    margin-left: 15px;
    margin-right: 15px; }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

@media only screen and (max-width: 74.9375em) {
  .section-title {
    padding-top: 15px;
    padding-bottom: 10px;
    font-size: 1.875rem; }
    .section-title:after, .section-title:before {
      height: 15px; }
  .header__main-center {
    padding-left: 30px;
    padding-right: 30px; }
  .welcome-carousel__item {
    min-height: 250px; }
  .welcome-carousel__title {
    font-size: 3.4375rem; }
  .products__content .col-md-6:nth-child(1) .product-thumbs:after,
  .products__content .col-md-6:nth-child(2) .product-thumbs:after,
  .products__content .col-md-6:nth-child(3) .product-thumbs:after {
    display: none; }
  .offer__img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    height: auto; }
  .clients-carousel {
    padding-left: 30px;
    padding-right: 30px; }
  .clients-carousel__nav-btn_prev {
    left: 0; }
  .clients-carousel__nav-btn_next {
    right: 0; }
  .card__title,
  .card__price {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .card__title-left {
    margin-bottom: 20px; }
  .card__nav {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .card__price-value {
    margin-top: 0;
    margin-bottom: 20px; }
  .catalog__products .product {
    width: calc(50% - 60px); } }

@media only screen and (max-width: 61.9375em) {
  .header__nav-content {
    padding-bottom: 10px; }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .nav__mob-button {
    display: inline-block;
    margin-right: 5px; }
  .nav__list {
    display: block;
    position: fixed;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    top: 50px;
    right: 0;
    width: 100%;
    min-height: calc(100vh - 50px);
    background: #00b388;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .nav__list.animate {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    .nav__list.trs {
      -webkit-transition: -webkit-transform .6s;
      transition: -webkit-transform .6s;
      -o-transition: transform .6s;
      transition: transform .6s;
      transition: transform .6s, -webkit-transform .6s; }
    body.no-js .nav__list {
      position: static;
      width: auto; }
  .nav__item {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0; }
  .nav__link,
  .nav__list-title {
    display: block;
    border-bottom: 1px solid #FFF;
    padding: 12px 40px 12px 20px;
    line-height: 24px;
    text-align: left;
    font-size: 0.9375rem;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: #00b388;
    color: #FFF; }
    .nav__link:after,
    .nav__list-title:after {
      display: none; }
  .nav__list-title:after {
    right: 25px;
    top: 14px; }
  .nav__list-inner {
    display: none;
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 0;
    border: none;
    background: #B8B8B8;
    margin-bottom: 0;
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; }
  .nav__item-inner {
    margin-bottom: 0; }
  .nav__link-inner {
    display: block;
    position: relative;
    padding: 12px 20px 12px 45px;
    border-bottom: 1px solid  #FFF;
    color: #FFF; }
    .nav__link-inner:before {
      content: '';
      display: block;
      position: absolute;
      left: 25px;
      top: 20px;
      width: 5px;
      height: 1px;
      background: #FFF; }
    .nav__link-inner:hover {
      color: #FFF;
      background: #00b388;
      border-bottom: 1px solid  #FFF; }
  .header__slogan {
    font-size: 0.875rem; }
  .header__main-center {
    max-width: none;
    border-left: none;
    padding-left: 0;
    padding-right: 35px; }
  .footer__content {
    padding-top: 30px;
    padding-bottom: 30px; }
  .footer__contacts {
    margin-top: 25px; }
  .footer__logo .logo__link,
  .footer__logo .logo__text {
    text-align: left; }
  .welcome-carousel__item {
    min-height: 180px; }
  .welcome-carousel__title {
    font-size: 2.375rem; }
  .card__info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .card__details {
    width: 100%;
    padding-top: 20px; }
  .card__title,
  .card__price,
  .card__delivery,
  .card__misc-info {
    padding-left: 0; }
  .tabs__nav {
    padding-left: 0;
    padding-right: 0; }
  .tabs__nav-item {
    display: block;
    text-align: left;
    border: none;
    padding: 10px 15px; }
  .tabs__nav-item_active {
    -webkit-box-shadow: inset 0 0 0 1px #00b388;
            box-shadow: inset 0 0 0 1px #00b388; }
  .tabs__item {
    padding: 15px; }
  .catalog-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .catalog-wrap .filter {
      margin-right: 0;
      width: 100%;
      margin-bottom: 40px; }
  .catalog__products-wrap {
    width: 100%; }
  .catalog__products {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media only screen and (max-width: 47.9375em) {
  .section-title {
    font-size: 1.375rem;
    padding-top: 7px; }
    .section-title:after, .section-title:before {
      height: 8px;
      width: calc(10% + 10px); }
  .header__slogan {
    text-align: center;
    margin-bottom: 20px; }
  .header__basket {
    margin-bottom: 15px;
    float: none; }
  .header__main-center {
    border-right: none;
    border-top: 1px solid #dcdcdc;
    padding-top: 10px;
    padding-right: 0; }
  .welcome-carousel__item {
    padding-left: 4%; }
  .welcome-carousel__title {
    font-size: 1.875rem; }
  .offer__img img {
    max-width: 70%; }
  .offer__link {
    font-size: 1.375rem; }
  .form-sub {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .form-sub input,
    .form-sub button {
      max-width: none; }
    .form-sub input {
      margin-bottom: 15px; }
  .catalog__products-wrap {
    width: 100%; }
  .catalog__products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-left: auto;
    margin-right: auto; }
    .catalog__products .product {
      width: 100%;
      margin-left: auto;
      margin-right: auto; } }

@media only screen and (max-width: 36em) {
  .sub-title {
    display: block;
    min-width: auto;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 8px 15px;
    font-size: 1.125rem;
    line-height: 1.2;
    width: calc(100% - 5px); }
  .sub-title_full-width {
    margin-top: 0; }
  .contacts-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .nav__link,
  .nav__list-title {
    padding: 8px 40px 8px 20px; }
  .nav__link-inner {
    padding: 8px 20px 8px 45px; }
  .footer__logo {
    margin-bottom: 20px; }
    .footer__logo .logo__link,
    .footer__logo .logo__text {
      text-align: center; }
  .footer__nav {
    text-align: left; }
  .news {
    padding: 15px;
    padding-bottom: 30px; }
  .news-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .news-item__img {
    margin-bottom: 15px; }
  .map-wrap {
    display: none; }
  .map__content {
    padding-top: 0; }
  .contacts {
    padding: 15px; }
  .company__content {
    padding-top: 20px; }
  .card__info {
    padding-right: 10px; }
  .card__photos {
    padding: 10px;
    width: 270px; }
  .card__photos-img {
    padding-top: 0;
    padding-bottom: 0; }
    .card__photos-img img {
      max-width: 120px; }
  .card__photos .lSSlideOuter .lSPager.lSGallery img {
    max-width: 50px; }
  .card__photos .lSSlideOuter .lSPager.lSGallery li,
  .card__photos .lSSlideOuter .lSPager.lSGallery li a {
    width: 70px;
    max-width: 70px;
    height: 70px; }
  .card__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .card__nav-btn {
    margin-bottom: 15px; }
  .card__nav-share {
    margin-right: auto; }
  .card__options {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .card__price {
    padding-right: 0; }
  .card__options-def {
    margin-right: 0;
    margin-bottom: 20px; }
  .card__options-count {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .card__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
    .card__actions .btn-main {
      margin-bottom: 20px;
      margin-right: 0;
      width: calc(100% - 6px); }
      .card__actions .btn-main:last-child {
        margin-bottom: 0; }
    .card__actions .btn-main_color_revert {
      width: 100%; }
      .card__actions .btn-main_color_revert br {
        display: none; }
  .card__delivery {
    padding-right: 0; }
  .card__delivery-text {
    padding-left: 0; } }

@media only screen and (min-width: 36em) {
  .d-sm-block {
    display: block !important; } }

@media only screen and (min-width: 48em) {
  .d-md-block {
    display: block !important; } }

@media only screen and (min-width: 62em) {
  .d-lg-block {
    display: block !important; }
  .nav__item:hover .nav__list-inner {
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    visibility: visible; } }
