/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
    /*margin: 0;*/
    /*padding: 0;*/
    /*border: 0;*/
    /*font-size: 100%;*/
    /*font: inherit;*/
    /*vertical-align: baseline;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    /*list-style: none;*/
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


* {
	box-sizing: border-box;
}

button {
	font: inherit;
}

body {
	min-height: 100%;
	position: relative;
	overflow-x: hidden;
	margin: 0;
	color: #272728;
	font-size: 16px;
}
input {
	font-size: 16px;
}

img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
	vertical-align: bottom;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
}
a, a:hover, a:focus {
	text-decoration: none;
}

li {
	outline: none;
}

input[type=submit],
button {
	cursor: pointer
}

a {
	transition: color .2s;
	color: #272728;
}

a:visited {
	color: #272728;
}

a:hover {
	color: #FCBF0E;
}

body.touch a:hover {
	color: #272728;
}

p {
	line-height: 1.2;
}

ul {
	line-height: 1.3;
}

@font-face {
    font-family: 'DINPro';
    src: url(public/fonts/DINPro-Regular.de352690d020ae9f5fc8c19c070736d4.eot);
    src: url(public/fonts/DINPro-Regular.de352690d020ae9f5fc8c19c070736d4.eot?#iefix) format('embedded-opentype'),
    url(public/fonts/DINPro-Regular.8a68f231bd1ca9b716cfa1ebfdb5ad71.woff2) format('woff2'),
    url(public/fonts/DINPro-Regular.6e76efdffea475b9d3a24455ec9b9de3.woff) format('woff'),
    url(public/fonts/DINPro-Regular.544f047889535cd0518e8d996203a831.ttf) format('truetype'),
    url(public/fonts/DINPro-Regular.d793adaa6e06d9f354f7e84660462ef6.svg#DINPro-Regular) format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url(public/fonts/DINPro-Black.9e2ba32e98a3965649676c602fac1e29.eot);
    src: url(public/fonts/DINPro-Black.9e2ba32e98a3965649676c602fac1e29.eot?#iefix) format('embedded-opentype'),
    url(public/fonts/DINPro-Black.b900f00e503c7e04e411d02214ff6836.woff2) format('woff2'),
    url(public/fonts/DINPro-Black.094db6fd0d35a57a29c8150c6ea25961.woff) format('woff'),
    url(public/fonts/DINPro-Black.b57d5d4cc46ab3cb0f444fee311fd3f5.ttf) format('truetype'),
    url(public/fonts/DINPro-Black.6a54f98fb005147249b57f69b7e67291.svg#DINPro-Black) format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url(public/fonts/DINPro-Light.9c7e6a41dcc51d0006fd403bdc0975b4.eot);
    src: url(public/fonts/DINPro-Light.9c7e6a41dcc51d0006fd403bdc0975b4.eot?#iefix) format('embedded-opentype'),
    url(public/fonts/DINPro-Light.9e897c13ed87038d0060eba71edda081.woff2) format('woff2'),
    url(public/fonts/DINPro-Light.e868070991c773348e99771c6f2d66b1.woff) format('woff'),
    url(public/fonts/DINPro-Light.e06508d75c5ff89ef172a7837dc8ee97.ttf) format('truetype'),
    url(public/fonts/DINPro-Light.5876b741fb628c00afe80fc52140da41.svg#DINPro-Light) format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url(public/fonts/DINPro-Medium.431ae1c285580528eed2369d3c05d20d.eot);
    src: url(public/fonts/DINPro-Medium.431ae1c285580528eed2369d3c05d20d.eot?#iefix) format('embedded-opentype'),
    url(public/fonts/DINPro-Medium.80ca698ba1ed0a59606059eb18c840c0.woff2) format('woff2'),
    url(public/fonts/DINPro-Medium.7ac6bc57ce08c06f23f63f52a6b4ced8.woff) format('woff'),
    url(public/fonts/DINPro-Medium.164e814baf6f0465c4e91b3abb4066b2.ttf) format('truetype'),
    url(public/fonts/DINPro-Medium.d244258ed92038163a44bab503dbb437.svg#DINPro-Medium) format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DINPro';
    src: url(public/fonts/DINPro-Bold.df336d3d8d5ba3d25cff0a3624423e70.eot);
    src: url(public/fonts/DINPro-Bold.df336d3d8d5ba3d25cff0a3624423e70.eot?#iefix) format('embedded-opentype'),
    url(public/fonts/DINPro-Bold.7272b1fec139fd47bffc45f081716e08.woff2) format('woff2'),
    url(public/fonts/DINPro-Bold.05ff96e6594c57718328c58d9b8194e8.woff) format('woff'),
    url(public/fonts/DINPro-Bold.e44aba4f44c2f489314f4a6b2645c33d.ttf) format('truetype'),
    url(public/fonts/DINPro-Bold.9b5cd9a15c4b9dff2dee392821916fc1.svg#DINPro-Bold) format('svg');
    font-weight: 700;
    font-style: normal;
}

body {
  font-family: 'DIN Pro', sans-serif;
  background: linear-gradient(to right, rgba(232, 232, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

main {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

#root {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
}

#particles-js {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}


@media (min-width: 768px) {
  .hidden-tablet-up {
    display: none !important;
  }

  main {
    position: relative;
    padding-left: 180px;
  }

  #root {
    min-height: calc(100vh + 200px);
  }
}

@media (min-width: 1024px) {
  .hidden-desktop-up {
    display: none !important;
  }

  #root {
    min-height: calc(100vh + 220px);
  }

  main {
    padding-left: 240px;
  }
}

@media (max-width: 767px) {
  .visible-tablet-up {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .visible-desktop-up {
    display: none !important;
  }

  .hidden-tablet-down {
    display: none !important;
  }
}
@media (max-width: 380px) {
  .hidden-xs-down {
    display: none !important;
  }
}



/*# sourceMappingURL=app.css.map*/