@charset "utf-8";
/* CSS Document */ 

a {text-decoration:none;
transition:  all 0.3s ease-out;}  
h1, h2, h3, h4, h5, h6{font-weight:normal;}

img{border:none;}
textarea{resize: none;}
textarea:hover{cursor:text;}
input,textarea{outline:none;}
a,button,textarea{outline: none;cursor:pointer;}
li{list-style:none;}
button{background:none;border:none;	}
input[type="submit"]{
transition:  all 0.3s ease-out;}
input[type="submit"]:hover{cursor:pointer;}
input[type="submit"]{border:none;-webkit-appearance: none;}
input[type="search"]::-webkit-search-cancel-button {background:none;display:none;}
input[type="text"]::-webkit-text-cancel-button {background:none;display:none;}
input[type="tel"]::-webkit-text-cancel-button {background:none;display:none;}
input::-ms-clear {
   display: none;
}
:focus {
    outline: none;
}
.clearfix{clear:both;width:100%;display:inline-block;vertical-align:top;}
* {
-o-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin:0;
padding:0;
}
div{font-size:0;}



@font-face {
	font-family: 'ProximaNova-Black';
	src: url(../fonts/Proxima%20Nova%20Black.otf) ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Bold';
	src: url(../fonts/Proxima%20Nova%20Bold.otf) ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Extrabld';
	src: url(../fonts/Proxima%20Nova%20Extrabold.otf) ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Light';
	src:url(../fonts/Proxima%20Nova%20Light.otf);
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: url(../fonts/Proxima%20Nova%20Regular.otf) ;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url(../fonts/Proxima%20Nova%20Semibold.otf) ;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerBold';
	src: url('../fonts/MullerBold.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf') format('truetype'), url('../fonts/MullerBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerRegular';
	src: url('../fonts/MullerRegular.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf') format('truetype'), url('../fonts/MullerRegular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerHeavy';
	src: url('../fonts/MullerHeavy.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerHeavy.woff') format('woff'), url('../fonts/MullerHeavy.ttf') format('truetype'), url('../fonts/MullerHeavy.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerExtraBold';
	src: url('../fonts/MullerExtraBold.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerExtraBold.woff') format('woff'), url('../fonts/MullerExtraBold.ttf') format('truetype'), url('../fonts/MullerExtraBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerLight';
	src: url('../fonts/MullerLight.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerLight.woff') format('woff'), url('../fonts/MullerLight.ttf') format('truetype'), url('../fonts/MullerLight.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'MullerMedium';
	src: url('../fonts/MullerMedium.eot') format('embedded-opentype');
	src: local('☺'), url('../fonts/MullerMedium.woff') format('woff'), url('../fonts/MullerMedium.ttf') format('truetype'), url('../fonts/MullerMedium.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
.conteiner {
	width: 100%;max-width: 1200px;margin: 0 auto;padding: 0 15px;
}
body{letter-spacing: 0.025em;}
/*----popup---*/
.overlay1 {
    background-color: rgba(0, 0, 0, 0.2);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 99999;
		transition: opacity .5s;
}
.popup1 {
	display: inline-block;
	background-color: #fff;
	left: 50%;padding: 40px 95px 70px;
	opacity: 0;
	width: 100%;max-width: 540px;
    height: auto;margin-left: -270px;
	position: fixed;
	top: 20%;
	visibility: hidden;
	z-index: 999999;
	transition: opacity .5s, top .5s;
	    border-radius: 4px;
}
		
.popup1 .close_window {
	
	position: absolute;
transition:  all 0.3s ease-out;
	    top: 15px;
    right: 15px;
	cursor: pointer;
	text-align: center;
	
}
.popup1 .close_window:hover { /* Для Firefox */
 -ms-transform: rotate(180deg); /* Для IE */ /* Для Safari, Chrome, iOS */ /* Для Opera */
 transform: rotate(180deg);
}
.popup1 h2 {color:#283951;font-family: 'ProximaNova-Extrabld';text-align:center;font-weight:700;font-size:30px;padding-bottom:30px;text-transform: uppercase;} 
.input_item{margin-bottom: 15px;}
.input_item p{font-size: 14px;padding-bottom: 10px;color:#000000;font-family: 'ProximaNova-Regular';}
.input_one{display: block;vertical-align: top;border:1px solid #E7E7E7;border-radius: 4px;width: 100%;
padding: 0 20px;line-height: 40px;height: 40px;color:#283951;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;color:#A4A4A4;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;color:#A4A4A4;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;color:#A4A4A4;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;color:#A4A4A4;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;color:#A4A4A4;font-family: 'ProximaNova-Regular';font-size: 14px;}
.input_one:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.input_one:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.input_one:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
/*--------popup(thx)----*/

.popup16 {
	display: inline-block;
	background-color: #fff;
	left: 50%;padding: 40px 95px 70px;
	opacity: 0;
	width: 100%;max-width: 540px;
    height: auto;margin-left: -270px;
	position: fixed;
	top: 20%;
	visibility: hidden;
	z-index: 999999;
	transition: opacity .5s, top .5s;
	    border-radius: 4px;
}
.popup16 .sform p {
	color:#000;font-weight:400;font-size:18px;font-family: 'ProximaNova-Regular';text-align: center;
	}

.popup16 .close_window16 {
		position: absolute;
transition:  all 0.3s ease-out;
	    top: 15px;
    right: 15px;
	cursor: pointer;
	text-align: center;
	
}
.popup16 .close_window16:hover { /* Для Firefox */
 -ms-transform: rotate(180deg); /* Для IE */ /* Для Safari, Chrome, iOS */ /* Для Opera */
 transform: rotate(180deg);
}	
/*--------popup(thx)----*/

.header{background: url(../img/bg/1.jpg) no-repeat top center;background-size: cover;padding: 25px 0 65px;}
.top li{display: inline-block;vertical-align: top;}
.top li + li{margin-left: 25px;}
.top li a{color:#fff;font-size: 14px;font-family: 'MullerLight';position: relative;display: inline-block;vertical-align: top;}
.top li a:after{position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #FFFFFF;
    content: '';
    transition: transform 0.5s;
    -ms-transform: scale(0);
        transform: scale(0);}

.top li a:hover:after{
    -ms-transform: scale(1);
        transform: scale(1);}

.top{margin-bottom: 70px;}
.head_txt h2{text-transform: uppercase;color:#fff;line-height: 36px;font-size: 36px;font-family: 'MullerExtraBold';}
.head_txt h6{line-height: 36px;font-size: 26px;font-family: 'MullerLight';color:#fff;display: inline-block;vertical-align: top;position: relative; padding-right: 20px;
}
.head_txt h6:before{
	content: '';
	position: absolute;
	right: 0;
	bottom: -5px;
	width: 58%;
	height: 1px;
	background: #74727F;
}

.head_txt h6:after{
	content: '';
	position: absolute;
	right: 0;
	top: 5px;
	width: 1px;
	height: 100%;
	background: #74727F;
}


.wrap_why{padding: 55px 0 40px;}
.why_item {margin-bottom: 20px; padding-left: 50px; padding-top: 8px; font-size: 16px; color:#fff;font-family: 'MullerRegular'; min-height: 30px;}

.why_item:nth-child(1){
	background: url('../img/block_one/1.png') no-repeat left center;
}
.why_item:nth-child(2){
	background: url('../img/block_one/2.png') no-repeat left center;
}
.why_item:nth-child(3){
	background: url('../img/block_one/3.png') no-repeat left center;
}

.head_wr_txt{position: relative;width: 100%;max-width: 700px;padding: 25px 0 20px 20px; }

.head_wr_txt p{font-size: 15px;color:#fff;line-height: 24px;font-family: 'MullerRegular';}

.but{display: block;vertical-align: top;text-transform: uppercase;font-size: 16px;color:#000000;font-family: 'MullerRegular';border-radius: 4px;width: 100%;max-width: 355px;text-align: center;line-height: 45px;background: #9CFF00;margin-top: 25px;position: relative;z-index: 2;
}
.but:hover{background: #7ECE00;box-shadow: none;}

.head_wr_txt:before{content: ''; height: 100%; width: 5% ;position: absolute;top:0;left: 0; border-left: 1px solid #74727F; border-top: 1px solid  #74727F;}

.head_wr_txt:after{content: '';width: 28%; height: 22%;position: absolute;bottom:50%;right: -25px; border-right: 1px solid  #878590; border-bottom: 1px solid  #878590;}

.title{text-align: center;text-transform: uppercase;font-family: 'MullerExtraBold';font-size: 36px;color:#0A1720;padding-bottom: 72px;padding-top: 65px;}

.left_clients{width: 620px;position: relative;}
.left_clients ul{margin-bottom: 15px;}
.left_clients li{display: block;vertical-align: top;margin-bottom: 25px;position: relative;padding-left: 25px;font-size: 18px;color:#322F42;font-family: 'MullerRegular';line-height: 24px;}
.left_clients li span{text-transform: uppercase;font-family: 'MullerExtraBold';}
.left_clients li:before{content: '';background: #322F42;border-radius: 50% 50%;width: 8px;height: 8px;position: absolute;top:8px;left:0;}
.clients_txt{position: relative;padding: 35px 0 0 30px;}
.clients_txt h4{text-transform: uppercase;color:#0A1720;font-size: 18px;font-family: 'MullerBold';padding-bottom: 20px;line-height: 26px;}
.clients_txt h4 span{display: block;vertical-align: top;}
.clients_txt p{font-size: 16px;line-height: 24px;color:#0A1720;text-indent: 35px;font-family: 'MullerRegular';}
.clients_txt:before{content: '';width: 95%;height: 100%;position: absolute;top:0px;left: 0px; border-left: 1px solid #7667CD; border-top: 1px solid  #7667CD;}
.clients_txt:after{content: '';width: 95%;height: 11%;position: absolute;top:0px;left: 0px; border-right: 1px solid #7667CD; }


.wrap_monitor{position: absolute;background: url(../img/icons/comp.png) no-repeat top center;background-size: cover;width: 605px;height: 496px;right: -135px;}
.wrap_monitor span{position: absolute;    top: 22px;
    left: 22px;
    width: 93%;}
.wrap_monitor span img{width: 100%;height: auto;}
.wr_monitor{position: relative;    height: 100%;}
.block2{padding-bottom: 40px;}
.block2 .conteiner{position: relative;}
.wrap_stat{text-align: justify; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: justify; justify-content: space-between;}
.stat_item{text-align: center;margin-bottom: 40px; width: 25%;}
.stat_img {margin-bottom: 25px;}

.stat_img{
	width: 50px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*svg fallback*/

.no-svg .stat_item:nth-child(1) .stat_img {
	background-image: url('../img/stat/1.png') !important;
}
.no-svg .stat_item:nth-child(2) .stat_img {
	background-image: url('../img/stat/2.png') !important;
}
.no-svg .stat_item:nth-child(3) .stat_img {
	background-image: url('../img/stat/3.png') !important;
}
.no-svg .stat_item:nth-child(4) .stat_img {
	background-image: url('../img/stat/4.png') !important;
}


.stat_item p{font-size: 18px;line-height: 24px; padding-left: 10px; padding-right: 10px; color:#000000;font-family: 'MullerMedium';}
.block3{padding-bottom: 40px;background: url(../img/bg/2.jpg) no-repeat top right;background-size: cover;}
.stat_txt{position: relative;text-align: center;color:#0A1720;width: 100%;max-width: 905px;margin: 0 auto;padding: 28px 45px; border-bottom: 1px solid  #7667CD; border-right: 1px solid  #7667CD;}
.stat_txt span{display: block;vertical-align: top;font-size: 15px;font-family: 'MullerRegular';line-height: 24px;padding-bottom: 10px;}
.stat_txt p{font-size: 14px;font-family: 'MullerRegular';line-height: 24px;}
.stat_txt h4{font-size: 18px;font-family: 'MullerBold';text-transform: uppercase;padding-bottom: 15px;    line-height: 26px;}
.stat_txt:before{content: '';width: 1px;height: 25%;bottom: 0;left:0;position: absolute; background: #7667CD;}

.stat_txt:after{content: '';width: 12%;height: 1px;top: 0;right:0;position: absolute; background: #7667CD;}


.block4{position: relative;padding-bottom: 75px;}

.wrap_prilozhenie{width: 100%;max-width: 870px;position: relative;z-index: 2;}

.wr_prilozhenie{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	-ms-flex-pack: justify;
	    justify-content: space-between;
}
.prilozhenie_item{
	width: 45%;
}

.prilozhenie_item{display: inline-block;vertical-align: top;margin-bottom: 30px;}
.prilozhenie_img{margin-bottom: 23px;}
.prilozhenie_item p{text-transform: uppercase;font-size: 18px;color:#000000;line-height: 26px;font-family: 'MullerMedium';}
.prilozhenie_item p span{display: block;vertical-align: top;}

.prilozgenie_txt{position: relative;margin-top: 40px;padding: 0 0 25px 32px;}
.prilozgenie_txt h4{text-transform: uppercase;color:#000000;font-size: 26px;font-family: 'MullerBold';padding-bottom: 15px;}

.prilozgenie_txt p:first-of-type {display: block;vertical-align: top;font-size: 17px;line-height: 26px;color:#000000;font-family: 'MullerRegular';width: 100%;max-width: 610px;margin-bottom: 15px;background: #9CFF00;border-radius: 4px;padding: 15px 20px;}
.prilozgenie_txt p{font-size: 16px;color:#000000;line-height: 24px;text-indent: 35px;font-family: 'MullerRegular';}

.prilozgenie_txt:before{content: '';position: absolute;bottom: 0;left:0;width: 93%;height: 70%; border-bottom: 1px solid  #7667CD;border-left: 1px solid  #7667CD;}
.mob_img{position: absolute;bottom: 0;right: 0;width: 36%;}
.mob_img img{width: 100%;height: auto;}

.block5{background: #EDEDED;}
.block5 .conteiner {
	position: relative;
}
.block5 .wrap_monitor {
    right: auto;
    margin-left: -25px;
    position: static;
    float: left;
    width: 545px;
    height: 448px;
}
.wrap_jurnal{float: right;width: 570px;}
.jurnal_item{text-align: center;width: 49%;margin-bottom: 40px;display: inline-block;vertical-align: top;}
.jurnal_item p{margin-top: 25px;text-transform: uppercase;color:#000000;font-size: 18px;line-height: 26px;font-family: 'MullerMedium';}
.wr_jurnal{padding-bottom: 15px;}
.jurnal_txt{position: relative;padding: 25px 25px;font-size: 16px;color:#000000;line-height: 24px;font-family: 'MullerRegular';}
.jurnal_txt p{text-indent: 35px;}
.jurnal_txt:before{content: '';position: absolute;top: 0;left:0;width: 98%;height: 65%; border-top: 1px solid  #7667CD; border-right: 1px solid  #7667CD;}
.jurnal_txt:after{content: '';position: absolute;top: 0;left:0;width: 1px;height: 21%;background: #7667CD; }


.mastera_item{display: inline-block;vertical-align: top;width: 33.33%;margin-bottom: 65px;text-align: center;}

.mastera_img {margin-bottom: 25px;}
.mastera_item p{text-transform: uppercase;color:#000000;line-height: 26px;font-size: 18px;font-family: 'MullerRegular';}
.mastera_txt{float: right;width: 66%;padding: 30px 0 25px 25px;font-size: 16px;color:#000000;line-height: 24px;font-family: 'MullerRegular';position: relative; margin-top: -217px;}
.mastera_txt p{text-indent: 35px;}

.mastera_txt:before{content: '';position: absolute;top: 0;left:0;width: 65%;	height: 100%; border-bottom: 1px solid  #7667CD; border-left: 1px solid #7667CD;   }
.mastera_txt:after{content: '';position: absolute;top: 0;left:0;width: 45%;	height: 1px; background: #7667CD;   }


.mastera_item{display: inline-block;vertical-align: top;width: 33%;margin-bottom: 65px;text-align: center;}
.oboruduvanie_txt a{margin: 0 auto;margin-top: 25px;}
.oboruduvanie_txt {text-align: center;width: 100%;max-width: 843px;margin: 0 auto;padding: 42px 10px 45px;position: relative;color:#0A1720;}
.oboruduvanie_txt:before{content: '';position: absolute;top: 0;left:0;width: 24%;height: 100%; border-left: 1px solid  #7667CD; border-bottom: 1px solid  #7667CD; }
.oboruduvanie_txt:after{content: '';position: absolute;top: 0;left:0;width: 100%;height: 16%; border-right: 1px solid  #7667CD; border-top: 1px solid  #7667CD; }


.oboruduvanie_txt h4{text-transform: uppercase;font-size: 24px;font-family: 'MullerBold';padding-bottom: 10px;}
.oboruduvanie_txt p{font-size: 16px;line-height: 24px;font-family: 'MullerRegular';}
.block7{padding-bottom: 40px;background: url(../img/bg/3.jpg) no-repeat top right;background-size: cover;}
.block8{padding-bottom: 45px;}
.usluga_item{display: inline-block;vertical-align: top;max-width: 330px;width: 100%;position: relative;margin-bottom: 50px;}
.usluga_img {margin-bottom: 25px;}
.usluga_item p{text-transform: uppercase;color:#000000;line-height: 26px;font-size: 18px;font-family: 'MullerRegular';}
.usluga_item:last-child{margin-left: 200px;}
.wrap_uslugi{text-align: center;position: relative;padding-top: 30px;}
.line_r{display: block;vertical-align: top;position: absolute;top:0;left:50%;width: 4px;height: 202px;
	margin-left: -2px;background: #9CFF00; /* Для Firefox */
-ms-transform: rotate(193deg); /* Для IE */ /* Для Safari, Chrome, iOS */ /* Для Opera */
transform: rotate(193deg);}

.uslugi_txt {text-align: center;width: 100%;max-width: 970px;margin: 0 auto;padding: 25px 10px;position: relative;color:#0A1720;}
.uslugi_txt:before{content: '';position: absolute;bottom: 0;right:0;width: 12%;height: 100%; border-right: 1px solid  #7667CD; border-top: 1px solid  #7667CD; }
.uslugi_txt:after{content: '';position: absolute;bottom: 0;right:0;width: 100%;height: 50%; border-bottom: 1px solid  #7667CD; border-left: 1px solid  #7667CD; }



.uslugi_txt p{font-size: 16px;line-height: 24px;font-family: 'MullerRegular';}
.block9{padding-bottom: 40px;background: url(../img/bg/4.jpg) no-repeat top right;background-size: cover;}
	
.uvedomlenie_txt {text-align: center;width: 100%;max-width: 970px;margin: 0 auto;padding: 25px 10px;position: relative;color:#0A1720;}
.uvedomlenie_txt:before{content: '';position: absolute;bottom: -25px;left:0;width: 100%;height: 16%; border-bottom: 1px solid  #7667CD; border-right: 1px solid  #7667CD; }
.uvedomlenie_txt:after{content: '';position: absolute;bottom: -25px;left:0;width: 1px;height: 41%;background: #7667CD;}


.uvedomlenie_txt h4{text-transform: uppercase;font-size: 24px;font-family: 'MullerBold';padding-bottom: 10px;}
.uvedomlenie_txt p{font-size: 16px;line-height: 24px;font-family: 'MullerRegular';}
.uvedomlenie_txt span{display: block;vertical-align: top;text-align: center;margin: 0 auto;color:#000000;font-size: 18px;border-radius: 4px;width: 100%;max-width: 380px;line-height: 45px;background: #9CFF00;margin-bottom: 45px;font-family: 'MullerBold';}
.wrap_online{text-align: justify;}
.online_item{display: inline-block;vertical-align: top;text-align: center;margin-bottom: 50px;}
.online_img {margin-bottom: 25px;}
.online_item p{text-transform: uppercase;color:#000000;line-height: 26px;font-size: 18px;font-family: 'MullerRegular';}
.online_txt a{margin: 0 auto;margin-top: 25px;}
.online_txt {text-align: center;width: 100%;max-width: 927px;margin: 0 auto;padding:25px 10px 45px;position: relative;color:#0A1720;}
.online_txt:before{content: '';position: absolute;top: 0;left:0;width: 100%;height: 70%; border-top: 1px solid  #7667CD; border-left: 1px solid  #7667CD; }
.online_txt:after{content: '';position: absolute;top: 70%;left:0;width: 10%;height: 1px; background: #7667CD; }


.online_txt h4{text-transform: uppercase;font-size: 24px;font-family: 'MullerBold';padding-bottom: 10px;}
.online_txt span{display: block;vertical-align: top;}
.online_txt p{font-size: 16px;line-height: 24px;font-family: 'MullerRegular';}
.block10{padding-bottom: 15px;}
.block11{border-top:1px solid #CCCCCC;padding-bottom: 90px;}
.rev_txt p{font-size: 14px;line-height: 24px;font-family: 'MullerRegular';position: relative;border-radius: 4px;padding-bottom: 32px;margin-bottom: 25px;}
.rev_txt{text-align: center;background: #fff;color:#312E2B;padding: 85px 55px 30px;
box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.15);}
.rev_txt p:after{content: '';background: #9CFF00;width: 40px;height: 2px;position: absolute;top:100%;left:50%;margin-left: -20px;}
.rev_txt h4{font-size: 18px;line-height: 24px;font-family: 'MullerBold';}
.rev_txt span{font-size: 14px;line-height: 20px;display: block;vertical-align: top;font-family: 'MullerRegular';font-style: italic;display: block;vertical-align: top;}
.wrap_rev{position: relative;width: 100%;max-width: 860px;margin:0 auto;}
.rev_img{position: absolute;top:-62px;left:50%;margin-left: -62px;width: 124px;}
.rev_img img{width: 100%;height: auto;border-radius: 50% 50%;}

.slider .slick-arrow{font-size: 0;z-index: 6;
transition:  all 0.3s ease-out;
position: absolute;top:50%;margin-top:-23px;width: 64px;height: 46px;opacity: 0.3; }
.slider .slick-arrow.slick-prev{background: url(../img/icons/ar_sl.png) no-repeat top center;background-size: cover;    left: 22%;}
.slider .slick-arrow.slick-next{background: url(../img/icons/ar_sl.png) no-repeat top center;background-size: cover;    right: 22%; /* Для Firefox */
-ms-transform: rotate(180deg); /* Для IE */ /* Для Safari, Chrome, iOS */ /* Для Opera */
transform: rotate(180deg);}
.slider .slick-arrow:hover{opacity: 1;}
.slide_rev{opacity: 0.6;}
.slide_rev.slick-current{opacity: 1;}
.wrap_tarifu p{color:#FFFFFF;font-size: 18px;line-height: 40px;border-bottom: 1px solid #5C5B5D; display: -ms-flexbox; display: flex; -ms-flex-flow: row wrap; flex-flow: row wrap; -ms-flex-pack: justify; justify-content: space-between;}
.wrap_tarifu p span { -ms-flex: auto; flex: auto;  }
.wrap_tarifu p span:last-child{ text-align: right; }
.footer .title{color:#fff;}
.footer{background: url(../img/bg/foot.jpg) no-repeat top center;background-size: cover;}

.wrap_tarifu{padding-bottom: 40px;font-family: 'MullerRegular';}
.footer_txt{text-align: center;padding-bottom: 45px;}
.footer_txt h4{font-size: 21px;line-height: 24px;font-family: 'MullerMedium';color:#fff;padding-bottom: 20px;}
.footer_txt p{font-size: 16px;line-height: 24px;color:#fff;font-family: 'MullerRegular';}
.footer_txt a.but{margin: 0 auto;margin-top: 25px;}
.footer_txt a.up{text-decoration: underline;margin-top: 25px;font-size: 14px;color:#FFFFFF;opacity: 0.6;font-family: 'MullerRegular';display: block;vertical-align: top;}
.footer_txt a.up:hover{text-decoration: none;opacity: 1;}
.foot_contacts{text-align: center;padding-bottom: 45px;
}
.foot_contacts a{display: block;vertical-align: top;color:#fff;}
.foot_contacts a.tel{font-size: 30px;font-family: 'MullerExtraBold';line-height: 30px;}
.foot_contacts a.mail{font-size: 18px;font-family: 'MullerLight';line-height: 30px;}
.foot_contacts p{font-size: 18px;font-family: 'MullerLight';color:#fff;line-height: 30px;}
.foot_links{width: 100%;max-width: 700px;padding: 21px 0 10px;text-align: center;margin: 0 auto;border-top: 1px solid #6F6D72;}
.foot_links li{display: inline-block;vertical-align: top;margin: 0 13px 10px;}
.foot_links li a{display: inline-block;vertical-align: top;color:#fff;font-size: 14px;font-family: 'MullerRegular';}
.foot_links li a:hover{text-decoration: underline;}
.wraper{overflow: hidden;}















































.jurnal_img{height: 48px;}
.online_img{height: 56px;}
.usluga_img{height: 56px;}



@media (max-width: 1900px){
}
@media (max-width: 1799px){
	.slider .slick-arrow.slick-next {
    right: 19%;
}
		.slider .slick-arrow.slick-prev {
    left: 19%;
}
}
@media (max-width: 1679px){
}
@media (max-width: 1599px){
		.slider .slick-arrow.slick-next {
    right: 16%;
}
		.slider .slick-arrow.slick-prev {
    left: 16%;
}
}
@media (max-width: 1535px){
			.slider .slick-arrow.slick-next {
    right: 15%;
}
		.slider .slick-arrow.slick-prev {
    left: 15%;
}
	.wrap_monitor {
    width: 536px;
    height: 430px;
    right: -20px;
}
}
@media (max-width: 1439px){
	.wrap_rev {
    max-width: 800px;
}
	.rev_txt {
    padding: 75px 35px 30px;
}
}
@media (max-width: 1350px){
				.slider .slick-arrow.slick-next {
    right: 10%;
}
		.slider .slick-arrow.slick-prev {
    left: 10%;
}
	.mob_img {
    width: 40%;
}
	.wrap_prilozhenie {
    max-width: 745px;
}
	.prilozhenie_item + .prilozhenie_item {
    margin-left: 9%;
}
}
@media (max-width: 1279px){
	.prilozhenie_item{

	}

	.mob_img {
		width: 27%;
	}

	.block5 .wrap_monitor {
    margin-left: 0px;
}
	.wrap_monitor {
    width: 490px;
    height: 401px;
    right: 15px;
}
	.wrap_tarifu{
		padding-left: 12px;
		padding-right: 12px;
	}

}
@media (max-width: 1199px){
					.slider .slick-arrow.slick-next {
    right: 15px;
}
		.slider .slick-arrow.slick-prev {
    left: 15px;
}
	.wrap_monitor {
    width: 410px;
    height: 338px;
}
	.block5 .wrap_monitor {
    width: 470px;
    height: 384px;
}
	

}
@media (max-width: 1099px){
	.block5 .wrap_monitor {
    width: 400px;
    height: 330px;
}
	.wrap_prilozhenie {
    max-width: 768px;
}
	.wrap_monitor {
    width: 347px;
    height: 283px;
}
}
@media (max-width: 1023px){

	.mob_img {
		display: none;
	}
	
	.wrap_prilozhenie{
		max-width: none;
	}

	.wrap_jurnal{
		width: 100%;
		max-width: none;
		float: none;
		margin-top: 50px;
	}

	.wrap_monitor {
    width: 100%;
    height: 455px;
    max-width: 550px;
    position: static;
    margin: 0 auto;
    margin-bottom: 25px;
}
	.left_clients {
    float: none;
    width: 100%;
    position: relative;
}
	.block5 .wrap_monitor {
    width: 100%;
    height: 455px;
    max-width: 550px;
    position: static;
    margin: 0 auto;float: none;
    margin-bottom: 25px;
}
	.wrap_rev {
    max-width: 720px;
}
}
@media (max-width: 899px){
	.wrap_monitor {
    height: 364px;
    max-width: 440px;
}
	.head_wr_txt:after{
		right: 0;
	}

	.block5 .wrap_monitor {
     height: 364px;
    max-width: 440px;
}
	.title {
    padding-bottom: 35px;
    padding-top: 45px;
}
	.mastera_item p {
    font-size: 15px;
}
	.jurnal_item p {
    font-size: 15px;
}
	.prilozhenie_item p {
    font-size: 15px;
}
	.stat_item p {
    font-size: 15px;
}
	.block6{padding-bottom: 40px;}
	.mastera_item p {
    font-size: 14px;
}
	.usluga_item:last-child {
    margin-left: 60px;
}
	.usluga_item p {
    font-size: 15px;
}
	.online_item p {
    font-size: 15px;
}
	.slider{margin-top: 40px;}
	.slider .slick-arrow {

    margin-top: -12px;
    width: 32px;
    height: 23px;
}
	.wrap_rev {
    max-width: 670px;
}
	.footer_txt p br{display: none !important;}
}
@media (max-width: 767px){
	.stat_item {
    margin-bottom: 25px;
    width: 50%;
}
	.mastera_item {
    width: 48%;
    margin-bottom: 45px;
}
	.mastera_txt {
    float: none;
    width: 100%;
    margin-top: 0px;
}
	.wrap_mastera{text-align: center;}
	.oboruduvanie_txt {
    padding: 25px 10px 25px;

}
	.usluga_item {
    max-width: 280px;
}
	.title {
    font-size: 30px;
}
	.online_txt span {
    display: inline;
}
	.rev_txt {
    padding: 75px 15px 30px;
}
	.wrap_rev {
    max-width: 560px;
}
	.mob_img {
    width: 40%;
    opacity: 0.6;
}
	.block7 {
		background-position: right 8% top;
	}

}
@media (max-width: 666px){
	.online_item {
    width: 49%;margin-bottom: 35px;
}

	.clients_txt:after{
		display: none;
	}

	.wrap_online {
    text-align: center;
}
	.usluga_item {
    max-width: 280px;
    width: calc(49% - 15px);
}
	.usluga_item p {
    font-size: 14px;
}
	.usluga_item:last-child {
    margin-left: 30px;
}
	.prilozhenie_item {
    width: calc(49% - 15px);
}
	.prilozhenie_item + .prilozhenie_item {
    margin-left: 30px;
}
	.prilozhenie_item p {
    font-size: 14px;
}
	.prilozhenie_item p span{
    display: none;
}
	.stat_txt {
    padding: 15px 20px;
}
	.head_wr_txt:after{display: none;}
	.top li + li {
    margin-left: 0px;
}
	.top li {
    display: block;
    vertical-align: top;padding: 7px 0;border-bottom: 1px solid #000;
}
	.header{position: relative;}
	.pull{display: block;vertical-align: top;background: url(../img/icons/gamb.png) no-repeat center center;background-size: cover;width: 24px;height: 23px;z-index: 9;    position: relative;
transition:  all 0.3s ease-out;}
	.pull.is_open{background: url(../img/icons/close.png) no-repeat center center;}
	.pull.is_open:hover{ /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */ /* Для Safari, Chrome, iOS */ /* Для Opera */
    transform: rotate(180deg);}
	.top ul {
    padding-top: 50px;
    position: absolute;
    background: #fff;
    width: 100%;
    left: 0;
    top: 0px;
    z-index: 8;
    text-align: center;display: none;
}
	.popup1 {
   padding: 30px 20px 30px;
    max-width: 360px;
    margin-left: -180px;
    top: 25px;
}
	.popup1 h2 {
		font-size: 21px;
	}

/*	.input_item > p {
		display: none;
	}
*/
	.inp_submt{
		margin-left: auto;
		margin-right: auto;
	}

	.popup2 {
    padding: 30px 20px 30px;
    max-width: 360px;
    margin-left: -180px;
}
	.top li a {
    color: #000;
}
	.wrap_rev {
    max-width: 468px;
}
	.foot_links li {
    margin: 0 4px 10px;
}
	.wrap_tarifu{
		padding-left: 0;
		padding-right: 0;
	}

}
@media (max-width: 567px){
	.wrap_tarifu p {
    font-size: 14px;
    line-height: 32px;
}
	.title {
    font-size: 24px;
}
	.rev_img {
    top: -45px;
    margin-left: -45px;
    width: 90px;
}
	.rev_txt {
    padding: 55px 15px 30px;
}
	.wrap_rev {
    max-width: 380px;
}
	.online_txt h4 {
    font-size: 20px;
}
	.online_item p {
    font-size: 13px;
    line-height: 20px;
}
	.uvedomlenie_txt h4 {
    font-size: 20px;
}
	.usluga_item p {
    font-size: 12px;
}
	.line_r{display: none;}
	.mastera_item p {
    font-size: 12px;
    line-height: 20px;
}
	.oboruduvanie_txt h4 {
    font-size: 20px;
}
	.but {
    font-size: 12px;
    max-width: 250px;
}
	.prilozgenie_txt h4 {
    font-size: 20px;
}
	.prilozgenie_txt span {
    font-size: 14px;
}
		.prilozgenie_txt span br{
    display: none !important;
}
	.mob_img{display: none;}
}
	.popup1 h2 {
		padding-bottom: 12px;
	}

	.input_item{
		margin-bottom: 10px;
	}

	.input_item p {
		padding-bottom: 4px;
	}
	.input_one {
		padding: 0 12px;
	}

@media (max-width: 479px){
	.head_txt h2 {
    line-height: 30px;
    font-size: 24px;
}
	.head_txt h6 {
    line-height: 30px;
    font-size: 20px;
}
	.wrap_monitor {
    height: 237px;
    max-width: 290px;
}
	.block5 .wrap_monitor {
     height: 237px;
    max-width: 290px;
}
	.wrap_monitor span {
    top: 10px;
    left: 10px;
}
	.left_clients li {
    font-size: 16px;
}
	.clients_txt {padding: 35px 0 0 15px;
}
	.popup1 {
    padding: 30px 20px 30px;
    max-width: 300px;
    margin-left: -150px;
}
	.popup2 {
    padding: 30px 20px 30px;
    max-width: 300px;
    margin-left: -150px;
}
	.popup1 h2 {
		font-size: 19px;
	}
	.stat_txt {
    padding: 15px 15px;
}
	.prilozhenie_item {
    width: 100%;
    text-align: center;
}
	.prilozhenie_item + .prilozhenie_item {
    margin-left: 0px;
}
	.prilozgenie_txt {
    padding: 0 0 25px 0px;
}
	
	.prilozgenie_txt:before{
		border-left: none;
	}

	.uvedomlenie_txt span {
    font-size: 14px;
}
	.slider .slick-arrow.slick-prev {
    left: 5px;
}
	.slider .slick-arrow.slick-next {
    right: 5px;
}
	.wrap_rev {
    max-width: 245px;
}
	.rev_txt {
    padding: 55px 5px 30px;text-align: left;
}
	.rev_txt h4 {
    text-align: center;
}
		.rev_txt span {
    text-align: center;
}
	.wrap_tarifu p {
    font-size: 13px;
}
	.foot_contacts p {
    font-size: 15px;

}
}
@media (max-width: 374px){
}
