/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none; }

/* NORMALIZE */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/* VARIABLES */
.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 20px;
      padding-right: 20px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #FFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  color: #010101; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  transition: color .2s; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif; }

textarea {
  resize: none; }

/* FONTS */
/*!
 * =============================
 *
 *     #FONTS
 *
 * =============================
 */
@font-face {
  font-family: 'icons';
  src: url("../fonts/icons/icons.eot?4tz35e");
  src: url("../fonts/icons/icons.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/icons/icons.ttf?4tz35e") format("truetype"), url("../fonts/icons/icons.woff?4tz35e") format("woff"), url("../fonts/icons/icons.svg?4tz35e#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-close:before {
  content: "\e905";
  color: #da0228; }

.icon-ruble:before {
  content: "\e900";
  color: #fff; }

.icon-vk:before {
  content: "\e901";
  color: #fff; }

.icon-odnoklassniki-logo:before {
  content: "\e902";
  color: #fff; }

.icon-arr-right:before, .about__right-list > li:before {
  content: "\e903";
  color: #fff; }

.icon-download:before, .about__right-sublist li:before {
  content: "\e904";
  color: #a6a7a7; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/regular/raleway-regular.eot?4tz35e");
  src: url("../fonts/Raleway/regular/raleway-regular.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/Raleway/regular/raleway-regular.ttf?4tz35e") format("truetype"), url("../fonts/Raleway/regular/raleway-regular.woff?4tz35e") format("woff"), url("../fonts/Raleway/regular/raleway-regular.svg?4tz35e#icons") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/medium/raleway-medium.eot?4tz35e");
  src: url("../fonts/Raleway/medium/raleway-medium.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/Raleway/medium/raleway-medium.ttf?4tz35e") format("truetype"), url("../fonts/Raleway/medium/raleway-medium.woff?4tz35e") format("woff"), url("../fonts/Raleway/medium/raleway-medium.svg?4tz35e#icons") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/bold/raleway-bold.eot?4tz35e");
  src: url("../fonts/Raleway/bold/raleway-bold.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/Raleway/bold/raleway-bold.ttf?4tz35e") format("truetype"), url("../fonts/Raleway/bold/raleway-bold.woff?4tz35e") format("woff"), url("../fonts/Raleway/bold/raleway-bold.svg?4tz35e#icons") format("svg");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/Raleway/extra-bold/raleway-extra-bold.eot?4tz35e");
  src: url("../fonts/Raleway/extra-bold/raleway-extra-bold.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/Raleway/extra-bold/raleway-extra-bold.ttf?4tz35e") format("truetype"), url("../fonts/Raleway/extra-bold/raleway-extra-bold.woff?4tz35e") format("woff"), url("../fonts/Raleway/extra-bold/raleway-extra-bold.svg?4tz35e#icons") format("svg");
  font-weight: 900;
  font-style: normal; }

/*!
 * =============================
 *
 *     #COMMON
 *
 * =============================
 */
html.modal-open {
  overflow: hidden; }

a {
  transition: color .2s; }

.cta-btn {
  border-radius: 6px;
  outline: none;
  padding: 20px 40px;
  box-shadow: 0 6px 13px rgba(77, 1, 12, 0.62);
  background-color: #e40424;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFF;
  transition: background-color .2s; }
  body.no-touch .cta-btn:hover {
    background-color: #b2031c; }

.triangle-top {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0; }
  .triangle-top svg {
    height: 50px; }

.triangle-bottom {
  position: absolute;
  bottom: -4px;
  left: 0;
  right: 0; }
  .triangle-bottom svg {
    height: 50px; }

.section {
  position: relative; }

.section-title {
  margin-bottom: 35px;
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header {
  position: relative;
  z-index: 10;
  box-shadow: 0 4px 9px rgba(2, 2, 2, 0.82); }

.header__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding: 25px 0; }

.header__contacts, .nav__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  font-size: 1.5rem;
  font-weight: 700; }
  .header__contacts span, .nav__contacts span {
    margin-bottom: 5px; }
    .header__contacts span:last-child, .nav__contacts span:last-child {
      margin-bottom: 0; }

.header__nav {
  background: #898989; }

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  max-width: 990px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0 5px;
  text-transform: uppercase;
  font-size: 1.125rem;
  font-weight: 500;
  color: #FFF; }
  .nav__list li {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px; }
    .nav__list li.active a {
      color: #e40424; }
  .nav__list a {
    color: #FFF; }
    body.no-touch .nav__list a:hover {
      color: #fb203f; }

.nav__overlay {
  position: fixed;
  z-index: 900;
  display: none;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000; }

.nav__mob-button {
  display: none;
  width: 35px;
  height: 35px;
  background: url("../img/decor/menu.svg") no-repeat;
  background-size: 35px 35px;
  cursor: pointer; }

@media only screen and (max-width: 723px) {
  .nav__mob-button {
    display: block; }
  .nav__list {
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 200px;
    min-height: 100vh;
    background: #898989; }
    .nav__list.animate {
      transform: translate3d(200px, 0, 0); }
    .nav__list.trs {
      transition: transform .6s; }
    body.no-js .nav__list {
      position: static;
      width: auto; }
    .nav__list li {
      display: block;
      margin: 0; }
    .nav__list a {
      display: block;
      border-bottom: 2px solid #ffa913;
      font-weight: 500;
      padding: 12px 20px;
      text-align: left;
      font-size: 16px; } }

.nav__contacts {
  display: none; }

/*!
 * =============================
 *
 *     #WELCOME
 *
 * =============================
 */
.welcome {
  background: #E5E5E5; }

.welcome__carousel .owl-dots {
  position: absolute;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  bottom: 0; }

.welcome__carousel .owl-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #898989;
  box-shadow: inset 0 0 0 1px #000;
  margin-right: 15px; }
  .welcome__carousel .owl-dot:last-child {
    margin-right: 0; }
  .welcome__carousel .owl-dot.active {
    position: relative; }
    .welcome__carousel .owl-dot.active:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      background: #e40424;
      width: 10px;
      height: 10px;
      border-radius: 50%; }

.welcome__slide {
  padding-top: 40px;
  padding-bottom: 150px;
  background-size: 60% auto;
  background-repeat: no-repeat;
  background-position: right 25% top 170px; }

.welcome__slide-title {
  margin-bottom: 50px;
  font-size: 3rem;
  font-weight: 900;
  text-align: center; }
  .welcome__slide-title span {
    font-size: 4.5rem;
    font-weight: 900;
    color: #e40424; }

.welcome__slide-text-1 {
  max-width: 700px;
  margin-bottom: 35px;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase; }

.welcome__tag {
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  height: 130px;
  -ms-flex-align: center;
      align-items: center;
  background: #e40424;
  margin-bottom: 30px;
  padding: 0 10px 0 30px;
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF; }
  .welcome__tag p > span {
    font-size: 2.25rem;
    font-weight: 700; }
  .welcome__tag .icon-ruble {
    font-size: 24px; }
  .welcome__tag:after {
    content: '';
    display: block;
    position: absolute;
    right: -80px;
    top: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 0 65px 80px;
    border-color: transparent transparent transparent #e40424; }

.welcome__slide-text-2 {
  max-width: 470px;
  margin-bottom: 40px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.1; }

.welcome__slide-link {
  display: inline-block;
  padding: 25px 20px;
  text-transform: uppercase;
  border-radius: 6px;
  border: 1.5px solid #e40424;
  font-size: 1.5rem;
  font-weight: 700;
  color: #e40424;
  transition: background .2s, color .2s; }
  body.no-touch .welcome__slide-link:hover {
    background: #e40424;
    color: #FFF; }

/*!
 * =============================
 *
 *     #CATEGORIES
 *
 * =============================
 */
.categories {
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(41deg, #2f0307 0%, #e40424 100%);
  padding: 160px 0; }
  .categories .triangle-top {
    position: absolute;
    z-index: 3;
    top: -1px;
    left: 0;
    right: 0; }
  .categories .triangle-bottom {
    position: absolute;
    bottom: -4px;
    left: 0;
    right: 0; }

.categories__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -15px;
  margin-right: -15px; }

.category {
  width: calc(100 / 3 * 1% - 30px);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  text-align: center; }
  .category.vip .category__title span, .price__item.vip .category__title span, .category.vip .price__item-title h3 span, .price__item-title .category.vip h3 span, .price__item.vip .price__item-title h3 span, .price__item-title .price__item.vip h3 span {
    font-size: 3rem;
    font-weight: 700;
    color: #ffa913; }
  .category:nth-child(1) .category__info {
    background-image: url("../img/decor/cat-a.png"); }
  .category:nth-child(2) .category__info {
    background-image: none;
    background-color: #000; }
  .category:nth-child(3) .category__info {
    background-image: url("../img/decor/cat-b.png"); }
  .category:nth-child(4) .category__info {
    background-image: url("../img/decor/cat-c.png"); }
  .category:nth-child(5) .category__info {
    background-image: url("../img/decor/cat-d.png"); }

.category__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF; }

.category__title, .price__item-title h3 {
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase; }
  .category__title span, .price__item-title h3 span {
    display: block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid  #FFF;
    margin: 15px auto;
    text-align: center;
    line-height: 120px;
    font-size: 4.5rem;
    font-weight: 500; }

.category__desc {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
  color: #fffefe; }

.category__time {
  margin-top: 15px;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 1.375rem; }

.category__price {
  font-size: 1.125rem; }
  .category__price span:first-child {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 1px; }
  .category__price span:last-child {
    font-size: 1.125rem; }

.category__more {
  background: #FFF;
  text-align: center; }
  .category__more a {
    display: block;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #e40424;
    transition: background .2s, color .2s; }
    body.no-touch .category__more a:hover {
      background: #ffa913;
      color: #FFF; }

/*!
 * =============================
 *
 *     #ADVANTAGES
 *
 * =============================
 */
.advantages {
  padding-top: 80px; }

.advantages__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.advantages__item {
  width: calc(100 / 3 * 1%);
  text-align: center; }

.advantages__item-img {
  position: relative;
  margin-bottom: 20px; }
  .advantages__item-img:before, .advantages__item-img:after {
    content: '';
    display: block;
    position: absolute;
    top: 43%;
    -ms-transform: rotate(45deg) translate(0, -50%);
        transform: rotate(45deg) translate(0, -50%);
    border-radius: 3px;
    border: 2px solid #808080;
    width: 130px;
    height: 130px; }
  .advantages__item-img:before {
    left: -20px; }
  .advantages__item-img:after {
    right: 72px; }
  .advantages__item-img img {
    position: relative;
    z-index: 10; }

.advantages__item-title {
  margin-left: auto;
  margin-right: auto;
  max-width: 320px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.3; }

/*!
 * =============================
 *
 *     #VIDEO
 *
 * =============================
 */
.video {
  position: relative;
  background: #535252; }
  .video .triangle-top .block {
    height: 110px;
    background: #FFF; }

#videostream {
  width: 100%;
  height: 56vw;
  z-index: 1; }

#pattern-bg {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../img/decor/pattern.png) top left repeat; }

.video__content {
  position: absolute;
  z-index: 10;
  bottom: 190px;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.video__btn {
  text-align: center; }
  .video__btn button {
    outline: none;
    border: 3px solid white;
    border-radius: 6px;
    box-shadow: inset 0 8px 13px rgba(2, 2, 2, 0.77);
    padding: 18px 30px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
    transition: color .2s, border-color .2s; }
    body.no-touch .video__btn button:hover {
      color: #ffa913;
      border-color: #ffa913; }

/*!
 * =============================
 *
 *     #EDUCATION
 *
 * =============================
 */
.education {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: -110px;
  z-index: 10; }
  .education .triangle-top {
    top: -49px; }
  .education .triangle-bottom path {
    box-shadow: 0 5px 10px #000; }

.education__left,
.education__right {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 50%; }

.education__left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-align: end;
      align-items: flex-end;
  padding-right: 35px;
  padding-left: 20px;
  background: #b2031c; }

.education__title {
  margin-bottom: 70px;
  font-weight: 900;
  font-size: 2.25rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FFF; }

.education__items {
  max-width: 520px; }

.education__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 45px;
  padding-right: 15%; }
  .education__item:first-child .education__item-img {
    padding-left: 10px; }

.education__item-img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 25px; }

.education__desc {
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 1.2;
  color: #FFF; }

.education__right {
  background: #FFF;
  padding-top: 170px;
  padding-left: 120px;
  padding-right: 20px; }
  .education__right p {
    margin-bottom: 85px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.4;
    text-transform: uppercase;
    letter-spacing: 1px; }
    .education__right p strong {
      font-weight: 900; }
    .education__right p span {
      font-size: 3rem;
      font-weight: 900;
      color: #e40424; }
      .education__right p span.accent {
        font-size: 1.5rem; }

/*!
 * =============================
 *
 *     #FEEDBACK
 *
 * =============================
 */
.feedback {
  background-color: #E3E3E3;
  padding-top: 80px;
  padding-bottom: 110px;
  background-image: url("../img/decor/road.png");
  background-repeat: no-repeat;
  background-position: 20% bottom;
  background-size: contain; }
  .feedback .triangle-bottom svg {
    height: 60px; }

.form {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
  background: #FFF;
  padding: 30px 60px 60px;
  border-radius: 6px;
  box-shadow: 0 5px 13px rgba(1, 1, 1, 0.32); }
  .form input[type=radio] {
    position: absolute;
    opacity: 0;
    z-index: -1; }
    .form input[type=radio]:checked + label:after {
      display: block;
      opacity: 1; }
  .form label {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    text-align: center;
    border: 1px solid;
    cursor: pointer; }
    .form label:after {
      content: '';
      display: block;
      position: absolute;
      opacity: 0;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #e40424;
      transition: opacity .25s; }

.form__fields input,
.form__fields textarea {
  outline: none;
  border-bottom: 1px solid  #B9B9B9;
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px; }

.form__category {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 1.125rem;
  font-weight: 500; }
  .form__category p {
    display: inline-block;
    padding-right: 10px; }
  .form__category span {
    font-weight: 700; }

.form__group {
  margin-bottom: 50px;
  font-weight: 500; }
  .form__group label {
    margin-right: 15px; }

.form__group-item {
  margin-bottom: 8px;
  font-size: 1.125rem; }
  .form__group-item span:last-child {
    padding-left: 5px; }

.form__submit {
  text-align: center; }

.form__close {
  display: none;
  position: absolute;
  top: 15px;
  right: 20px;
  z-index: 10;
  font-size: 1.375rem;
  cursor: pointer; }

/*!
 * =============================
 *
 *     #FOOTER
 *
 * =============================
 */
.footer {
  min-height: 150px;
  background: #000;
  padding: 40px 0; }

.logo_footer {
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }

.footer__copy {
  margin: 0 5%;
  font-size: 0.875rem;
  line-height: 1.8;
  text-align: center;
  color: #FFF; }

.footer__soc {
  -ms-flex-negative: 0;
      flex-shrink: 0; }
  .footer__soc a {
    display: inline-block;
    position: relative;
    margin-right: 15px;
    border-radius: 50%;
    border: 2px solid  #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    text-align: center;
    transition: background .2s, border-color .2s;
    font-size: 1.5625rem; }
    body.no-touch .footer__soc a:hover {
      background: #e40424;
      border-color: #e40424; }
    .footer__soc a:last-child {
      margin-right: 0; }
    .footer__soc a:nth-child(1) span:before {
      position: relative;
      top: 2px; }

/*!
 * =============================
 *
 *     #PRICE
 *
 * =============================
 */
.price {
  padding-top: 50px;
  padding-bottom: 110px;
  background-image: url("../img/decor/price-bg.png"), linear-gradient(to top, #575757 0%, #f9f9f9 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center;
  background-size: 100% auto, cover; }
  .price .section-title {
    margin-bottom: 15px; }

.price__desc {
  max-width: 610px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.2;
  font-weight: 900;
  text-align: center;
  font-size: 1.25rem;
  color: #e40424; }

.price__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 40px;
  -ms-flex-pack: center;
      justify-content: center; }

.price__item {
  width: calc(100 / 3 * 1% - 30px);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  padding: 30px 25px 40px 25px;
  background-image: linear-gradient(to top, #f4022a 0%, #010101 100%);
  text-align: center; }
  .price__item.vip .price__item-title h3 span {
    border-color: #ffa913; }

.price__item-title h3 {
  color: #FFF;
  font-weight: 900; }

.price__item-field,
.price__item-desc {
  padding-right: 10px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.2;
  color: #FFF; }

.price__item-field {
  margin-top: 20px; }
  .price__item-field h4 {
    font-weight: 900;
    margin-bottom: 5px; }

.price__item-details {
  margin-top: 40px;
  color: #FFF; }
  .price__item-details span {
    padding-right: 5px;
    color: #ffdf9a; }

.price__item-bonus {
  margin-top: 28px;
  font-size: 18px;
  line-height: 1.4;
  text-align: center;
  color: #FFF; }
  .price__item-bonus h4 {
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 1.625rem;
    line-height: 1; }

/*!
 * =============================
 *
 *     #BOOKS
 *
 * =============================
 */
.books {
  margin-top: 50px; }

.books__title {
  margin-bottom: 55px;
  font-weight: 900;
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #FFF; }

.books__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.books__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .books__item:nth-child(1) {
    width: 56%; }
  .books__item:nth-child(2) {
    width: calc(44% - 35px); }

.books__item-img {
  margin-right: 25px;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.books__item-desc {
  font-size: 1.125rem;
  color: #FFF; }

/*!
 * =============================
 *
 *     #DOCS
 *
 * =============================
 */
.docs {
  background-image: url("../img/decor/road-2.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: contain;
  padding-top: 70px;
  padding-bottom: 140px;
  background-color: #b2031c; }
  .docs .triangle-top {
    top: -49px; }
    .docs .triangle-top svg {
      height: 50px;
      fill: #b2031c; }
      .docs .triangle-top svg path {
        fill: #b2031c; }
  .docs .triangle-bottom svg {
    height: 50px; }

.docs__content {
  display: -ms-flexbox;
  display: flex; }

.docs__title {
  margin-bottom: 30px;
  font-size: 2.25rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #FFF; }

.docs__items {
  max-width: 370px;
  margin-right: 100px; }

.docs__item li {
  position: relative;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
  color: #FFF; }
  .docs__item li:before {
    content: '';
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%); }

.docs__item_docs {
  margin-bottom: 70px; }
  .docs__item_docs li {
    padding-left: 22px; }
    .docs__item_docs li:before {
      content: '';
      display: block;
      position: absolute;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: #FFF;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.docs__item_info li {
  padding-left: 36px;
  margin-bottom: 12px; }
  .docs__item_info li:before {
    content: '';
    display: block;
    position: absolute;
    background: url("../img/decor/doc.png") no-repeat;
    background-size: contain;
    width: 21px;
    height: 26px; }
  .docs__item_info li a {
    color: #FFF; }
    body.no-touch .docs__item_info li a:hover {
      color: #ffa913; }

/*!
 * =============================
 *
 *     #GALLERY
 *
 * =============================
 */
.gallery {
  padding-bottom: 100px; }
  .gallery .triangle-bottom svg {
    height: 50px; }

.gallery__text {
  padding-top: 65px;
  padding-bottom: 110px;
  background-image: url("../img/decor/gallery-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover; }
  .gallery__text .content-width {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-align: end;
        align-items: flex-end; }
  .gallery__text p {
    max-width: 470px;
    margin-bottom: 30px;
    line-height: 1.4;
    font-weight: 900;
    font-size: 1.125rem; }

.gallery__links {
  position: relative;
  padding-top: 60px;
  padding-bottom: 85px;
  margin-bottom: 5px;
  background: #4a4a4a; }
  .gallery__links .content-width {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }

.gallery__link {
  outline: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  color: #FFF;
  transition: color .2s; }
  .gallery__link.active {
    color: #e40424; }
  body.no-touch .gallery__link:hover {
    color: #e40424; }

.gallery__tab {
  display: none;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 100px;
  margin-left: -30px;
  margin-right: -30px; }
  .gallery__tab.active {
    display: -ms-flexbox;
    display: flex; }

.gallery__item {
  width: calc(100 / 3 * 1% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 75px; }
  .gallery__item a {
    display: inline-block;
    position: relative; }
    .gallery__item a:after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #e40424;
      -ms-transform: rotate(6deg);
          transform: rotate(6deg);
      transition: transform .25s; }
    body.no-touch .gallery__item a:hover:after {
      -ms-transform: rotate(0) !important;
          transform: rotate(0) !important; }
  .gallery__item:nth-child(4) a:after, .gallery__item:nth-child(5) a:after, .gallery__item:nth-child(6) a:after, .gallery__item:nth-child(10) a:after, .gallery__item:nth-child(11) a:after, .gallery__item:nth-child(12) a:after {
    -ms-transform: rotate(-6deg);
        transform: rotate(-6deg); }

/*!
 * =============================
 *
 *     #ABOUT
 *
 * =============================
 */
.about {
  position: relative; }
  .about:after {
    content: '';
    display: block;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/decor/car.png") no-repeat;
    background-position: left 30% bottom;
    background-size: 1000px auto; }
  .about .triangle-bottom svg {
    height: 50px; }

.about__content {
  display: -ms-flexbox;
  display: flex; }

.about__left,
.about__right {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 1 0px;
      flex: 1 1 0;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  padding-bottom: 350px; }

.about__left {
  background: #FFF;
  -ms-flex-align: end;
      align-items: flex-end; }
  .about__left .about__title {
    padding-left: 32px; }

.about__right {
  position: relative;
  -ms-flex-align: start;
      align-items: flex-start;
  background: linear-gradient(41deg, #2f0307 0%, #e40424 100%); }
  .about__right .triangle-top {
    display: none; }
  .about__right .about__title {
    margin-bottom: 75px;
    text-align: center;
    color: #FFF; }

.about__left-content,
.about__right-content {
  position: relative;
  z-index: 5;
  max-width: 550px;
  padding-top: 60px; }

.about__left-content {
  padding-left: 20px;
  padding-right: 60px; }

.about__right-content {
  padding-right: 20px;
  padding-left: 60px; }

.about__title {
  margin-bottom: 40px;
  font-size: 2.1875rem;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase; }

.about__left-list {
  font-size: 1.125rem;
  line-height: 1.4; }
  .about__left-list li {
    position: relative;
    margin-bottom: 30px;
    padding-left: 32px; }
    .about__left-list li:before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      border-radius: 50%;
      width: 18px;
      height: 18px;
      background: #e40424; }
    .about__left-list li h3 {
      font-weight: 700;
      text-transform: uppercase; }

.about__right-list > li {
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.3;
  text-transform: uppercase;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif !important;
  color: #FFF;
  transition: color .2s; }
  .about__right-list > li:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-repeat: no-repeat;
    left: 0;
    width: 21px;
    height: 26px;
    background-size: contain;
    background-image: url("../img/decor/doc.png"); }
  .about__right-list > li:before {
    position: absolute;
    font-family: 'icons';
    top: 5px;
    left: 40px;
    font-size: 0.75rem;
    transition: transform .2s; }
  .about__right-list > li.active:before {
    -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
  .about__right-list > li.active span {
    color: #ffa913; }
  .about__right-list > li span {
    transition: color .2s;
    cursor: pointer; }
    body.no-touch .about__right-list > li span:hover {
      color: #ffa913; }

.about__right-sublist {
  display: none;
  padding-top: 30px; }
  .about__right-sublist li {
    position: relative;
    padding-left: 40px;
    margin-bottom: 15px; }
    .about__right-sublist li:last-child {
      margin-bottom: 0; }
    .about__right-sublist li:before {
      position: absolute;
      left: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      font-family: 'icons' !important;
      speak: none;
      font-size: 1.625rem;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; }
    .about__right-sublist li a {
      display: block;
      font-weight: 500;
      color: #a6a7a7; }
      body.no-touch .about__right-sublist li a:hover {
        color: #FFF; }

.about__link {
  margin-top: 130px;
  padding-left: 70px;
  background-image: url("../img/decor/about-arr.png");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 55px auto;
  max-width: 430px; }
  .about__link a {
    display: block;
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #FFF; }
    body.no-touch .about__link a:hover {
      color: #ffa913; }

/*!
 * =============================
 *
 *     #ARTICLES
 *
 * =============================
 */
.articles-head {
  background-color: #D9D9D9;
  background-image: url("../img/decor/articles-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.articles-head__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 380px; }
  .articles-head__content h2 {
    font-size: 4.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0 5px 13px rgba(2, 2, 2, 0.71);
    color: #FFF; }

.articles__links {
  position: relative;
  background-image: linear-gradient(to top, #1d1d1d 0%, #9a9a9a 100%); }
  .articles__links .triangle-bottom svg {
    height: 50px; }
  .articles__links .content-width {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 50px;
    max-width: 890px; }

.articles__link {
  outline: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  color: #FFF;
  transition: color .2s; }
  .articles__link.active {
    color: #e40424; }
  body.no-touch .articles__link:hover {
    color: #e40424; }

.articles__tab {
  display: none;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-top: 70px;
  margin-left: -15px;
  margin-right: -15px; }
  .articles__tab.active {
    display: -ms-flexbox;
    display: flex; }

.articles__item {
  width: calc(100 / 3 * 1% - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 80px; }

.articles__item-img {
  margin-bottom: 30px; }

.articles__item-desc h2 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase; }

.articles__item-desc p {
  margin-bottom: 20px;
  font-size: 1.125rem;
  line-height: 1.4;
  font-weight: 500; }

.articles__item-desc a {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  padding: 0 35px;
  border-radius: 6px;
  border: 2px solid #e40424;
  font-weight: 700;
  text-transform: uppercase;
  color: #e40424;
  transition: color .2s, background .2s; }
  body.no-touch .articles__item-desc a:hover {
    background: #e40424;
    color: #FFF; }

/*!
 * =============================
 *
 *     #CONTACTS
 *
 * =============================
 */
.map {
  position: relative; }

#map {
  height: 600px;
  width: 100%;
  background-color: #898989; }

.contacts-feedback {
  padding-top: 70px;
  padding-bottom: 160px;
  background-image: url(../img/decor/road-2.png);
  background-repeat: no-repeat;
  background-position: right 5% bottom;
  background-size: 40% auto; }

.contacts-feedback__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.contacts {
  max-width: 445px;
  margin-right: 60px;
  margin-top: 160px; }

.contacts__title {
  margin-bottom: 60px;
  text-transform: uppercase;
  font-size: 1.875rem;
  font-weight: 900; }

.contacts__item {
  margin-bottom: 30px; }
  .contacts__item:nth-child(1) h3 {
    background-image: url("../img/decor/contacts-1.png"); }
  .contacts__item:nth-child(2) h3 {
    background-image: url("../img/decor/contacts-2.png"); }
  .contacts__item:nth-child(3) h3 {
    background-image: url("../img/decor/contacts-3.png");
    background-position: 7px bottom; }
  .contacts__item h3 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end;
    min-height: 45px;
    margin-bottom: 20px;
    padding-left: 60px;
    font-size: 1.875rem;
    font-weight: 900;
    background-repeat: no-repeat;
    background-position: left bottom; }
  .contacts__item p {
    margin-bottom: 12px;
    font-size: 1.5rem;
    font-weight: 500;
    letter-spacing: 1px; }

.contacts-form h3 {
  margin-bottom: 60px;
  text-align: center;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 900; }

.form-contacts textarea {
  min-height: 170px;
  font-family: 'Arial'; }

.form-contacts .form__submit {
  margin-top: 70px; }

.form-contacts .cta-btn {
  width: 100%; }

/*!
 * =============================
 *
 *     #FORM POPUP
 *
 * =============================
 */
.form-wrap {
  display: none;
  position: fixed;
  z-index: 1100;
  overflow-y: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6); }
  .form-wrap .form {
    position: relative;
    top: 5vw; }
  .form-wrap .form__close {
    display: block; }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 20px;
      padding-right: 20px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

@media only screen and (max-width: 74.9375em) {
  .triangle-top svg,
  .triangle-bottom svg {
    height: 40px !important; }
  .welcome__slide {
    padding-top: 20px;
    padding-bottom: 90px;
    background-position: 100% 50%;
    background-size: auto 450px; }
  .welcome__slide-content {
    text-align: center; }
  .welcome__slide-title {
    margin-bottom: 20px; }
    .welcome__slide-title span {
      display: block;
      margin-bottom: 10px;
      text-align: center;
      font-weight: 700; }
  .welcome__slide-text-1 {
    margin-bottom: 15px;
    max-width: none;
    text-align: center; }
  .welcome__tag {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 430px;
    width: 270px;
    height: 100px; }
    .welcome__tag:after {
      bottom: -25px;
      left: 0;
      right: 0;
      top: auto;
      border-width: 25px 135px 0 135px;
      border-color: #e40424 transparent transparent transparent; }
    .welcome__tag p > span {
      display: block;
      font-weight: 900; }
  .welcome__slide-text-2 {
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .welcome__slide-title {
    font-size: 2.25rem; }
    .welcome__slide-title span {
      font-size: 3rem; }
  .categories {
    padding-top: 130px;
    padding-bottom: 100px; }
  .categories__items {
    margin-left: -10px;
    margin-right: -10px; }
  .category {
    width: calc(50% - 20px);
    max-width: 370px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px; }
  .advantages__item {
    width: 50%;
    margin-bottom: 20px; }
  .video .triangle-top .block {
    height: 80px; }
  .video__btn button {
    padding: 12px 20px;
    font-size: 1.125rem; }
  .education {
    margin-top: -67px; }
    .education .triangle-top {
      top: -39px; }
  .education__item {
    padding-right: 0; }
  .education__desc {
    font-size: 1.125rem; }
  .education__left,
  .education__right {
    padding-bottom: 50px; }
  .education__right {
    padding-left: 40px; }
  .feedback {
    padding-bottom: 230px;
    background-size: auto 400px;
    background-position: center bottom; }
    .feedback .triangle-bottom svg {
      height: 40px; }
  .price__item {
    width: calc(50% - 30px); }
    .price__item.vip {
      -ms-flex-order: 1;
          order: 1; }
  .books__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .books__item {
    width: 100% !important; }
    .books__item:nth-child(2) {
      margin-top: 20px; }
      .books__item:nth-child(2) .books__item-img {
        -ms-flex-order: 1;
            order: 1; }
  .docs {
    background-size: 55%, cover;
    background-position: center bottom, center;
    padding-bottom: 255px; }
    .docs .triangle-top {
      top: -39px; }
  .docs__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .docs__items {
    max-width: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
  .docs__item ul {
    max-width: 340px;
    margin-left: auto;
    margin-right: auto;
    text-align: left; }
  .docs__form {
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto; }
  .gallery__text {
    padding-top: 35px; }
    .gallery__text .content-width {
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
      -ms-flex-align: start;
          align-items: flex-start;
      -ms-flex-pack: center;
          justify-content: center; }
    .gallery__text p:first-child {
      margin-right: 50px; }
  .gallery__links {
    padding-bottom: 50px; }
  .gallery__items {
    -ms-flex-pack: center;
        justify-content: center; }
  .gallery__item {
    width: calc(50% - 60px);
    max-width: 330px; }
    .gallery__item:nth-child(4) a:after, .gallery__item:nth-child(5) a:after, .gallery__item:nth-child(6) a:after, .gallery__item:nth-child(10) a:after, .gallery__item:nth-child(11) a:after, .gallery__item:nth-child(12) a:after {
      -ms-transform: rotate(6deg);
          transform: rotate(6deg); }
    .gallery__item:nth-child(3) a:after, .gallery__item:nth-child(4) a:after, .gallery__item:nth-child(7) a:after, .gallery__item:nth-child(8) a:after, .gallery__item:nth-child(11) a:after, .gallery__item:nth-child(12) a:after {
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg); }
  .about:after {
    background-position: center top 100%;
    background-size: 100% auto; }
  .about__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .about__left,
  .about__right {
    -ms-flex: 0 1 auto;
        flex: 0 1 auto;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: start;
        justify-content: flex-start;
    width: 100%; }
  .about__left {
    padding-bottom: 100px; }
  .about__right {
    background-image: linear-gradient(-4deg, #60101c 0%, #e40424 100%); }
    .about__right .triangle-top {
      display: block;
      top: -39px; }
  .about__left-content,
  .about__right-content {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .about__link {
    margin-left: auto;
    margin-right: auto; }
  .articles-head__content {
    height: 290px; }
    .articles-head__content h2 {
      font-size: 3rem; }
  .articles__links .content-width {
    max-width: 500px; }
  .articles__item {
    width: calc(50% - 30px); }
  #map {
    height: 40vw; }
  .contacts-feedback {
    padding-top: 50px;
    padding-bottom: 320px;
    background-position: center top 100%;
    background-size: 70% auto; }
  .contacts-feedback__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .contacts {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 75px; }
  .contacts-form {
    width: 100%; } }

@media only screen and (max-width: 56.1875em) {
  .cta-btn {
    padding: 10px 15px; }
  .cta-btn_header {
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px; }
  .triangle-top svg,
  .triangle-bottom svg {
    height: 15px !important; }
  .header__contacts {
    -ms-flex-negative: 0;
        flex-shrink: 0; }
  .nav__list {
    -ms-flex-pack: center;
        justify-content: center;
    max-width: 520px; }
  .welcome__slide {
    background-position: 85% 50%;
    background-size: auto 450px; }
  .docs .triangle-top {
    top: -14px; }
  .about__right .triangle-top {
    top: -14px; }
  .education .triangle-top {
    top: -14px; } }

@media only screen and (max-width: 45.1875em) {
  .section-title {
    font-size: 1.875rem; }
  .header__top {
    padding: 15px 0; }
  .logo {
    margin-left: auto;
    margin-right: auto;
    max-width: 120px; }
  .cta-btn_header,
  .header__contacts {
    display: none; }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    padding-top: 15px;
    padding-bottom: 15px; }
  .nav__contacts {
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem; }
  .nav__list {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start; }
  .welcome__slide {
    background-size: 100% auto;
    background-position: right 30% top 300px;
    padding-bottom: 65px; }
  .welcome__slide-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
  .welcome__slide-title,
  .welcome__tag {
    -ms-flex-order: 0;
        order: 0; }
  .welcome__slide-text-1,
  .welcome__slide-text-2 {
    font-size: 1.125rem; }
  .welcome__slide-text-1 {
    -ms-flex-order: 1;
        order: 1; }
  .welcome__slide-text-2 {
    -ms-flex-order: 2;
        order: 2; }
  .welcome__slide-link {
    -ms-flex-order: 3;
        order: 3;
    padding: 8px; }
  .welcome__tag {
    margin-bottom: 65vw; }
  .categories {
    padding-top: 100px;
    padding-bottom: 80px;
    background-image: linear-gradient(-81deg, #2f0307 0%, #e40424 100%); }
  .category {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
    .category.vip .category__title span {
      font-size: 2.375rem; }
  .category__info {
    padding-left: 10px;
    padding-right: 10px; }
  .category__title span {
    width: 80px;
    height: 80px;
    line-height: 76px;
    font-size: 3.75rem;
    margin-bottom: 5px; }
  .category__desc {
    padding-left: 0;
    padding-right: 0; }
  .advantages {
    padding-top: 40px;
    padding-bottom: 60px; }
  .advantages__item {
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
  .video .triangle-top .block {
    height: 20px; }
  #videostream {
    height: 200px; }
  .video__content {
    bottom: auto;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
  .education {
    margin-top: 0; }
    .education .triangle-top path {
      fill: #b2031c !important; }
  .education__left,
  .education__right {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    -ms-flex-align: center;
        align-items: center; }
  .education__title {
    font-size: 1.875rem;
    text-align: center;
    margin-bottom: 30px; }
  .education__item {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; }
  .education__item-img {
    margin-bottom: 10px;
    margin-right: 0; }
  .education__desc {
    text-align: center;
    max-width: 450px; }
  .education__right {
    padding-top: 50px;
    text-align: center; }
    .education__right p {
      line-height: 1.6;
      margin-bottom: 60px; }
      .education__right p:last-child {
        margin-bottom: 0; }
  .feedback {
    padding-top: 35px; }
    .feedback .triangle-bottom svg {
      height: 15px; }
  .form {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0; }
    .form .cta-btn {
      border-radius: 0 0 6px 6px; }
  .form__fields,
  .form__group,
  .form__category {
    padding-left: 20px;
    padding-right: 20px; }
  .form__fields input {
    padding-left: 0; }
  .form__category {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .form__category p {
      display: block;
      width: 100%;
      margin-bottom: 20px;
      text-align: center; }
  .form__group-item {
    margin-bottom: 25px; }
    .form__group-item span:last-child {
      display: block;
      margin-top: 10px;
      margin-left: 30px; }
  .footer {
    padding-top: 35px;
    padding-bottom: 20px; }
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .logo_footer {
    margin-left: 0;
    margin-right: 0; }
  .footer__copy {
    margin-top: 20px;
    -ms-flex-order: 1;
        order: 1; }
  .price {
    padding-top: 35px;
    padding-bottom: 150px; }
  .price__desc {
    font-size: 1.125rem; }
  .price__item-desc,
  .price__item-field {
    padding-left: 0;
    padding-right: 0; }
  .price__item {
    width: 100%; }
  .books__title {
    margin-bottom: 25px; }
  .books__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .books__item:nth-child(2) .books__item-img {
      -ms-flex-order: 0;
          order: 0;
      margin-top: 35px; }
  .books__item-img {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    text-align: center; }
  .books__item-desc {
    text-align: center; }
  .docs {
    background-size: 300px auto, cover;
    padding-bottom: 180px; }
  .docs__title {
    text-align: center;
    line-height: 1.2;
    font-size: 1.875rem; }
  .docs__item li {
    line-height: 1.4; }
  .form .cta-btn {
    width: 100%; }
  .gallery {
    padding-bottom: 20px; }
  .gallery__text {
    background-position: 20% bottom;
    background-size: 200% auto;
    background-color: #e0f7ff; }
    .gallery__text .content-width {
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
    .gallery__text p {
      width: 100%; }
      .gallery__text p:first-child {
        margin-right: 0; }
  .gallery__links {
    padding-top: 30px;
    padding-bottom: 25px; }
    .gallery__links .content-width {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .gallery__link {
    width: 100%;
    margin-bottom: 15px;
    font-size: 1.125rem; }
  .gallery__item {
    width: 100%; }
    .gallery__item:nth-child(3) a:after, .gallery__item:nth-child(4) a:after, .gallery__item:nth-child(7) a:after, .gallery__item:nth-child(8) a:after, .gallery__item:nth-child(11) a:after, .gallery__item:nth-child(12) a:after {
      -ms-transform: rotate(6deg);
          transform: rotate(6deg); }
    .gallery__item:nth-child(even) a:after {
      -ms-transform: rotate(-6deg);
          transform: rotate(-6deg); }
  .about:after {
    background-size: 120% auto; }
  .about__title {
    font-size: 1.875rem; }
  .about__left {
    padding-bottom: 50px; }
  .about__right {
    padding-bottom: 60%; }
    .about__right .about__title {
      margin-bottom: 40px; }
  .about__left-content,
  .about__right-content {
    padding-top: 30px; }
  .about__left-list li:before {
    top: 5px;
    -ms-transform: none;
        transform: none; }
  .about__right-list > li {
    font-size: 1rem; }
  .about__link {
    margin-top: 80px; }
  .articles-head__content {
    height: 170px; }
    .articles-head__content h2 {
      font-size: 2.125rem; }
  .articles__item {
    width: 100%; }
  .articles__links .content-width {
    padding-bottom: 35px;
    padding-top: 15px; }
  .articles__link {
    font-size: 1.125rem; }
  #map {
    height: 60vw; }
  .contacts-feedback {
    padding-bottom: 43%; }
  .contacts__title {
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    line-height: 1.3; }
  .contacts__item:nth-child(3) h3 {
    max-width: 180px;
    -ms-flex-pack: center;
        justify-content: center;
    background-position: center top; }
  .contacts__item h3 {
    max-width: 240px;
    margin-left: auto;
    min-height: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-top: 50px;
    -ms-flex-pack: center;
        justify-content: center;
    text-align: center;
    padding-left: 0;
    background-position: center top; }
  .contacts__item p {
    max-width: 230px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.3; }
  .contacts-form h3 {
    margin-bottom: 10px;
    font-size: 1.875rem; }
  .form-contacts {
    max-width: none;
    margin-left: -20px;
    margin-right: -20px;
    box-shadow: none; }
    .form-contacts .form__fields {
      padding-left: 10px;
      padding-right: 10px; }
    .form-contacts textarea {
      min-height: 100px;
      padding-left: 0; }
    .form-contacts .form__submit {
      margin-top: 45px; }
    .form-contacts .cta-btn {
      width: calc(100% - 20px);
      border-radius: 6px; } }

@media only screen and (max-width: 29.9375em) {
  .advantages__item-img:before {
    left: -55px; }
  .advantages__item-img:after {
    right: 40px; } }
