/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none; }

/* NORMALIZE */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/* VARIABLES */
.content-w {
  max-width: 1160px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1190px) {
    .content-w {
      padding-left: 20px;
      padding-right: 20px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

@media only screen and (max-width: 899px) {
  .hidden-tbl {
    display: none; } }

@media only screen and (max-width: 599px) {
  .hidden-phone {
    display: none; } }

.visible-phone {
  display: none; }
  @media only screen and (max-width: 599px) {
    .visible-phone {
      display: block; } }

/* TYPOGRAPHY */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #FFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  color: #6e6e6e; }

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #20368b; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

@media only screen and (max-width: 1199px) {
  p {
    font-size: 16px; } }

@media only screen and (max-width: 599px) {
  p {
    font-size: 16px; } }

button {
  font-family: "Arial", sans-serif; }

/* FONTS */
/* BLOCKS */
/* TEMPLATE BLOCKS */
.content-w {
  max-width: 1160px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1190px) {
    .content-w {
      padding-left: 20px;
      padding-right: 20px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

@media only screen and (max-width: 899px) {
  .hidden-tbl {
    display: none; } }

@media only screen and (max-width: 599px) {
  .hidden-phone {
    display: none; } }

.visible-phone {
  display: none; }
  @media only screen and (max-width: 599px) {
    .visible-phone {
      display: block; } }

/**
 * =============================
 *
 * 		#FONTS
 *
 * =============================
 */
.s1, .welcome-slider__advantages span, .s2, .s3, .s4, .s5,
.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9 {
  font-family: "Open Sans", sans-serif; }

.s1, .welcome-slider__advantages span, .s2, .s3, .s4, .s5 {
  color: #878787; }

.s1, .welcome-slider__advantages span {
  font-size: 1.375rem; }
  @media only screen and (max-width: 899px) {
    .s1, .welcome-slider__advantages span {
      font-size: 1.125rem; } }
  @media only screen and (max-width: 599px) {
    .s1, .welcome-slider__advantages span {
      font-size: 0.9375rem; } }

.s2 {
  font-size: 1.25rem; }
  @media only screen and (max-width: 899px) {
    .s2 {
      font-size: 1.0625rem; } }
  @media only screen and (max-width: 599px) {
    .s2 {
      font-size: 0.875rem; } }

.s3 {
  font-size: 1.1875rem; }
  @media only screen and (max-width: 899px) {
    .s3 {
      font-size: 1rem; } }
  @media only screen and (max-width: 599px) {
    .s3 {
      font-size: 0.875rem; } }

.s4 {
  font-size: 1.125rem; }
  @media only screen and (max-width: 899px) {
    .s4 {
      font-size: 1rem; } }
  @media only screen and (max-width: 599px) {
    .s4 {
      font-size: 0.875rem; } }

.s5 {
  font-size: 1.0625rem; }
  @media only screen and (max-width: 899px) {
    .s5 {
      font-size: 1rem; } }
  @media only screen and (max-width: 599px) {
    .s5 {
      font-size: 0.8125rem; } }

.h1, .h2, .h3, .h4, .h5, .h6, .h7, .h8, .h9 {
  font-weight: 600; }

.h1 {
  font-size: 3rem; }
  @media only screen and (max-width: 899px) {
    .h1 {
      font-size: 2.125rem; } }
  @media only screen and (max-width: 599px) {
    .h1 {
      font-size: 1.375rem; } }

.h2 {
  font-size: 2.25rem; }
  @media only screen and (max-width: 899px) {
    .h2 {
      font-size: 1.875rem; } }
  @media only screen and (max-width: 599px) {
    .h2 {
      font-size: 1.3125rem; } }

.h3 {
  font-size: 2.125rem; }
  @media only screen and (max-width: 899px) {
    .h3 {
      font-size: 1.5625rem; } }
  @media only screen and (max-width: 599px) {
    .h3 {
      font-size: 1.25rem; } }

.h4 {
  font-size: 2.0625rem; }
  @media only screen and (max-width: 899px) {
    .h4 {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 599px) {
    .h4 {
      font-size: 1.1875rem; } }

.h5 {
  font-size: 1.9375rem; }
  @media only screen and (max-width: 899px) {
    .h5 {
      font-size: 1.4375rem; } }
  @media only screen and (max-width: 599px) {
    .h5 {
      font-size: 1.125rem; } }

.h6 {
  font-size: 1.75rem; }
  @media only screen and (max-width: 899px) {
    .h6 {
      font-size: 1.375rem; } }
  @media only screen and (max-width: 599px) {
    .h6 {
      font-size: 1.0625rem; } }

.h7 {
  font-size: 1.625rem; }
  @media only screen and (max-width: 899px) {
    .h7 {
      font-size: 1.3125rem; } }
  @media only screen and (max-width: 599px) {
    .h7 {
      font-size: 0.875rem; } }

.h8 {
  font-size: 1.5rem; }
  @media only screen and (max-width: 899px) {
    .h8 {
      font-size: 1.25rem; } }
  @media only screen and (max-width: 599px) {
    .h8 {
      font-size: 1rem; } }

.h9 {
  font-size: 1.125rem; }
  @media only screen and (max-width: 899px) {
    .h9 {
      font-size: 1.125rem; } }
  @media only screen and (max-width: 599px) {
    .h9 {
      font-size: 0.9375rem; } }

.t1, .t2, .t3, .t4, .footer__nav-list a, .footer__contacts-items p, .t5 {
  line-height: 24px; }
  @media only screen and (max-width: 899px) {
    .t1, .t2, .t3, .t4, .footer__nav-list a, .footer__contacts-items p, .t5 {
      line-height: 20px; } }
  @media only screen and (max-width: 599px) {
    .t1, .t2, .t3, .t4, .footer__nav-list a, .footer__contacts-items p, .t5 {
      line-height: 17px; } }

.t1 {
  font-size: 1.1875rem; }
  @media only screen and (max-width: 899px) {
    .t1 {
      font-size: 1rem; } }
  @media only screen and (max-width: 599px) {
    .t1 {
      font-size: 0.9375rem; } }

.t2 {
  font-size: 1.125rem; }
  @media only screen and (max-width: 899px) {
    .t2 {
      font-size: 1rem; } }
  @media only screen and (max-width: 599px) {
    .t2 {
      font-size: 0.875rem; } }

.t3 {
  font-size: 1.0625rem; }
  @media only screen and (max-width: 899px) {
    .t3 {
      font-size: 0.9375rem; } }
  @media only screen and (max-width: 599px) {
    .t3 {
      font-size: 0.8125rem; } }

.t4, .footer__nav-list a, .footer__contacts-items p {
  font-size: 1rem; }
  @media only screen and (max-width: 899px) {
    .t4, .footer__nav-list a, .footer__contacts-items p {
      font-size: 0.875rem; } }
  @media only screen and (max-width: 599px) {
    .t4, .footer__nav-list a, .footer__contacts-items p {
      font-size: 0.8125rem; } }

.t5 {
  font-size: 0.9375rem; }
  @media only screen and (max-width: 899px) {
    .t5 {
      font-size: 0.8125rem; } }
  @media only screen and (max-width: 599px) {
    .t5 {
      font-size: 0.75rem; } }

/**
 * =============================
 *
 * 		#CUSTOM
 *
 * =============================
 */
a {
  font-family: "Open Sans", sans-serif; }

#first-time,
.ajax-progress {
  display: none; }

.section {
  padding-top: 4.375rem;
  padding-bottom: 4.375rem; }
  .section.dark {
    background: #f2f2f2; }

.sub-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }

.icon-sub-title, .icon-rounded {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  text-align: center;
  background-image: url("../img/decor/chat.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; }

.icon-rounded {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #878787;
  background-size: auto; }

.link-more {
  display: inline-block;
  margin-top: 40px;
  padding: 20px 75px 20px 25px;
  background-color: #878787;
  background-image: url("../img/decor/arr-right_light.png");
  background-repeat: no-repeat;
  background-position: right 15px top 55%;
  font-weight: 700;
  transition: background .2s; }
  .link-more:hover {
    background-color: #949494; }

.link-more__no-bg {
  padding-left: 0;
  background-color: transparent;
  background-image: url("../img/decor/arr-right_dark.png");
  color: #878787;
  transition: color .2s; }
  .link-more__no-bg:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #616161; }

.block-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/**
 * =============================
 *
 * 		#HEADER
 *
 * =============================
 */
.header__top {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 40px;
  padding-bottom: 40px; }

.logo {
  text-align: center; }

.logo__link {
  color: #6e6e6e; }

.header__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.short-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center; }
  .header__info .short-info {
    margin-right: 10px; }

.short-info__text {
  font-size: 0.875rem;
  color: #878787; }
  .header__info .short-info__text {
    max-width: 120px; }

.short-info__link {
  color: #878787;
  transition: color .2s; }
  .short-info__link:hover {
    color: #3a3a3a; }

.header__contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.header__phone-indx {
  font-size: 1.125rem; }

.header__visiting {
  font-size: 1.0625rem;
  font-family: "Open Sans", sans-serif;
  color: #878787; }

.header__msg {
  width: 25px;
  height: 25px;
  background: url("../img/decor/msg.png") no-repeat center;
  background-size: contain;
  cursor: pointer; }

.header__nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #20317F; }

.header__nav-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  -ms-flex-align: center;
      align-items: center; }

.nav {
  -ms-flex: auto;
      flex: auto;
  max-width: 870px; }

.nav__shade {
  position: fixed;
  z-index: 900;
  display: none;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000; }

.nav-mob-button, .nav__mob-button {
  display: none;
  width: 25px;
  height: 25px;
  background: url("../img/decor/mob-menu.png") no-repeat center;
  background-size: 23px 23px;
  cursor: pointer; }

.nav__contacts {
  display: none; }

.nav__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-right: 15px; }
  .nav__list li {
    margin-right: 10px; }
    .nav__list li.active a {
      font-weight: 700;
      color: #3a3a3a; }
  .nav__list a {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.875rem;
    transition: color .2s; }
    body.no-touch .nav__list a:hover {
      color: #3a3a3a; }

.cta-btn {
  padding: 20px 35px;
  background: #3a3a3a;
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  color: #FFF;
  transition: background .2s; }
  .cta-btn:hover {
    background: #474747; }

/**
 * =============================
 *
 * 		#MAIN
 *
 * =============================
 */
.welcome-slider__item {
  background-size: cover;
  background-position: center; }

.welcome-slider__item-content, .welcome__content {
  min-height: 480px;
  padding: 40px 50px 85px; }

.welcome-slider__title {
  margin-bottom: 25px; }

.welcome-slider__sub-title {
  margin-bottom: 15px;
  color: #878787; }

.welcome-slider__text {
  max-width: 490px;
  margin-bottom: 40px; }

.welcome-slider__link {
  padding-right: 100px; }

.slick-prev,
.slick-next {
  position: absolute;
  z-index: 100;
  top: 50%;
  padding: 0;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }

.slick-prev {
  left: 15%; }

.slick-next {
  right: 15%; }

.slick-dots {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  font-size: 0; }
  .slick-dots li {
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-right: 10px;
    background: #FFF; }
    .slick-dots li button {
      width: 13px;
      height: 13px;
      text-indent: 100%;
      overflow: hidden;
      white-space: nowrap;
      border-radius: 50%;
      padding: 0;
      transition: all .2s;
      background: #FFF;
      outline: none; }
    .slick-dots li.slick-active button {
      box-shadow: 0 0 0 3px #FFF;
      outline: none; }

.block-text {
  text-align: center; }
  .block-text .h5 {
    margin-top: 25px; }
  .block-text .t1 {
    margin: 35px auto 0;
    max-width: 650px; }

.block-1-img-left {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .block-1-img-left .h3,
  .block-1-img-left .t2 {
    margin-top: 20px; }
  .block-1-img-left .link-more {
    margin-top: 50px; }

.block-1-img-left__img,
.block-1-img-left__content {
  max-width: calc(50% - 20px); }

.block-1-img-left__content {
  padding-top: 12px;
  padding-bottom: 12px; }

.block-2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.block-2__item {
  width: calc(50% - 20px); }

.block-2__content {
  margin-top: 50px; }
  .block-2__content .h5 {
    margin-top: 25px; }
  .block-2__content .t3 {
    margin-top: 12px; }

.block-3 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .block-3 .h6 {
    margin-top: 20px; }
  .block-3 .t4, .block-3 .footer__nav-list a, .footer__nav-list .block-3 a, .block-3 .footer__contacts-items p, .footer__contacts-items .block-3 p {
    margin-top: 15px; }

.block-3__item {
  width: calc((100/3)*1% - 26.66667px); }

.block-3__content {
  margin-top: 25px; }

.block-4 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .block-4 .t5 {
    margin-top: 18px; }

.block-4__item {
  width: calc(25% - 30px); }

.block-4__img {
  max-width: 260px; }

.block-4__content {
  margin-top: 25px; }

.block-2-1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.block-2-1__big {
  width: 65%; }

.block-2-1__less {
  width: 31%; }

.block-2-1__big {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }
  .block-2-1__big .h4 {
    margin-top: 25px; }
  .block-2-1__big .t2 {
    margin-top: 15px; }

.block-2-1__big-img {
  width: 260px;
  margin-right: 40px;
  margin-bottom: 40px; }

.block-2-1__big-content {
  width: calc(100% - 260px - 40px); }

.block-2-1__less .h8 {
  margin-top: 20px; }

.block-2-1__less .t4, .block-2-1__less .footer__nav-list a, .footer__nav-list .block-2-1__less a, .block-2-1__less .footer__contacts-items p, .footer__contacts-items .block-2-1__less p {
  margin-top: 12px; }

.block-2-1__less-img {
  max-width: 360px; }

.block-2-1__less-content {
  margin-top: 25px; }

.gallery {
  text-align: center; }
  .gallery .h5 {
    margin-top: 25px; }

.gallery__items {
  margin-top: 60px; }
  .gallery__items .slick-dots {
    position: relative;
    bottom: auto;
    margin-top: 50px; }

.gallery__item {
  width: calc(100/6*1%); }

.gallery__link {
  display: block;
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  background-size: cover;
  text-align: center; }
  .gallery__link:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/decor/zoom.png") no-repeat center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .25s; }
  .gallery__link:hover:after {
    opacity: 1; }

.gallery-custom {
  text-align: center; }

.gallery-custom__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-top: 60px; }

.gallery-custom__item-main,
.gallery-custom__items {
  width: calc(50% - 20px); }

.gallery-custom__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between; }

.gallery-custom__item {
  position: relative;
  height: calc(50% - 20px);
  width: calc(50% - 20px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .gallery-custom__item:after {
    content: '';
    display: block;
    position: absolute;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/decor/zoom.png") no-repeat center;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .25s; }
  .gallery-custom__item:hover:after {
    opacity: 1; }

.block-4-stick {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.block-4-stick__item {
  width: 25%;
  background: #878787;
  padding: 3.75rem 10px 1.5625rem;
  text-align: center; }
  .block-4-stick__item:nth-child(even) {
    background: #d1d1d1; }
  .block-4-stick__item .s3 {
    margin: 0 auto;
    max-width: 180px;
    color: #5a5a5a; }
  .block-4-stick__item .icon-sub-title, .block-4-stick__item .icon-rounded {
    margin: 0 auto 1.5625rem; }

.presentation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.presentation__left,
.presentation__right {
  width: 31%; }

.presentation__img {
  background: #878787; }

.presentation__left .h6 {
  margin-top: 20px; }

.presentation__left .t4, .presentation__left .footer__nav-list a, .footer__nav-list .presentation__left a, .presentation__left .footer__contacts-items p, .footer__contacts-items .presentation__left p {
  margin-top: 12px; }

.presentation__left .presentation__img {
  margin-top: 50px; }

.presentation__right .h6 {
  margin-top: 20px; }

.presentation__right .t4, .presentation__right .footer__nav-list a, .footer__nav-list .presentation__right a, .presentation__right .footer__contacts-items p, .footer__contacts-items .presentation__right p {
  margin-top: 12px; }

.to-top {
  position: fixed;
  z-index: 100;
  opacity: 0;
  right: 30px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8B8B8B;
  background: url("../img/decor/to-top-btn.png") no-repeat center;
  background-size: contain;
  transition: opacity .2s, box-shadow .2s;
  cursor: pointer; }
  body.no-touch .to-top:hover {
    opacity: 1 !important; }
  .to-top.to-top_visible {
    opacity: .6; }
  body.no-touch .to-top:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1px #67E1FF; }
    @media only screen and (max-width: 767px) {
      body.no-touch .to-top:hover.to-top_visible {
        opacity: .9; } }
  @media only screen and (max-width: 767px) {
    .to-top.to-top_visible {
      opacity: .9; } }
  @media only screen and (max-width: 600px) {
    .to-top {
      bottom: 15px;
      width: 32px;
      height: 32px; } }

/**
 * =============================
 *
 * 		#FOOTER
 *
 * =============================
 */
.footer {
  padding-top: 2.5rem;
  padding-bottom: 1.25rem; }

.footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap; }

.footer__title {
  margin-bottom: 1.5625rem;
  text-transform: uppercase;
  font-weight: 700; }

.footer__logo {
  text-align: left; }
  .footer__logo .footer__copy {
    max-width: 260px;
    padding-top: 0.9375rem; }
    .footer__logo .footer__copy p {
      text-align: left; }

.footer__nav-list a {
  color: #878787;
  transition: color .2s; }
  body.no-touch .footer__nav-list a:hover {
    color: #3a3a3a; }

.footer__contacts {
  max-width: 220px; }

.footer__social-list li {
  display: inline-block;
  margin-right: 10px; }
  .footer__social-list li:last-child {
    margin-right: 0; }
  .footer__social-list li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-image: url("../img/decor/social.png"); }

.footer__copy {
  padding-top: 30px; }
  .footer__copy p {
    text-align: center;
    font-size: 0.75rem;
    color: #878787; }

/**
 * =============================
 *
 * 		#INNER PAGE
 *
 * =============================
 */
.welcome__content {
  min-height: 330px; }

.inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.sidebar {
  -ms-flex-order: 1;
      order: 1;
  width: 260px; }

.inner-content {
  -ms-flex-order: 2;
      order: 2;
  width: calc(100% - 320px); }

.sidebar-block {
  margin-bottom: 40px;
  padding: 1.5625rem;
  background: #d1d1d1; }
  .sidebar-block .s1, .sidebar-block .welcome-slider__advantages span, .welcome-slider__advantages .sidebar-block span {
    margin-bottom: 1.25rem;
    color: #3a3a3a; }
  .sidebar-block a {
    display: block;
    margin-bottom: 0.9375rem;
    color: #3a3a3a;
    transition: color .2s; }
    body.no-touch .sidebar-block a:hover {
      color: #878787;
      text-decoration: underline; }

.sidebar-adv {
  padding: 4.375rem 1.25rem 2.1875rem;
  background: #d1d1d1;
  text-align: center; }
  .sidebar-adv .t2 {
    margin-top: 1.5625rem; }

.sidebar-adv__link {
  display: block;
  margin-top: 1.875rem;
  padding: 1.125rem 0.3125rem;
  background: #878787;
  font-weight: 700;
  transition: background .2s; }
  body.no-touch .sidebar-adv__link:hover {
    background: #3a3a3a; }

.breadcrumbs {
  padding-top: 0.5rem; }
  .breadcrumbs a, .breadcrumbs span {
    color: #878787; }
  body.no-touch .breadcrumbs a:hover {
    color: #3a3a3a; }

.articles {
  margin-top: 2.8125rem; }

.articles__desc {
  margin-top: 1.25rem; }

.articles__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  margin-top: 2.5rem; }

.articles__item {
  width: calc(100/3*1% - ((40px*2)/3));
  margin-bottom: 4.6875rem; }

.articles__date {
  margin-top: 1.25rem; }

.articles__name {
  margin-top: 1.0625rem; }

.articles__text {
  margin-top: 0.75rem; }

.articles__more {
  text-align: center; }
  .articles__more button {
    border: 2px solid #3a3a3a;
    padding: 1.0625rem 1.875rem;
    background-color: transparent;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    font-size: 1.0625rem;
    color: #878787;
    transition: background .2s, color .2s; }
    body.no-touch .articles__more button:hover {
      background: #878787;
      color: #FFF; }

.articles-row {
  margin-top: 2.8125rem;
  color: #20317F;
  font-weight: 600;
  color: #00E; }
  .articles-row .articles__item {
    width: 100%; }
  .articles-row .articles__img {
    width: 30%;
    float: left; }
  .articles-row .articles__content {
    margin-left: calc(30% + 20px); }

.header__top {
  -ms-flex-align: start;
      align-items: flex-start; }

.logo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start; }

.logo__link {
  display: inline-block;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  color: #0364b3; }

.logo__desc {
  max-width: 245px;
  margin-left: 1.0625rem;
  padding-top: 0.3125rem;
  text-align: left;
  font-size: 0.875rem;
  color: #878787; }

.header__contacts {
  padding-left: 3.125rem;
  background: url("../img/decor/phone.png") no-repeat left center; }

.nav {
  max-width: none; }

.nav__list li.active a {
  color: #FD7721; }

.nav__list a {
  color: #FFF; }
  body.no-touch .nav__list a:hover {
    color: #fd9654; }

.welcome {
  color: #FFF; }

.welcome-slider__title {
  max-width: 790px;
  line-height: 1.3; }

.welcome-slider__sub-title {
  font-weight: 400;
  color: #FFF; }

.welcome-slider__advantages {
  margin-top: 2.8125rem;
  margin-bottom: 1.875rem; }
  .welcome-slider__advantages span {
    margin-left: 4.375rem;
    padding: 0.3125rem 0 0.3125rem 2.8125rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    font-weight: 600;
    color: #FFF; }
    .welcome-slider__advantages span:first-child {
      margin-left: 0;
      background-image: url("../img/decor/advantages-1.png"); }
    .welcome-slider__advantages span:nth-child(2) {
      background-image: url("../img/decor/advantages-2.png"); }

.link-more {
  color: #FFF;
  text-transform: uppercase;
  font-weight: 400; }
  .welcome-slider .link-more {
    background-color: #FD7721; }
    body.no-touch .welcome-slider .link-more:hover {
      background-color: #fd9654; }

.block-text h2 {
  font-weight: 400;
  color: #20317F; }

.block-text p {
  font-weight: 300; }

.services__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 4.6875rem;
  border-right: 1px solid #20317F;
  border-top: 1px solid #20317F; }

.services__items-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.services__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 25%;
  padding: 1.875rem 1.25rem;
  border-left: 1px solid #20317F;
  border-bottom: 1px solid #20317F;
  text-align: center;
  line-height: 1.2; }
  .services__item:nth-child(1), .services__item:nth-child(3), .services__item:nth-child(6), .services__item:nth-child(8) {
    background-color: #E2F4FB; }

.services__item_large {
  width: 50%;
  background-color: #FFF; }

.block-1-img-left__img .img-wrap {
  position: relative; }
  .block-1-img-left__img .img-wrap:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(80, 80, 80, 0.15); }

.block-1-img-left__content h3, .block-1-img-left__content .h7 {
  margin-top: 1.25rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1.875rem;
  background: url("../img/decor/energy.png") no-repeat left center;
  font-weight: 700;
  color: #20317F; }

.block-1-img-left__content .t2 {
  margin-top: 2.5rem;
  line-height: 1.4; }

.block-1-img-left__content .link-more {
  margin-top: 4.375rem;
  background-color: #1896D8;
  font-weight: 700;
  font-size: 1rem; }
  body.no-touch .block-1-img-left__content .link-more:hover {
    background-color: #2ca7e8; }

.footer {
  background: #20317F;
  color: #FFF; }

.footer__copy p {
  color: #ebece4; }

.footer__logo {
  -ms-flex-flow: column;
      flex-flow: column;
  -ms-flex-pack: start;
      justify-content: flex-start; }
  .footer__logo .logo__link {
    font-size: 1.0625rem;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF; }

.footer__dev {
  padding-right: 1.25rem; }
  .footer__dev span {
    display: block;
    margin-bottom: 5px; }

.footer__nav-list a {
  color: #ebece4; }
  body.no-touch .footer__nav-list a:hover {
    color: #FD7721; }

.breadcrumbs {
  margin-bottom: 20px; }
  .breadcrumbs a, .breadcrumbs span {
    color: #0263b2; }

.articles-row .articles__title {
  color: #20368b;
  font-weight: 300; }

.articles-row .articles__desc {
  font-weight: 300;
  color: #6e6e6e; }

.articles-row .articles__name {
  color: #0263b2; }

.articles-row .articles__text {
  color: #6e6e6e;
  font-weight: 400; }

.sidebar-block {
  background: #E2F4FB;
  border: 1px solid  #226CB1; }
  .sidebar-block .s1, .sidebar-block .welcome-slider__advantages span, .welcome-slider__advantages .sidebar-block span {
    color: #20317F;
    font-weight: 600; }
  .sidebar-block a {
    color: #0263b2;
    text-decoration: underline; }

.sidebar .node-webform > header h2 {
  padding: 20px;
  background: #20317F;
  text-align: center; }
  .sidebar .node-webform > header h2 a {
    text-transform: uppercase;
    font-size: 1.25rem;
    letter-spacing: .5px;
    color: #FFF; }

form {
  max-width: 400px; }
  form .form-item {
    margin-bottom: 30px; }
    form .form-item label, form .form-item input {
      margin-bottom: 5px; }
    form .form-item label.element-invisible {
      margin-bottom: 0; }
    form .form-item input, form .form-item textarea {
      font-size: 0.875rem;
      font-family: "Open Sans", sans-serif;
      border: 1px solid #20317F;
      padding: 8px 10px;
      width: 100%; }
  form #edit-captcha-response {
    width: 30px;
    padding: 2px;
    height: 20px;
    text-align: center; }
  form input[type=submit] {
    max-width: none;
    background: #20317F;
    transition: background .2s;
    text-align: center;
    padding: 8px 30px;
    font-size: 1.0625rem;
    font-family: "Open Sans", sans-serif;
    color: #FFF; }
    body.no-touch form input[type=submit]:hover {
      background: #2a41a8; }
    form input[type=submit]:active {
      background: #162156; }

.content-w {
  max-width: 1160px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1190px) {
    .content-w {
      padding-left: 20px;
      padding-right: 20px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

@media only screen and (max-width: 899px) {
  .hidden-tbl {
    display: none; } }

@media only screen and (max-width: 599px) {
  .hidden-phone {
    display: none; } }

.visible-phone {
  display: none; }
  @media only screen and (max-width: 599px) {
    .visible-phone {
      display: block; } }

/* TEMPLATE BLOCKS-MEDIA */
@media only screen and (max-width: 1199px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#HEADER
	 *
	 * =============================
	 */
  .nav__list li {
    margin-right: 7px; }
  .nav__list a {
    font-size: 0.75rem; }
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .block-4__item {
    width: calc(50% - 20px);
    margin-bottom: 55px; }
  .block-2-1__big-content {
    width: 100%; }
  /**
	 * =============================
	 *
	 * 		#INNER-PAGE
	 *
	 * =============================
	 */
  .articles__item {
    width: calc(50% - 40px/2); } }

@media only screen and (max-width: 899px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#COMMON
	 *
	 * =============================
	 */
  .icon-rounded {
    width: 50px;
    height: 50px;
    background-size: 23px 23px; }
  .section {
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .link-more {
    padding: 15px 12% 15px 20px; }
  .link-more__no-bg {
    padding-left: 0;
    margin-top: 15px; }
  /**
	 * =============================
	 *
	 * 		#HEADER
	 *
	 * =============================
	 */
  .header__top {
    padding-top: 20px;
    padding-bottom: 20px; }
  .logo__link {
    font-size: 1.125rem; }
  .header__contacts {
    -ms-flex-pack: center;
        justify-content: center; }
  .header__phone {
    margin-bottom: 5px;
    font-size: 1.25rem; }
  .header__phone-indx {
    font-size: 0.875rem; }
  .header__visiting {
    font-size: 0.9375rem; }
  .nav__mob-button {
    display: block;
    background-image: url(../img/decor/mob-menu_light.png); }
  .nav__list-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    position: fixed;
    z-index: 1000;
    top: 0;
    bottom: 0;
    left: 0;
    width: 200px;
    background: #20317F; }
    .nav__list-wrap.animate {
      transform: translate3d(-200px, 0, 0); }
    .nav__list-wrap.trs {
      transition: transform .6s; }
  .nav__list {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: start;
        justify-content: flex-start;
    padding-right: 0; }
    .nav__list li {
      display: block;
      margin-right: 0;
      width: 100%; }
    .nav__list a {
      display: block;
      border-bottom: 1px solid #5C5C5C;
      padding: 20px 30px;
      text-align: left;
      font-size: 0.75rem;
      line-height: 1.5; }
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .welcome-slider__item-content {
    min-height: 360px;
    padding-top: 30px;
    padding-bottom: 70px; }
  .block-1-img-left .h3 {
    margin-top: 10px; }
  .block-1-img-left .link-more {
    margin-top: 35px; }
  .block-1-img-left__img,
  .block-1-img-left__content {
    width: 100%; }
  .block-1-img-left__content {
    margin-top: 20px; }
  .block-2__item {
    width: 100%;
    margin-bottom: 55px; }
  .block-2__content {
    margin-top: 22px; }
  .block-3__item {
    width: 100%;
    margin-bottom: 55px; }
  .block-3__img {
    width: 65%; }
  .block-2-1__big,
  .block-2-1__less {
    width: 100%;
    margin-bottom: 55px; }
  .block-2-1__big {
    display: block; }
  .block-2-1__big-img {
    height: auto; }
  .gallery-custom {
    display: none; }
  .block-4-stick__item {
    width: 50%;
    margin-bottom: 25px; }
  .presentation {
    display: none; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .footer__contacts,
  .footer__nav,
  .footer__social {
    width: 50%;
    margin-top: 25px; }
  .footer__logo {
    margin-top: 25px; }
    .footer__logo .footer__copy {
      display: none; }
  .footer__social {
    margin-top: 0; }
  .footer__nav {
    -ms-flex-order: 4;
        order: 4; }
  .footer__contacts {
    -ms-flex-order: 5;
        order: 5;
    max-width: none; }
  /**
	 * =============================
	 *
	 * 		#INNER-PAGE
	 *
	 * =============================
	 */
  .sidebar {
    display: none; }
  .inner-content {
    width: 100%; }
  .articles__name {
    margin-top: 0; } }

@media only screen and (max-width: 599px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#CUSTOM
	 *
	 * =============================
	 */
  .link-more {
    margin-top: 28px;
    padding: 15px 18% 15px 20px;
    font-weight: 600;
    font-size: 0.875rem; }
  .link-more__no-bg {
    margin-top: 8px;
    padding-left: 0;
    background-image: none;
    font-size: 0.8125rem; }
  .icon-sub-title {
    width: 23px;
    height: 23px; }
  .icon-rounded {
    width: 35px;
    height: 35px;
    background-size: 17px 17px; }
  /**
	 * =============================
	 *
	 * 		#HEADER
	 *
	 * =============================
	 */
  .header__top {
    height: 90px; }
  .nav-mob-button {
    display: block;
    background-size: 20px 20px; }
  .header__nav {
    height: 0;
    padding: 0;
    overflow: hidden; }
  .nav__list-wrap:after {
    content: '';
    display: block;
    position: absolute;
    right: -30px;
    bottom: 70px;
    width: 30px;
    height: 45px;
    text-align: center;
    background-color: #878787;
    background-image: url("../img/decor/arr-right_light.png");
    background-repeat: no-repeat;
    background-position: center; }
  .nav__list-wrap.animate:after {
    display: none; }
  .nav__list {
    padding-top: 65px;
    background-image: url("../img/decor/mob-menu_light.png");
    background-position: 20px 20px;
    background-repeat: no-repeat;
    background-size: 20px 20px; }
    .nav__list a {
      padding-left: 12px;
      padding-right: 12px; }
  .nav__contacts {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex: auto;
        flex: auto;
    -ms-flex-pack: end;
        justify-content: flex-end;
    padding: 30px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.8125rem;
    color: #FFF; }
  .nav__contacts-city {
    margin-bottom: 15px; }
  .nav__contacts-phone {
    height: 25px;
    line-height: 25px;
    padding-left: 35px;
    background: url("../img/decor/call.png") no-repeat left center;
    font-size: 1rem; }
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .welcome {
    min-height: calc(100vh - 90px); }
  .welcome-slider__item {
    background-position: left center; }
  .welcome-slider__item-content {
    min-height: calc(100vh - 90px); }
    .welcome-slider__item-content .link-more {
      padding-right: 15%; }
  .slick-dots {
    bottom: 28px; }
    .slick-dots li {
      margin-right: 22px; }
  .block-text .h5 {
    margin-top: 14px; }
  .block-text .t1 {
    margin-top: 12px; }
  .block-4 .t5 {
    margin-top: 12px; }
  .block-4__item {
    width: calc(50% - 10px); }
  .block-4__content {
    margin-top: 15px; }
  .block-2-1__big .h4 {
    margin-top: 15px; }
  .block-2-1__big .t2 {
    margin-top: 12px; }
  .block-2-1__big-img {
    width: 45%; }
  .block-2-1__big-img {
    margin-bottom: 17px; }
  .block-2-1__less .h8 {
    margin-top: 15px; }
  .block-2-1__less .t4 {
    margin-top: 10px; }
  .block-2-1__less-img {
    width: 64%; }
  .block-2-1__less-content {
    margin-top: 20px; }
  .gallery__items {
    margin-top: 40px; }
  .gallery__link {
    margin-left: 10px;
    margin-right: 10px; }
  .block-4-stick__item {
    width: 100%; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .footer__content {
    -ms-flex-flow: column wrap;
        flex-flow: column wrap; }
  .footer__social,
  .footer__contacts,
  .footer__nav {
    width: 100%; }
  .footer__social {
    -ms-flex-order: 1;
        order: 1;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center; }
  .footer__logo {
    -ms-flex-order: 2;
        order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center; }
  .footer__nav {
    margin-top: 40px; }
    .footer__nav li {
      margin-bottom: 8px; }
    .footer__nav a {
      font-size: 1rem; }
  /**
	 * =============================
	 *
	 * 		#INNER-PAGE
	 *
	 * =============================
	 */
  .welcome.welcome_inner {
    display: none; }
  .inner.section {
    padding-top: 0; }
  .inner.content-w {
    padding-left: 0;
    padding-right: 0; }
  .breadcrumbs {
    padding: 1.25rem 1.875rem;
    background: #20317F; }
    .breadcrumbs a, .breadcrumbs span {
      color: #f2f2f2;
      font-size: 0.75rem;
      text-transform: uppercase;
      font-weight: 600; }
    body.no-touch .breadcrumbs a:hover {
      color: #FD7721; }
  .articles, .articles-row {
    padding-left: 20px;
    padding-right: 20px; }
  .articles__head {
    display: none; }
  .articles__item {
    width: 100%; }
  .articles__more button {
    padding: 0.625rem 1.5625rem;
    font-size: 1rem; }
  .articles-row .articles__item {
    margin-bottom: 2.1875rem; }
  .articles-row .articles__img {
    float: none;
    width: 100%;
    max-width: 180px; }
  .articles-row .articles__content {
    margin-top: 1.25rem;
    margin-left: 0; } }

@media only screen and (max-width: 479px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

@media only screen and (min-width: 320px) {
  /**/ }

@media only screen and (min-width: 480px) {
  /**/ }

@media only screen and (min-width: 600px) {
  /**/ }

@media only screen and (min-width: 900px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .footer__copy {
    display: none; }
    .footer__logo .footer__copy {
      display: block; } }

@media only screen and (min-width: 1200px) {
  /**/ }

@media only screen and (max-width: 1199px) {
  /**/
  .logo {
    -ms-flex-flow: column;
        flex-flow: column; }
  .logo__desc {
    margin-left: 0; }
  .logo__link {
    font-size: 1.75rem; }
  .services__item {
    width: 50%; }
    .services__item:nth-child(3), .services__item:nth-child(6), .services__item:nth-child(8) {
      background-color: #FFF; }
    .services__item:nth-child(4), .services__item:nth-child(5), .services__item:nth-child(8) {
      background-color: #E2F4FB; }
  .services__item_large {
    width: 100%; }
  .block-1-img-left__content {
    padding-top: 0; }
    .block-1-img-left__content .h7, .block-1-img-left__content h3 {
      margin-top: 0;
      font-size: 1.375rem; }
    .block-1-img-left__content .t2 {
      font-size: 1.0625rem; } }

@media only screen and (max-width: 899px) {
  /**/
  .logo__link {
    font-size: 1.375rem; }
  .logo__desc {
    font-size: 0.8125rem; }
  .nav__list a {
    border-bottom-color: #E1E1E1; }
  .welcome-slider__title {
    font-size: 1.5625rem; }
  .welcome-slider__advantages span {
    padding-left: 1.875rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1rem; }
  .block-1-img-left {
    -ms-flex-flow: column;
        flex-flow: column; }
  .block-1-img-left__content {
    max-width: none; }
    .block-1-img-left__content .t2 {
      margin-top: 0.9375rem; }
  .footer__logo .logo__link {
    color: #FD7721; }
  .footer__dev {
    text-align: center;
    -ms-flex-order: 5;
        order: 5;
    width: 50%;
    margin-top: 25px;
    padding-top: 25px; } }

@media only screen and (max-width: 599px) {
  /**/
  .welcome {
    min-height: calc(100vh - 65px); }
  .header__top {
    height: 65px;
    -ms-flex-align: center;
        align-items: center; }
  .logo {
    margin-left: auto;
    margin-right: auto; }
  .logo__link {
    font-size: 1.125rem; }
  .logo__desc {
    display: none; }
  .welcome-slider__title {
    font-size: 1.125rem; }
  .welcome-slider__advantages {
    margin-top: 0.9375rem; }
    .welcome-slider__advantages span {
      display: block;
      margin-left: 0;
      margin-bottom: 0.9375rem;
      font-size: 0.875rem; }
  .nav__list-wrap:after {
    background-color: #FD7721; }
  .block-text .h5 {
    font-size: 1.5625rem; }
  .services__items {
    margin-top: 1.875rem; }
  .services__item {
    width: 100%;
    padding: 0.9375rem 0.625rem; }
    .services__item:nth-child(odd) {
      background-color: #E2F4FB; }
    .services__item:nth-child(even) {
      background-color: #FFF; }
  .block-1-img-left__img {
    max-width: 50%; }
  .block-1-img-left__content h3, .block-1-img-left__content .h7 {
    font-size: 1.0625rem; }
  .block-1-img-left__content .t2 {
    font-size: 0.9375rem;
    line-height: 1.2; }
  .block-1-img-left__content .link-more {
    padding-right: 3.125rem; }
  .footer__dev {
    width: 100%; }
    .footer__dev span {
      display: inline-block; } }

@media only screen and (max-width: 479px) {
  /**/ }

@media only screen and (max-width: 320px) {
  /**/ }

@media only screen and (min-width: 320px) {
  /**/ }

@media only screen and (min-width: 480px) {
  /**/ }

@media only screen and (min-width: 600px) {
  /**/ }

@media only screen and (min-width: 900px) {
  /**/ }

@media only screen and (min-width: 1200px) {
  /**/
  .services__items-row:nth-child(even) .services__item:nth-child(even) {
    background-color: #E2F4FB; }
  .services__items-row:nth-child(even) .services__item:nth-child(odd) {
    background-color: #FFF; } }
