/* RESET */
/*!
 * =============================
 *
 * 		#RESET
 *
 * =============================
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none; }

/* NORMALIZE */
/*!
 * =============================
 *
 *     #NORMALIZE
 *
 * =============================
 */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/* VARIABLES */
.content-width {
  max-width: 1140px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1170px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
/*!
 * =============================
 *
 * 		#TYPOGRAPHY
 *
 * =============================
 */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #FFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  font-size: 100%;
  color: #111111; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "Arial", sans-serif;
  font-size: 100%; }

textarea {
  font-family: "Arial", sans-serif;
  resize: none; }

/*!
 * =============================
 *
 *     #COMMON
 *
 * =============================
 */
.btn-main {
  outline: none;
  border-radius: 8px;
  padding: 10px 20px;
  background: #72caf2;
  text-align: center;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  body.no-touch .btn-main:hover {
    background: #a1dcf6; }
  body.body .btn-main:active {
    background: #144965; }

.btn-main_size_large {
  padding: 16px 40px;
  border-radius: 10px;
  font-size: 1.375rem;
  letter-spacing: .5px;
  background: #144965;
  -webkit-box-shadow: inset 0 -4px 0 rgba(30, 15, 0, 0.35);
          box-shadow: inset 0 -4px 0 rgba(30, 15, 0, 0.35);
  color: #FFF; }
  body.no-touch .btn-main_size_large:hover {
    background: #236284; }

.btn-main_color_light {
  background: #6BC2EF;
  color: #FFF; }
  body.no-touch .btn-main_color_light:hover {
    background: #91DAFF; }

.contact {
  font-size: 1.5rem; }
  .contact span {
    min-height: 20px;
    padding-left: 21px;
    background-repeat: no-repeat;
    background-position: left center; }

.contact_phone span {
  background-image: url("../img/decor/phone.png"); }

.form-call {
  text-align: center; }

.form-call__text {
  margin-bottom: 25px;
  font-size: 1.3125rem;
  line-height: 1.3; }

.c-accent {
  color: #72caf2; }

.c-white {
  color: #FFF; }

.section .content-width {
  padding-top: 80px;
  padding-bottom: 80px; }

.section_separated .content-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.section-left,
.section-right {
  width: calc(50% - 15px); }

.section-left {
  text-align: right; }
  .section-left h2 {
    font-weight: 700;
    font-size: 3rem; }

.section-right {
  padding-top: 10px; }

.section-bg {
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.section-title {
  margin-bottom: 40px;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center; }

.sub-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 25px;
  padding-bottom: 25px; }

.header__logo {
  margin-right: 30px; }

.header__slogan {
  margin-right: auto;
  font-size: 1.1875rem;
  line-height: 1.4;
  color: #a8a9ad; }

.header__contacts {
  margin-right: 55px; }

/*!
 * =============================
 *
 *     #WELCOME
 *
 * =============================
 */
.welcome {
  background: url("../img/decor/welcome-bg.png") no-repeat center;
  background-size: cover; }

.welcome__content {
  padding-bottom: 40px; }

.welcome__text {
  padding-top: 11%;
  padding-bottom: 8%;
  background: url("../img/decor/term-welcome.png") no-repeat right 30px;
  font-size: 2.625rem;
  line-height: 1.2; }
  .welcome__text p span {
    font-size: 3.75rem; }

.welcome__advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 50px; }
  .welcome__advantages > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 3 * 1% - 20px);
    margin-left: 10px;
    margin-right: 10px; }
  .welcome__advantages p {
    min-height: 160px;
    padding: 30px;
    font-size: 1.3125rem;
    line-height: 1.2;
    color: #FFF;
    background-color: #72caf2;
    background-position: right bottom;
    background-repeat: no-repeat; }
    .welcome__advantages p:nth-child(1) {
      background-image: url("../img/decor/welcome-advantages-1.png"); }
    .welcome__advantages p:nth-child(2) {
      background-image: url("../img/decor/welcome-advantages-2.png"); }
    .welcome__advantages p:nth-child(3) {
      background-image: url("../img/decor/welcome-advantages-3.png"); }

/*!
 * =============================
 *
 *     #SERVICE
 *
 * =============================
 */
.service__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -35px;
  margin-right: -35px; }
  .service__items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 3 * 1% - 70px);
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 70px; }

.service__item-img {
  margin-bottom: 20px;
  text-align: center; }

.service__item-text {
  font-size: 1.3125rem;
  line-height: 1.4;
  text-align: center; }

.service__item {
  margin-bottom: 30px; }

/*!
 * =============================
 *
 *     #SERV
 *
 * =============================
 */
.serv {
  background: #72caf2; }
  .serv .content-width {
    padding-top: 40px;
    padding-bottom: 40px; }

.serv__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.serv__item {
  max-width: 310px; }

.serv__item-img {
  text-align: center;
  margin-bottom: 20px; }

.serv__item-text {
  text-align: center;
  line-height: 1.4;
  font-size: 1.3125rem; }

/*!
 * =============================
 *
 *     #PRODUCTS
 *
 * =============================
 */
.products {
  background: #F5F5F5; }
  .products .section-bg {
    background-image: url("../img/decor/products-bg.jpg"); }

.products__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }
  .products__items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 3 * 1% - 40px);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px; }

.product {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 6px;
  padding: 25px;
  -webkit-box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.1); }

.product__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #e6e6e6;
  height: 250px;
  margin-bottom: 35px;
  text-align: center; }
  .product__img img {
    max-width: 90%;
    max-height: 80%; }

.product__title {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.3125rem;
  font-weight: 700; }

.product__desc {
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.3; }

.payment {
  background: #72caf2; }
  .payment .sub-title {
    text-align: left;
    line-height: 1.2; }
  .payment .content-width {
    padding-top: 50px;
    padding-bottom: 50px; }

.payment__content {
  position: relative; }

.payment__term {
  position: absolute;
  bottom: 0;
  left: 0; }

.payment__content-wrap {
  margin-left: 300px; }

.payment__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.payment__item {
  max-width: 260px; }

.payment__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 70px;
  margin-bottom: 20px;
  text-align: center; }

.payment__item-text {
  font-size: 1.3125rem;
  line-height: 1.2;
  text-align: center; }

/*!
 * =============================
 *
 *     #GALLERY
 *
 * =============================
 */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .gallery a {
    border: 1px solid #e6e6e6;
    max-width: 240px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }

/*!
 * =============================
 *
 *     #ACTION
 *
 * =============================
 */
.action {
  background: #72caf2; }

/*!
 * =============================
 *
 *     #ADVANTAGES
 *
 * =============================
 */
.advantages {
  background: url("../img/decor/advantages-bg.png") no-repeat center;
  background-size: cover; }

.advantages__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.advantages__block {
  max-width: 520px; }
  .advantages__block h4 {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 2.25rem; }
  .advantages__block li {
    margin-bottom: 30px;
    padding-left: 27px;
    font-size: 1.125rem;
    line-height: 1.3; }
    .advantages__block li span {
      position: relative;
      font-size: 1.5rem;
      font-weight: 700; }
      .advantages__block li span:after {
        content: '';
        display: block;
        position: absolute;
        left: -27px;
        top: 6px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 17px;
        height: 17px; }

.advantages__block_cons li span {
  color: #f27272; }
  .advantages__block_cons li span:after {
    background-image: url("../img/decor/cross.png"); }

.advantages__block_pros li span {
  color: #0db35f; }
  .advantages__block_pros li span:after {
    background-image: url("../img/decor/check.png"); }

/*!
 * =============================
 *
 *     #ORDER
 *
 * =============================
 */
.order {
  background: #72caf2; }
  .order .content-width {
    padding-top: 60px;
    padding-bottom: 60px; }

.order__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px; }

.order__item {
  position: relative;
  max-width: 330px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 100px; }
  .order__item:nth-child(1):before {
    content: '1'; }
  .order__item:nth-child(2):before {
    content: '2'; }
  .order__item:nth-child(3):before {
    content: '3'; }
  .order__item:before {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: #FFF;
    font-weight: 700;
    line-height: 70px;
    font-size: 3.75rem;
    text-align: center;
    color: #72caf2; }
  .order__item h4 {
    margin-bottom: 5px;
    font-size: 1.3125rem;
    font-weight: 700;
    line-height: 1.3; }
  .order__item p {
    font-size: 1.125rem;
    line-height: 1.2;
    color: #FFF; }

/*!
 * =============================
 *
 *     #CONTACTS
 *
 * =============================
 */
.contacts {
  background: url("../img/decor/contacts-bg.png") no-repeat center;
  background-size: cover; }
  .contacts .content-width {
    padding-top: 60px;
    padding-bottom: 60px; }

.contacts__content {
  color: #FFF; }
  .contacts__content .section-right {
    font-size: 1.125rem; }
    .contacts__content .section-right p {
      margin-bottom: 20px;
      line-height: 1.2; }
      .contacts__content .section-right p:last-child {
        margin-bottom: 0; }
      .contacts__content .section-right p span {
        font-size: 1.5rem; }

/*!
 * =============================
 *
 *     #MAP
 *
 * =============================
 */
#map {
  height: 600px;
  background: #F5EFD7; }

/*!
 * =============================
 *
 *     #FEEDBACK
 *
 * =============================
 */
.feedback {
  background: #144965; }
  .feedback .content-width {
    padding-top: 60px;
    padding-bottom: 60px; }

.form-feedback {
  max-width: 560px; }

.form-feedback__fields input, .form-feedback__fields textarea,
.form-main__fields input,
.form-main__fields textarea {
  outline: none;
  margin-bottom: 30px;
  padding-bottom: 4px;
  background-color: transparent;
  width: 100%;
  border-bottom: 1px solid  #FFF;
  font-size: 1.3125rem;
  color: #FFF;
  -webkit-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s; }
  .form-feedback__fields input::-webkit-input-placeholder, .form-feedback__fields textarea::-webkit-input-placeholder,
  .form-main__fields input::-webkit-input-placeholder,
  .form-main__fields textarea::-webkit-input-placeholder {
    color: #D2D2D2; }
  .form-feedback__fields input:-ms-input-placeholder, .form-feedback__fields textarea:-ms-input-placeholder,
  .form-main__fields input:-ms-input-placeholder,
  .form-main__fields textarea:-ms-input-placeholder {
    color: #D2D2D2; }
  .form-feedback__fields input::placeholder, .form-feedback__fields textarea::placeholder,
  .form-main__fields input::placeholder,
  .form-main__fields textarea::placeholder {
    color: #D2D2D2; }
  .form-feedback__fields input:focus, .form-feedback__fields textarea:focus,
  .form-main__fields input:focus,
  .form-main__fields textarea:focus {
    border-color: #0db35f;
    color: #FFF; }
  .form-feedback__fields input:focus:required:invalid, .form-feedback__fields textarea:focus:required:invalid,
  .form-main__fields input:focus:required:invalid,
  .form-main__fields textarea:focus:required:invalid {
    color: #f27272; }
  .form-feedback__fields input:required:valid, .form-feedback__fields textarea:required:valid,
  .form-main__fields input:required:valid,
  .form-main__fields textarea:required:valid {
    color: #FFF; }

.form-feedback__fields textarea,
.form-main__fields textarea {
  margin-top: 20px;
  border-radius: 4px;
  min-height: 220px;
  border: 1px solid  #FFF;
  padding: 15px; }

/*!
 * =============================
 *
 *     #FOOTER
 *
 * =============================
 */
.footer {
  background: #9D9D9D; }

.footer__content {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center; }
  .footer__content a {
    color: #fff; }
    body.no-touch .footer__content a:hover {
      text-decoration: underline; }

/*!
 * =============================
 *
 *     #FORM
 *
 * =============================
 */
.form-wrap {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.7); }

.form-main {
  position: relative;
  z-index: 100;
  top: 15%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  max-width: 420px;
  background-color: #144965;
  -webkit-box-shadow: 0 0 0 1px white;
          box-shadow: 0 0 0 1px white;
  padding: 50px 30px;
  text-align: center; }
  .form-main .btn-main {
    min-width: 260px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-transform: uppercase;
    font-weight: 700; }
    body.no-touch .form-main .btn-main:active {
      background: #72caf2; }

.form-main__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 1.5625rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  color: #FFF; }
  .form-main__title span {
    color: #72caf2; }

.form-main__fields {
  margin-bottom: 25px; }
  .form-main__fields input {
    width: 100%;
    font-size: 1.125rem;
    margin-bottom: 20px; }
    .form-main__fields input.hidden {
      display: none; }

.form-main__close {
  width: 23px;
  height: 23px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(../img/decor/cross.png) no-repeat center;
  cursor: pointer;
  background-size: contain; }

.content-width {
  max-width: 1140px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1170px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

@media only screen and (max-width: 74.9375em) {
  .section .content-width {
    padding-top: 35px;
    padding-bottom: 35px; }
  .section-title {
    margin-bottom: 30px;
    font-size: 2.1875rem; }
  .sub-title {
    margin-bottom: 25px;
    font-size: 1.625rem; }
  .welcome__text {
    padding-top: 50px;
    background-size: contain;
    background-position: right 10% center; }
    .welcome__text p {
      font-size: 1.875rem; }
      .welcome__text p span {
        font-size: 3.125rem; }
  .welcome__advantages p {
    min-height: 120px;
    padding: 20px;
    font-size: 1.125rem; }
  .payment__term {
    max-width: 170px; }
  .payment__content-wrap {
    margin-left: 240px; }
  .payment__item {
    margin-left: 10px;
    margin-right: 10px; }
  .payment__item-text {
    font-size: 1.125rem; }
  .order__item {
    padding-left: 55px; }
    .order__item:before {
      width: 40px;
      height: 40px;
      font-size: 1.875rem;
      line-height: 40px; } }

@media only screen and (max-width: 56.1875em) {
  .section_separated .content-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .section-left,
  .section-right {
    width: 100%; }
  .section-left {
    text-align: center; }
    .section-left h2 {
      margin-bottom: 30px;
      font-size: 2rem; }
      .section-left h2 br {
        display: none; }
  .section-right {
    padding-top: 0; }
  .form-call__text {
    font-size: 1rem; }
  .contact {
    font-size: 1.125rem; }
  .section-title {
    font-size: 1.75rem; }
  .sub-title {
    font-size: 1.5625rem; }
  .header__slogan {
    display: none; }
  .header__logo {
    margin-right: auto; }
  .header__contacts {
    margin-right: 30px; }
  .welcome__text p {
    font-size: 1.25rem; }
    .welcome__text p span {
      font-size: 2.25rem; }
  .welcome__advantages {
    margin-bottom: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .welcome__advantages p {
      width: 100%;
      max-width: 700px;
      min-height: auto;
      margin-bottom: 20px;
      background-image: none !important;
      text-align: center; }
      .welcome__advantages p:last-child {
        margin-bottom: 0; }
      .welcome__advantages p br {
        display: none; }
  .service__items {
    margin-left: -20px;
    margin-right: -20px; }
  .service__item {
    width: calc(50% - 40px);
    margin-left: 20px;
    margin-right: 20px; }
  .service__item-text {
    font-size: 1.125rem; }
  .serv .sub-title {
    font-size: 1.75rem; }
  .serv__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .serv__item {
    margin-bottom: 30px; }
    .serv__item:last-child {
      margin-bottom: 0; }
  .serv__item-text {
    line-height: 1.3;
    font-size: 1.125rem; }
  .products .section-bg {
    background: none; }
  .products__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0;
    margin-right: 0; }
  .product {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
    margin-right: 0; }
  .payment .sub-title {
    text-align: center; }
  .payment__term {
    display: none; }
  .payment__content-wrap {
    margin-left: 0; }
  .advantages__block h4 {
    font-size: 1.5rem; }
  .advantages__block li span {
    font-size: 1.25rem; }
  .order .content-width {
    padding-top: 25px;
    padding-bottom: 25px; }
  .order__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .order__item {
    max-width: 400px;
    margin-bottom: 30px;
    padding-left: 40px; }
    .order__item:last-child {
      margin-bottom: 0; }
    .order__item:before {
      width: 30px;
      height: 30px;
      font-size: 1.5625rem;
      line-height: 30px; }
  .contacts__content .section-right {
    font-size: 1.25rem; }
    .contacts__content .section-right p {
      margin-bottom: 12px;
      text-align: center; }
      .contacts__content .section-right p br {
        display: none; } }

@media only screen and (max-width: 37.4375em) {
  .section-left h2 {
    font-size: 1.5rem; }
  .btn-main br {
    display: none; }
  .btn-main_size_large {
    font-size: 1.0625rem;
    letter-spacing: 0;
    padding: 10px 12px; }
  .section .content-width {
    padding-top: 25px;
    padding-bottom: 25px; }
  .section-title {
    margin-bottom: 25px;
    font-size: 1.5rem; }
  .sub-title {
    font-size: 1.25rem; }
    .sub-title br {
      display: none; }
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px; }
    .header__content .btn-main {
      margin-left: auto;
      margin-top: 15px; }
  .header__logo {
    width: calc(40% - 20px);
    margin-right: 20px; }
  .header__contacts {
    width: 60%;
    margin-right: 0;
    text-align: right; }
  .welcome__text {
    margin-bottom: 20px;
    padding-bottom: 0;
    padding-top: 210px;
    background-size: auto 200px;
    background-position: center 10px;
    text-align: center; }
    .welcome__text p {
      font-size: 1.25rem; }
      .welcome__text p span {
        font-size: 1.75rem; }
  .service__items {
    margin-top: 45px;
    margin-left: 0;
    margin-right: 0; }
  .service__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .serv .content-width {
    padding-top: 25px;
    padding-bottom: 25px; }
  .serv .sub-title {
    font-size: 1.375rem; }
  .payment__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .payment__item {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px; }
    .payment__item:last-child {
      margin-bottom: 0; }
  .advantages__block h4 {
    font-size: 1.375rem; }
  .advantages__block li {
    font-size: 1rem; }
    .advantages__block li span {
      display: block;
      margin-bottom: 8px;
      font-size: 1.125rem; }
  .order__item h4 {
    font-size: 1.125rem; }
  .order__item p {
    font-size: 1rem; }
  .contacts__content .section-right {
    font-size: 1.125rem; }
    .contacts__content .section-right p span {
      font-size: 1.125rem; }
  .form-feedback__fields textarea {
    min-height: 140px; }
  .form-main {
    top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px 15px; }
  .form-main__title {
    font-size: 1.25rem; }
  .form-main__fields {
    margin-bottom: 0; }
  .form-main__close {
    width: 17px;
    top: 10px;
    right: 10px; }
  .form-main__fields input {
    font-size: 1rem; } }
