.wrap {
  max-width: 900px;
  padding: 15px;
  font-family: 'Open Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  border-right: 1px solid #D5D5D5;
  border-left: 1px solid #D5D5D5; }

.article__title {
  margin-bottom: 40px;
  font-size: 28px;
  text-align: center; }

.article__text {
  margin-bottom: 30px; }

.article-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  border-radius: 7px;
  margin-bottom: 30px;
  padding: 20px;
  background: #1670BE; }

.article-nav__link {
  display: inline-block;
  position: relative;
  border-bottom: 1px solid  #FFF;
  padding: 10px;
  text-decoration: none;
  font-size: 18px;
  -webkit-transition: border-color .2s, color .2s;
  -o-transition: border-color .2s, color .2s;
  transition: border-color .2s, color .2s;
  color: #FFF; }
  .article-nav__link:hover {
    color: #FFD530;
    border-bottom-color: #FFD530; }
    .article-nav__link:hover:after {
      -webkit-transform: translateX(8px);
          -ms-transform: translateX(8px);
              transform: translateX(8px); }
  .article-nav__link:after {
    content: '\0203A';
    display: inline-block;
    padding-left: 15px;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }

._products {
  margin-bottom: 60px; }

._product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  max-width: 100%; }
  ._product:last-child {
    margin-bottom: 0; }

._product__img-wrap {
  margin-right: 30px;
  text-align: center;
  width: 20%; }

._product__img img {
  max-width: 100%; }

._product__title {
  display: block;
  text-decoration: none;
  margin-bottom: 5px;
  font-weight: 700;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
  ._product__title:hover {
    color: #1670BE; }

._product__gallery {
  width: calc(80% - 70px);
  margin-top: 20px;
  padding-right: 35px;
  position: relative; }
  ._product__gallery .owl-nav {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  ._product__gallery .owl-prev,
  ._product__gallery .owl-next {
    position: absolute;
    font-size: 35px;
    line-height: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    ._product__gallery .owl-prev:before,
    ._product__gallery .owl-next:before {
      content: '\0203A';
      display: block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      font-size: 35px; }
    ._product__gallery .owl-prev.disabled,
    ._product__gallery .owl-next.disabled {
      opacity: .5; }
  ._product__gallery .owl-prev {
    left: -30px; }
    ._product__gallery .owl-prev:before {
      content: '\02039'; }
  ._product__gallery .owl-next {
    right: -20px; }

._product__gallery-item img {
  max-width: 100%; }

.article__sub-title {
  margin-bottom: 45px;
  text-align: center;
  font-size: 22px; }

.works {
  margin-top: 50px; }

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px; }
  .work-item:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(22, 112, 190, 0)), color-stop(50%, #1670be), to(rgba(22, 112, 190, 0)));
    background: -o-linear-gradient(left, rgba(22, 112, 190, 0), #1670be 50%, rgba(22, 112, 190, 0));
    background: linear-gradient(to right, rgba(22, 112, 190, 0), #1670be 50%, rgba(22, 112, 190, 0)); }

.work-item_rtl .work-item__img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  margin-right: 0;
  margin-left: 25px; }

.work-item_rtl .work-item__title {
  text-align: left; }

.work-item__img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 35px;
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.4);
  border-radius: 8px; }
  .work-item__img img {
    vertical-align: bottom;
    max-width: 100%; }

.work-item__title {
  position: relative;
  line-height: 1;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  padding-right: 20px;
  text-align: right; }

.work-item__text {
  text-align: justify; }

.works-pagination {
  margin-bottom: 20px;
  text-align: center; }
  .works-pagination a {
    display: inline-block;
    margin-right: 20px;
    font-weight: 700;
    text-decoration: none;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    color: #000; }
    .works-pagination a:hover {
      color: #1670BE; }

.works-all {
  text-align: center; }
  .works-all a {
    display: inline-block;
    position: relative;
    color: #1670BE;
    text-decoration: none; }
    .works-all a:after {
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      width: 100%;
      height: 1px;
      background: #1670BE;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%);
      max-width: 0;
      -webkit-transition: max-width .4s;
      -o-transition: max-width .4s;
      transition: max-width .4s; }
    .works-all a:hover:after {
      max-width: 500px; }

/*!
 * =============================
 *
 *     #MEDIA
 *
 * =============================
 */
@media only screen and (max-width: 767px) {
  ._product {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    margin-bottom: 60px; }
    ._product:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -30px;
      left: 0;
      right: 0;
      height: 2px;
      background: -webkit-gradient(linear, left top, right top, from(rgba(22, 112, 190, 0)), color-stop(50%, #1670be), to(rgba(22, 112, 190, 0)));
      background: -o-linear-gradient(left, rgba(22, 112, 190, 0), #1670be 50%, rgba(22, 112, 190, 0));
      background: linear-gradient(to right, rgba(22, 112, 190, 0), #1670be 50%, rgba(22, 112, 190, 0)); }
  ._product__img-wrap {
    margin-bottom: 20px;
    margin-right: 0;
    width: 100%; }
  ._product__gallery {
    padding-right: 0;
    width: calc(100% - 40px); }
  .work-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .work-item_rtl .work-item__img {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-left: 0; }
  .work-item__img {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 20px; } }

@media only screen and (max-width: 567px) {
  .article__title {
    font-size: 24px; }
  .article-nav {
    padding: 10px; }
  .article-nav__link {
    font-size: 15px;
    border-bottom: none;
    text-decoration: underline; }
  .work-item__img {
    margin-right: 0; } }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }
