.main {
  padding-bottom: 0;
  background: #F6F6F6; }

.products {
  padding-top: 60px;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto; }
  .products .service__items {
    padding-bottom: 0; }
  .products .service__item {
    margin-bottom: 60px; }
  .products .service__item-img {
    overflow: hidden; }
    .products .service__item-img:before {
      content: '';
      float: left;
      padding-top: 100%; }
  .products .service__item-desc {
    padding: 50px 20px 50px 50px; }
    .products .service__item-desc p {
      max-width: none;
      margin-bottom: 45px;
      line-height: 1.7; }
    .products .service__item-desc h5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 50px;
      padding-left: 45px;
      min-height: 35px;
      background-image: url("../img/decor/clock.png");
      background-repeat: no-repeat;
      background-position: left center;
      font-size: 18px; }

.dimensions {
  margin-top: 100px; }

.dimensions__title {
  margin-bottom: 50px;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase; }

.dimensions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.dimension__options a {
  display: inline-block;
  margin-right: 15px;
  padding: 5px 10px;
  border: 1px solid #ff643c;
  height: 30px;
  line-height: 22px;
  text-align: center;
  font-weight: 300;
  font-family: "Fira Sans", sans-serif;
  color: #39383e;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .dimension__options a:last-child {
    margin-right: 0; }
  body.no-touch .dimension__options a:hover {
    background: #FF3C42;
    color: #FFF; }

.dimension__title {
  margin-bottom: 30px;
  font-size: 24px; }
  .dimension__title span {
    font-size: 18px; }

.catalog .section-title {
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 35px;
  padding-top: 100px;
  text-align: left; }
  .catalog .section-title:after {
    content: '';
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 61px;
    height: 1px;
    background: #98979A; }

.catalog__desc {
  margin-bottom: 80px;
  line-height: 1.6; }

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px; }

.catalog__item {
  position: relative;
  width: calc(100 / 3 * 1% - 40px);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  background: #FFF;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  body.no-touch .catalog__item:hover {
    -webkit-box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3); }
    body.no-touch .catalog__item:hover .catalog__info-hover {
      opacity: 1;
      z-index: 5; }
  .catalog__item ul {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    text-transform: uppercase; }
    .catalog__item ul li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px; }
      .catalog__item ul li:last-child {
        margin-bottom: 0; }

.catalog__divider {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 2px;
  border-bottom: 1px dashed; }

.catalog__img {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  .catalog__img:before {
    content: '';
    float: left;
    padding-top: 100%; }

.catalog__info {
  position: relative;
  padding: 30px 20px 20px; }

.catalog__params {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-weight: 300; }

.catalog__material {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif; }

.catalog__info-hover {
  position: absolute;
  opacity: 0;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 30px 20px 20px;
  background: #FC593B;
  color: #FFF;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  .catalog__info-hover .catalog__params {
    line-height: 1.5;
    margin-bottom: 10px;
    font-size: 14px; }
  .catalog__info-hover .catalog__price {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 300; }
    .catalog__info-hover .catalog__price span {
      font-size: 30px; }

body.touch .catalog__info-hover {
  position: relative;
  z-index: 0;
  background: #FFF;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  opacity: 1;
  color: #39383e; }
  body.touch .catalog__info-hover .catalog__params {
    display: none; }
  body.touch .catalog__info-hover .catalog__link {
    background: #F94E3C;
    color: #FFF; }

.catalog__link {
  display: block;
  border: 1px solid #ffffff;
  padding: 10px 10px 7px 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  color: #FFF; }
  body.no-touch .catalog__link:hover {
    background: #FFF;
    color: #F94E3C; }

.sidebar {
  background: #FFF;
  padding-top: 100px; }
  .sidebar .dimensions__items,
  .sidebar .dimensions__title {
    margin-left: 60px;
    margin-right: 50px; }
  .sidebar .dimensions__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
  .sidebar .dimension {
    margin-bottom: 15px; }
  .sidebar .dimension__title {
    margin-bottom: 10px; }
  .sidebar .dimension__options a {
    width: 57px;
    height: 30px;
    margin-bottom: 15px; }

.catalog__more {
  display: block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  padding-left: 60px;
  margin-left: auto;
  margin-right: auto;
  background: #FF643C;
  text-align: center;
  color: #FFF;
  background-image: url("../img/decor/more.png");
  background-repeat: no-repeat;
  background-position: 30px center;
  font-family: "Fira Sans", sans-serif;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  body.no-touch .catalog__more:hover {
    background: #FF7855;
    background-image: url("../img/decor/more.png");
    background-repeat: no-repeat;
    background-position: 30px center; }

.offer {
  margin-top: 60px; }
  .offer .service__items {
    padding-bottom: 0; }
  .offer .service__item {
    margin-bottom: 60px; }
  .offer .service__item-img {
    overflow: hidden;
    position: relative; }
    .offer .service__item-img:before {
      content: '';
      float: left;
      padding-top: 100%; }
    .offer .service__item-img:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: rgba(52, 51, 56, 0.5); }
    .offer .service__item-img h3 {
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      font-size: 32px;
      font-weight: 300;
      text-transform: uppercase;
      max-width: 230px;
      line-height: 1.4;
      padding: 25px;
      border: 1px solid #F94E3C;
      color: #FFF; }
  .offer .service__item-desc {
    padding: 50px 20px 50px 50px; }
    .offer .service__item-desc p {
      max-width: none;
      margin-bottom: 45px;
      line-height: 1.7; }
    .offer .service__item-desc h5 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 50px;
      padding-left: 45px;
      min-height: 35px;
      background-image: url("../img/decor/clock.png");
      background-repeat: no-repeat;
      background-position: left center;
      font-size: 18px; }
  .offer h4 {
    margin-bottom: 30px; }
  .offer h3 {
    line-height: 1.4;
    font-size: 26px;
    margin-bottom: 20px; }
  .offer .cta-btn {
    background-image: none;
    padding: 20px 35px; }

.advantages {
  margin-bottom: 100px; }
  .advantages .section-title {
    margin-bottom: 80px;
    padding-top: 60px;
    text-align: left; }

.advantages__items {
  padding-left: 35px; }

.advantage {
  position: relative;
  margin-bottom: 40px;
  padding-left: 85px; }
  .advantage:before {
    content: '';
    display: block;
    position: absolute;
    top: 12px;
    left: 0;
    height: 1px;
    width: 60px;
    background: #98979A; }
  .advantage p {
    font-family: "Fira Sans", sans-serif;
    font-size: 14px;
    line-height: 1.8; }
    .advantage p span {
      text-transform: uppercase;
      color: #FF643C; }
  .advantage:last-child {
    margin-bottom: 0; }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

@media only screen and (max-width: 899px) {
  .hidden-tbl {
    display: none; } }

@media only screen and (max-width: 599px) {
  .hidden-phone {
    display: none; } }

.visible-phone {
  display: none; }

@media only screen and (max-width: 599px) {
  .visible-phone {
    display: block; } }

.c-accent {
  color: #5990FF; }

@media only screen and (max-width: 74.9375em) {
  .catalog__item {
    width: calc(50% - 40px); }
  .offer .service__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }
    .offer .service__item > * {
      width: 100%; }
    .offer .service__item .service__item-img {
      height: 280px; }
      .offer .service__item .service__item-img:before {
        display: none; }
  .advantages__items {
    padding-left: 0; } }

@media only screen and (max-width: 56.1875em) {
  .products .service__item-img:before {
    display: none; }
  .dimensions {
    margin-top: 40px; }
  .dimensions__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column; }
  .dimension {
    margin-bottom: 30px; }
  .catalog .section-title {
    padding-top: 50px; } }

@media only screen and (max-width: 37.4375em) {
  .products {
    padding-top: 30px; }
    .products .service__item-desc {
      padding: 20px; }
      .products .service__item-desc h5 {
        margin-bottom: 30px; }
  .dimenstions {
    margin-top: 10px; }
  .dimensions__title {
    font-size: 24px;
    line-height: 1.4; }
  .catalog {
    padding-left: 15px;
    padding-right: 15px; }
    .catalog .section-title {
      padding-top: 30px; }
  .catalog__items {
    margin-left: 0;
    margin-right: 0; }
  .catalog__item {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .catalog__info-hover {
    position: relative;
    z-index: 0;
    background: #FFF;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    opacity: 1;
    color: #39383e; }
    .catalog__info-hover .catalog__params {
      display: none; }
    .catalog__info-hover .catalog__link {
      background: #F94E3C;
      color: #FFF; }
  .offer .service__item-desc {
    padding: 20px; }
  .offer h3 {
    font-size: 20px; }
  .advantages {
    margin-bottom: 30px; }
    .advantages .section-title {
      padding-top: 0;
      margin-bottom: 30px; }
  .advantage {
    margin-bottom: 15px;
    padding-left: 25px; }
    .advantage:before {
      width: 15px; } }
