/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none; }

/* NORMALIZE */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/* VARIABLES */
.content-w {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-w {
      padding-left: 15px;
      padding-right: 15px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.np {
  margin-left: -15px;
  margin-right: -15px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

.sect-w {
  max-width: 1360px;
  margin: 0 auto; }

.sect {
  padding-top: 55px;
  padding-bottom: 45px; }
  @media only screen and (max-width: 479px) {
    .sect {
      padding-top: 30px;
      padding-bottom: 30px; } }

.sect_dark {
  background: #385B71; }

.sect-title {
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
  color: #2980b9; }
  .sect_dark .sect-title {
    color: #FFF; }
  @media only screen and (max-width: 479px) {
    .sect-title {
      margin-bottom: 40px;
      font-size: 1.375em; } }

.article-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.1875em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #3d3d3d; }
  @media only screen and (max-width: 991px) {
    .article-title {
      font-size: 1.3125em; } }
  @media only screen and (max-width: 479px) {
    .article-title {
      font-size: 1.125em; } }

.advantages__slider .owl-nav,
.questions__slider .owl-nav {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.advantages__slider .owl-prev,
.advantages__slider .owl-next,
.questions__slider .owl-prev,
.questions__slider .owl-next {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/decor/slider-arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .5;
  transition: opacity .25s; }
  body.no-touch .advantages__slider .owl-prev:hover,
  body.touch .advantages__slider .owl-prev, body.no-touch
  .advantages__slider .owl-next:hover,
  body.touch
  .advantages__slider .owl-next, body.no-touch
  .questions__slider .owl-prev:hover,
  body.touch
  .questions__slider .owl-prev, body.no-touch
  .questions__slider .owl-next:hover,
  body.touch
  .questions__slider .owl-next {
    opacity: 1; }

.advantages__slider .owl-prev,
.questions__slider .owl-prev {
  left: 40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.advantages__slider .owl-next,
.questions__slider .owl-next {
  right: 40px; }

.advantages__slider .owl-dots,
.questions__slider .owl-dots {
  text-align: center; }

.advantages__slider .owl-dot,
.questions__slider .owl-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #FF4B39; }
  .advantages__slider .owl-dot.active,
  .questions__slider .owl-dot.active {
    background: #FF4B39; }

@media only screen and (max-width: 767px) {
  .advantages__slider .owl-prev,
  .questions__slider .owl-prev {
    left: 15px; }
  .advantages__slider .owl-next,
  .questions__slider .owl-next {
    right: 15px; } }

.to-top {
  position: fixed;
  z-index: 100;
  opacity: 0;
  right: 30px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8B8B8B;
  background: url("../img/decor/scroll-btn.png") no-repeat center;
  background-size: contain;
  transition: opacity .8s, box-shadow .2s;
  cursor: pointer; }
  body.no-touch .to-top:hover {
    opacity: 1 !important; }
  .to-top.to-top_visible {
    opacity: .6; }
  .to-top:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1px #67E1FF; }
    @media only screen and (max-width: 767px) {
      .to-top:hover.to-top_visible {
        opacity: .9; } }
  @media only screen and (max-width: 767px) {
    .to-top.to-top_visible {
      opacity: .9; } }
  @media only screen and (max-width: 600px) {
    .to-top {
      bottom: 15px;
      width: 32px;
      height: 32px; } }

/* TYPOGRAPHY */
.content-w {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-w {
      padding-left: 15px;
      padding-right: 15px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.np {
  margin-left: -15px;
  margin-right: -15px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

.sect-w {
  max-width: 1360px;
  margin: 0 auto; }

.sect {
  padding-top: 55px;
  padding-bottom: 45px; }
  @media only screen and (max-width: 479px) {
    .sect {
      padding-top: 30px;
      padding-bottom: 30px; } }

.sect_dark {
  background: #385B71; }

.sect-title {
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
  color: #2980b9; }
  .sect_dark .sect-title {
    color: #FFF; }
  @media only screen and (max-width: 479px) {
    .sect-title {
      margin-bottom: 40px;
      font-size: 1.375em; } }

.article-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.1875em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #3d3d3d; }
  @media only screen and (max-width: 991px) {
    .article-title {
      font-size: 1.3125em; } }
  @media only screen and (max-width: 479px) {
    .article-title {
      font-size: 1.125em; } }

.advantages__slider .owl-nav,
.questions__slider .owl-nav {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.advantages__slider .owl-prev,
.advantages__slider .owl-next,
.questions__slider .owl-prev,
.questions__slider .owl-next {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/decor/slider-arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .5;
  transition: opacity .25s; }
  body.no-touch .advantages__slider .owl-prev:hover,
  body.touch .advantages__slider .owl-prev, body.no-touch
  .advantages__slider .owl-next:hover,
  body.touch
  .advantages__slider .owl-next, body.no-touch
  .questions__slider .owl-prev:hover,
  body.touch
  .questions__slider .owl-prev, body.no-touch
  .questions__slider .owl-next:hover,
  body.touch
  .questions__slider .owl-next {
    opacity: 1; }

.advantages__slider .owl-prev,
.questions__slider .owl-prev {
  left: 40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.advantages__slider .owl-next,
.questions__slider .owl-next {
  right: 40px; }

.advantages__slider .owl-dots,
.questions__slider .owl-dots {
  text-align: center; }

.advantages__slider .owl-dot,
.questions__slider .owl-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #FF4B39; }
  .advantages__slider .owl-dot.active,
  .questions__slider .owl-dot.active {
    background: #FF4B39; }

@media only screen and (max-width: 767px) {
  .advantages__slider .owl-prev,
  .questions__slider .owl-prev {
    left: 15px; }
  .advantages__slider .owl-next,
  .questions__slider .owl-next {
    right: 15px; } }

.to-top {
  position: fixed;
  z-index: 100;
  opacity: 0;
  right: 30px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8B8B8B;
  background: url("../img/decor/scroll-btn.png") no-repeat center;
  background-size: contain;
  transition: opacity .8s, box-shadow .2s;
  cursor: pointer; }
  body.no-touch .to-top:hover {
    opacity: 1 !important; }
  .to-top.to-top_visible {
    opacity: .6; }
  .to-top:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1px #67E1FF; }
    @media only screen and (max-width: 767px) {
      .to-top:hover.to-top_visible {
        opacity: .9; } }
  @media only screen and (max-width: 767px) {
    .to-top.to-top_visible {
      opacity: .9; } }
  @media only screen and (max-width: 600px) {
    .to-top {
      bottom: 15px;
      width: 32px;
      height: 32px; } }

*::-webkit-input-placeholder {
  color: #9a9a9a;
  opacity: 1;
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif; }

*:-moz-placeholder {
  color: #9a9a9a;
  opacity: 1;
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif; }

*::-moz-placeholder {
  color: #9a9a9a;
  opacity: 1;
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif; }

*:-ms-input-placeholder {
  color: #9a9a9a;
  opacity: 1;
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif; }

* {
  box-sizing: border-box; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #FFFFFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  color: #818181; }

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif; }

/* FONTS */
@font-face {
  font-family: "BloggerSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/BloggerSans/regular/BloggerSans-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/regular/BloggerSans-regular.woff") format("woff"), url("../fonts/BloggerSans/regular/BloggerSans-regular.ttf") format("truetype"), url("../fonts/BloggerSans/regular/BloggerSans-regular.svg#BloggerSans") format("svg"); }

@font-face {
  font-family: "BloggerSans";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/BloggerSans/light/BloggerSans-light.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/light/BloggerSans-light.woff") format("woff"), url("../fonts/BloggerSans/light/BloggerSans-light.ttf") format("truetype"), url("../fonts/BloggerSans/light/BloggerSans-light.svg#BloggerSans") format("svg"); }

@font-face {
  font-family: "BloggerSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/BloggerSans/medium/BloggerSans-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/medium/BloggerSans-medium.woff") format("woff"), url("../fonts/BloggerSans/medium/BloggerSans-medium.ttf") format("truetype"), url("../fonts/BloggerSans/medium/BloggerSans-medium.svg#BloggerSans") format("svg"); }

@font-face {
  font-family: "BloggerSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/BloggerSans/bold/BloggerSans-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BloggerSans/bold/BloggerSans-bold.woff") format("woff"), url("../fonts/BloggerSans/bold/BloggerSans-bold.ttf") format("truetype"), url("../fonts/BloggerSans/bold/BloggerSans-bold.svg#BloggerSans") format("svg"); }

@font-face {
  font-family: "Neuron";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Neuron/regular/Neuron-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuron/regular/Neuron-regular.woff") format("woff"), url("../fonts/Neuron/regular/Neuron-regular.ttf") format("truetype"), url("../fonts/Neuron/regular/Neuron-regular.svg#Neuron") format("svg"); }

@font-face {
  font-family: "Neuron";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Neuron/bold/Neuron-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Neuron/bold/Neuron-bold.woff") format("woff"), url("../fonts/Neuron/bold/Neuron-bold.ttf") format("truetype"), url("../fonts/Neuron/bold/Neuron-bold.svg#Neuron") format("svg"); }

/**
 * =============================
 *
 * 		#HEADER
 *
 * =============================
 */
.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100px;
  line-height: 100px; }

.logo {
  width: 50%;
  font-family: "Neuron", sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #3e3e3e; }

.logo__link {
  color: #3d3d3d; }

.logo__left {
  padding-right: 55px;
  background: url("../img/decor/logo.png") no-repeat right center;
  background-size: contain; }

.nav__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__item {
  margin-right: 20px; }
  .nav__item:last-child {
    margin-right: 0; }

.nav__link {
  font-size: 0.875em;
  text-transform: uppercase;
  color: #61656f;
  transition: color .2s;
  white-space: nowrap; }
  .nav__link:hover,
  .nav__item.active .nav__link {
    color: #FF4B39; }
  .nav__item.active .nav__link {
    font-weight: 500; }

.nav__shade {
  position: fixed;
  z-index: 900;
  display: none;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000; }

.nav__mob-button {
  display: none;
  width: 25px;
  height: 25px;
  background: url("../img/decor/mob-button.svg") no-repeat;
  background-size: 25px 25px;
  cursor: pointer; }
  html.no-svg .nav__mob-button {
    background: url("../img/decor/mob-button.png") no-repeat; }

/**
 * =============================
 *
 * 		#MAIN
 *
 * =============================
 */
.welcome {
  position: relative; }

.main-slider {
  position: relative;
  z-index: 5; }

.main-slider__item {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  max-height: 610px; }
  .main-slider__item:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 61, 74, 0.6); }

.welcome__content {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 6%;
  padding-bottom: 10%; }

.welcome__info {
  color: #fff; }

.welcome__info-header {
  margin-bottom: 70px; }

.welcome__info-title {
  font-size: 3em;
  font-family: "Neuron", sans-serif; }

.welcome__info-desc {
  font-size: 2em; }

.welcome__info-text {
  max-width: 550px;
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 1.66667em; }

.feedback, .feedback-popup {
  max-width: 300px;
  border-radius: 10px;
  padding: 35px 20px 55px;
  background: #385B71;
  text-align: center; }

.form-complete {
  display: none;
  position: fixed;
  z-index: 200;
  top: 10vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 10px;
  margin: 0 auto;
  padding: 35px 20px 55px;
  background: #385B71;
  text-align: center;
  width: 80%;
  max-width: 400px;
  color: #FFF;
  font-size: 1.375em;
  font-weight: 500; }
  .form-complete p:first-child {
    margin-bottom: 40px;
    font-size: 1.5em;
    text-decoration: underline; }

.feedback__head {
  margin-bottom: 40px; }

.feedback__head-text {
  margin-bottom: 7px;
  font-size: 1.125em;
  text-transform: uppercase;
  color: #7d93ab; }

.feedback__phone {
  font-size: 2.25em;
  color: #FFF; }

.form-feedback input[name=name],
.form-feedback input[name=tel] {
  width: 100%;
  margin-bottom: 18px;
  padding: 15px;
  border-radius: 4px;
  font-size: 1em;
  transition: box-shadow .25s; }
  .form-feedback input[name=name]:focus,
  .form-feedback input[name=tel]:focus {
    box-shadow: 0 0 3px 1px #FFF; }

.form-feedback__title {
  margin-bottom: 20px;
  font-size: 1.1875em;
  text-transform: uppercase;
  color: #fff; }

.form-feedback__submit, .feedback__mob-button {
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  background: #FF4B39;
  padding: 15px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 1px;
  font-size: 1.125em;
  transition: background .2s; }
  .form-feedback__submit:hover, .feedback__mob-button:hover {
    background: #ff5e4d; }
  .form-feedback__submit:active, .feedback__mob-button:active {
    background: #ff3825; }

.feedback__mob-button {
  display: none; }

.feedback__layer, .feedback-popup__layer {
  display: none;
  position: fixed;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85); }

.advantages.sect {
  padding-left: 0;
  padding-right: 0; }
  .advantages.sect .content-w {
    padding-left: 0;
    padding-right: 0; }
  .advantages.sect .row {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.advantages__item {
  position: relative;
  margin-bottom: 65px;
  top: 0; }

.advantages__desc {
  padding-right: 15px; }

.advantages__slider-item {
  overflow: hidden;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .advantages__slider-item:before {
    content: '';
    float: left;
    padding-top: 66%; }
  .advantages__slider-item:after {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 61, 74, 0.45); }

.services.content-w {
  padding-left: 0;
  padding-right: 0; }

.services__item {
  position: relative;
  padding-top: 12px;
  margin-bottom: 65px; }

.services__title {
  padding-left: 60px; }

.services__desc {
  line-height: 1.5em; }

.services__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 43px;
  height: 43px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left center; }

.clients__slider {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.clients__slider-item {
  height: 50px;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; }

.process.content-w {
  padding-left: 0;
  padding-right: 0; }

.process__item {
  margin-bottom: 60px; }

.process__num {
  float: left;
  font-size: 7.625em;
  line-height: 0.8em;
  font-weight: 500;
  color: #F1F1F1; }

.process__title,
.process__desc {
  margin-left: 78px; }

.process__title.article-title {
  margin-bottom: 8px;
  line-height: 1.1em; }

.process__desc {
  line-height: 1.3em;
  font-size: 1.125em; }

.cta {
  background: #FF4B39; }
  .cta .sect-title {
    font-weight: 300;
    color: #FFF; }

.cta__btn-wrap {
  text-align: center; }

.cta__btn {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  background: #FFF;
  padding: 18px 70px;
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.04);
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #FF4B39;
  transition: color .25s, background .3s; }
  body.no-touch .cta__btn:hover {
    color: #FFF; }

.cta__btn-bg {
  display: block;
  position: absolute;
  left: 0;
  z-index: 1;
  top: 0;
  width: 0%;
  height: 100%;
  background: #385B71;
  pointer-events: none;
  transition: width .4s; }
  body.no-touch .cta__btn:hover .cta__btn-bg {
    width: 100%; }

.cta__btn-text {
  position: relative;
  z-index: 10; }

.questions .sect-title {
  font-weight: 300; }

.questions .questions__slider {
  max-width: 100%; }
  .questions .questions__slider .owl-prev,
  .questions .questions__slider .owl-next {
    position: absolute;
    background-position: -32px 0;
    opacity: .7; }
  .questions .questions__slider .owl-prev {
    left: -50px; }
  .questions .questions__slider .owl-next {
    right: -50px; }

.questions__item {
  margin-bottom: 60px;
  padding-right: 10px; }

.questions__desc {
  font-size: 1em;
  line-height: 1.3em;
  text-transform: uppercase; }

.certificates {
  background-color: #f9f9f9; }
  .certificates .row .row {
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }

.certificate__item-wrap {
  text-align: center; }

.certificate__item {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
  background: #FFF;
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0, 0.08);
  border: solid 1px #ebebeb;
  transition: box-shadow .25s; }
  .certificate__item:hover {
    box-shadow: 0px 2px 22px 0 rgba(0, 0, 0, 0.3); }

/**
 * =============================
 *
 * 		#FOOTER
 *
 * =============================
 */
.footer {
  position: relative; }

.map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 655px; }
  .map:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #61656f;
    opacity: .17; }
  .map:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f9f9f9; }
  .map iframe {
    pointer-events: none; }

.footer__content-wrap {
  position: absolute;
  z-index: 20;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .footer__content-wrap .row {
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

.footer__content.content-w {
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 0;
  padding-right: 0; }

.contacts__list {
  display: inline-block;
  border-radius: 8px;
  padding: 15px 30px;
  background-color: #ffffff;
  max-width: 500px; }

.contacts__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 12px;
  padding-bottom: 3px;
  border-bottom: 1px solid #E1E1E1; }
  .contacts__item:nth-child(2) .contacts__val {
    font-weight: 500; }

.contacts__val {
  padding-left: 10px;
  color: #818181; }

.form-contact {
  max-width: 500px;
  border-radius: 8px;
  padding: 25px 25px 30px;
  background-color: #ffffff;
  text-align: center; }
  .form-contact input, .form-contact textarea {
    width: 100%;
    font-family: "BloggerSans", "Blogger Sans", "Helvetica", "Arial", sans-serif;
    font-size: 1em;
    transition: all .25s;
    padding: 20px 15px 8px; }
    .form-contact input:focus + .form-contact__placeholder,
    .form-contact input.active + .form-contact__placeloder, .form-contact textarea:focus + .form-contact__placeholder,
    .form-contact textarea.active + .form-contact__placeloder {
      font-size: 0.6875em;
      top: 5px; }
  .form-contact input.active + .form-contact__placeholder {
    font-size: 0.6875em;
    top: 5px; }
  .form-contact textarea {
    resize: none; }
    .form-contact textarea.active + .form-contact__placeholder {
      font-size: 0.6875em;
      top: 5px; }

.form-contact__input,
.form-contact__textarea {
  position: relative;
  border: solid 1px #F4F3F3;
  border-radius: 4px;
  margin-bottom: 20px; }

.form-contact__textarea {
  margin-bottom: 30px; }

.form-contact__placeholder {
  position: absolute;
  left: 15px;
  top: 17px;
  transition: all .25s;
  cursor: text;
  font-size: 0.9375em; }

.form-contact__submit {
  font-size: 1.25em;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  font-weight: 500;
  color: #FF4B39;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-transform: uppercase;
  background: none;
  transition: border-bottom-color .2s; }
  .form-contact__submit:hover {
    border-bottom-color: #FF4B39; }

.footer__copy {
  position: absolute;
  z-index: 30;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 85px;
  line-height: 85px;
  background: #F9F9F9;
  font-size: 0.875em;
  font-weight: 500;
  color: #b4b4b4;
  text-align: center; }

.feedback-popup {
  display: none;
  position: fixed;
  z-index: 120;
  top: 100px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 400px;
  max-width: initial; }

.feedback-popup__layer {
  z-index: 100; }

.content-w {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-w {
      padding-left: 15px;
      padding-right: 15px; } }

.hidden {
  display: none !important; }

.invisible {
  opacity: 0 !important; }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 16px; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 16px; }

.np {
  margin-left: -15px;
  margin-right: -15px; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

.sect-w {
  max-width: 1360px;
  margin: 0 auto; }

.sect {
  padding-top: 55px;
  padding-bottom: 45px; }
  @media only screen and (max-width: 479px) {
    .sect {
      padding-top: 30px;
      padding-bottom: 30px; } }

.sect_dark {
  background: #385B71; }

.sect-title {
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: 500;
  text-align: center;
  color: #2980b9; }
  .sect_dark .sect-title {
    color: #FFF; }
  @media only screen and (max-width: 479px) {
    .sect-title {
      margin-bottom: 40px;
      font-size: 1.375em; } }

.article-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 1.1875em;
  text-transform: uppercase;
  line-height: 1.3em;
  color: #3d3d3d; }
  @media only screen and (max-width: 991px) {
    .article-title {
      font-size: 1.3125em; } }
  @media only screen and (max-width: 479px) {
    .article-title {
      font-size: 1.125em; } }

.advantages__slider .owl-nav,
.questions__slider .owl-nav {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px; }

.advantages__slider .owl-prev,
.advantages__slider .owl-next,
.questions__slider .owl-prev,
.questions__slider .owl-next {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 32px;
  height: 32px;
  background-image: url("../img/decor/slider-arrows.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: .5;
  transition: opacity .25s; }
  body.no-touch .advantages__slider .owl-prev:hover,
  body.touch .advantages__slider .owl-prev, body.no-touch
  .advantages__slider .owl-next:hover,
  body.touch
  .advantages__slider .owl-next, body.no-touch
  .questions__slider .owl-prev:hover,
  body.touch
  .questions__slider .owl-prev, body.no-touch
  .questions__slider .owl-next:hover,
  body.touch
  .questions__slider .owl-next {
    opacity: 1; }

.advantages__slider .owl-prev,
.questions__slider .owl-prev {
  left: 40px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg); }

.advantages__slider .owl-next,
.questions__slider .owl-next {
  right: 40px; }

.advantages__slider .owl-dots,
.questions__slider .owl-dots {
  text-align: center; }

.advantages__slider .owl-dot,
.questions__slider .owl-dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 12px;
  margin-top: 10px;
  border-radius: 50%;
  border: 2px solid #FF4B39; }
  .advantages__slider .owl-dot.active,
  .questions__slider .owl-dot.active {
    background: #FF4B39; }

@media only screen and (max-width: 767px) {
  .advantages__slider .owl-prev,
  .questions__slider .owl-prev {
    left: 15px; }
  .advantages__slider .owl-next,
  .questions__slider .owl-next {
    right: 15px; } }

.to-top {
  position: fixed;
  z-index: 100;
  opacity: 0;
  right: 30px;
  bottom: 80px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #8B8B8B;
  background: url("../img/decor/scroll-btn.png") no-repeat center;
  background-size: contain;
  transition: opacity .8s, box-shadow .2s;
  cursor: pointer; }
  body.no-touch .to-top:hover {
    opacity: 1 !important; }
  .to-top.to-top_visible {
    opacity: .6; }
  .to-top:hover {
    cursor: pointer;
    opacity: 1;
    box-shadow: 0 0 1px #67E1FF; }
    @media only screen and (max-width: 767px) {
      .to-top:hover.to-top_visible {
        opacity: .9; } }
  @media only screen and (max-width: 767px) {
    .to-top.to-top_visible {
      opacity: .9; } }
  @media only screen and (max-width: 600px) {
    .to-top {
      bottom: 15px;
      width: 32px;
      height: 32px; } }

@media only screen and (max-width: 1250px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .questions__slider {
    padding-right: 50px;
    padding-left: 50px; } }

@media only screen and (max-width: 1170px) {
  /**/ }

@media only screen and (max-width: 991px) {
  /**/
  /**
	 * =============================
	 *
	 *       #MAIN
	 *
	 * =============================
	 */
  .welcome__content {
    padding-top: 4%;
    padding-bottom: 4%; }
  .feedback {
    padding-top: 25px;
    padding-bottom: 35px; }
  .feedback__head {
    margin-bottom: 25px; }
  .services__desc {
    font-size: 1.125em; }
  .questions__slider {
    padding-right: 50px;
    padding-left: 50px; } }

@media only screen and (max-width: 767px) {
  /**/
  /**
	 * =============================
	 *
	 *       #HEADER
	 *
	 * =============================
	 */
  .form-complete {
    padding: 20px 15px 35px;
    font-size: 1.125em; }
  .header {
    height: 70px;
    line-height: 70px; }
  .logo {
    font-size: 2.1875em; }
  .logo__left {
    padding-right: 38px; }
  .nav {
    margin-top: 22px;
    padding-right: 10px; }
  .nav__mob-button {
    display: block;
    float: right; }
  .nav__list {
    position: fixed;
    z-index: 1000;
    display: block;
    top: 0;
    min-height: 100vh;
    right: 0;
    width: 200px;
    background: #2C2C2C; }
    .nav__list.animate {
      -webkit-transform: translate3d(200px, 0, 0);
              transform: translate3d(200px, 0, 0); }
    .nav__list.trs {
      transition: -webkit-transform .6s;
      transition: transform .6s;
      transition: transform .6s, -webkit-transform .6s; }
    body.no-js .nav__list {
      position: static;
      width: auto; }
  .nav__item {
    display: block;
    margin-right: 0; }
  .nav__link {
    display: block;
    border-bottom: 1px solid #5C5C5C;
    padding: 0 20px;
    text-align: left;
    font-size: 1.125em;
    color: #FEFEFE; }
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .welcome {
    background: url("../img/content/main-slide-1.jpg") no-repeat center;
    background-size: cover; }
  .welcome__content {
    position: relative;
    padding-top: 7%;
    padding-bottom: 7%; }
  .welcome__info-header {
    margin-bottom: 30px; }
  .welcome__info-title {
    font-size: 2.375em; }
  .welcome__info-desc {
    font-size: 1.625em; }
  .main-slider {
    display: none; }
  .feedback {
    display: none;
    position: fixed;
    z-index: 100;
    top: 20px;
    width: 50%;
    max-width: initial;
    left: 25%;
    padding-top: 15px;
    padding-bottom: 25px; }
  .feedback__head-text {
    font-size: 1em; }
  .feedback__phone {
    font-size: 1.625em; }
  .feedback__mob {
    text-align: center; }
  .feedback__mob-button {
    display: inline-block;
    width: auto;
    margin-top: 8%;
    padding-left: 55px;
    padding-right: 55px; }
  .form-feedback input[name=name],
  .form-feedback input[name=tel] {
    padding: 5px; }
  .form-feedback__submit {
    padding: 8px; }
  .feedback__head {
    margin-bottom: 15px; }
  .advantages__item {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 48px; }
  .advantages__item-title {
    text-align: center;
    font-size: 1.375em; }
  .advantages__desc {
    position: relative;
    font-size: 1.125em;
    padding-right: 0; }
    .advantages__desc:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 10%;
      right: 10%;
      height: 1px;
      background: rgba(255, 75, 57, 0.5); }
  .clients .sect-title {
    margin-bottom: 40px; }
  .process__num {
    font-size: 5.3125em; }
  .process__title,
  .process__desc {
    margin-left: 60px; }
  .process__title.article-title {
    margin-bottom: 12px; }
  .questions {
    padding-left: 0;
    padding-right: 0; }
  .questions__slider {
    padding-left: 0;
    padding-right: 0; }
  .questions__item {
    padding-right: 0; }
  .questions__desc {
    position: relative; }
    .questions__desc:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -20px;
      left: 10%;
      right: 10%;
      height: 1px;
      background: rgba(255, 75, 57, 0.5); }
  .certificate__item {
    margin-bottom: 40px; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .map {
    height: 780px; }
  .contacts {
    text-align: center; }
  .contacts__list {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .form-contact {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto; }
  .footer__copy {
    height: 45px;
    line-height: 45px;
    font-size: 0.75em; }
  .feedback-popup {
    top: 40px;
    width: 300px; } }

@media only screen and (max-width: 579px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .feedback {
    width: 60%;
    left: 20%; }
  .advantages__item {
    width: 100%; }
  .advantages__slider {
    padding-left: 15px;
    padding-right: 15px; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */ }

@media only screen and (max-width: 479px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#HEADER
	 *
	 * =============================
	 */
  .logo {
    font-size: 1.5625em; }
  .logo__left {
    padding-right: 27px; }
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .welcome__info-title {
    font-size: 1.875em; }
  .welcome__info-desc {
    font-size: 1.25em; }
  .welcome__info-text {
    font-size: 1em; }
  .feedback__mob-button {
    padding-left: 40px;
    padding-right: 40px; }
  .feedback {
    width: 70%;
    left: 15%; }
  .feedback__head-text {
    font-size: 0.9375em; }
  .feedback__phone {
    font-size: 1.6875em; }
  .form-feedback__title {
    font-size: 1em; }
  .advantages__item-title {
    font-size: 1.1875em; }
  .advantages__desc {
    font-size: 1em; }
  .services__desc {
    font-size: 1em; }
  .services__img {
    width: 38px;
    height: 38px; }
  .process__num {
    font-size: 2.5em;
    color: #C0C0C0; }
  .process__title.article-title {
    margin-left: 35px;
    margin-bottom: 4px;
    min-height: 2.2em; }
  .process__desc {
    margin-left: 0; }
  .cta__btn {
    padding: 8px 38px; }
  .questions__item .article-title {
    margin-bottom: 10px; }
  .questions__desc:after,
  .advantages__desc:after {
    left: 0;
    right: 0; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .contacts__list {
    padding-left: 15px;
    padding-right: 15px; }
  .feedback-popup {
    width: 80%;
    top: 25px;
    padding-top: 15px;
    padding-bottom: 25px; } }

@media only screen and (max-width: 359px) {
  /**/
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .welcome__info-desc {
    font-size: 1em; }
  .welcome__info-text {
    font-size: 0.9375em; }
  .feedback {
    width: 85%;
    left: 7.5%; }
  .services__img {
    top: 5px; }
  /**
	 * =============================
	 *
	 * 		#FOOTER
	 *
	 * =============================
	 */
  .contacts__item {
    font-size: 0.9375em; } }

@media only screen and (max-width: 320px) {
  /**/ }

@media only screen and (min-width: 320px) {
  /**/ }

@media only screen and (min-width: 360px) {
  /**/ }

@media only screen and (min-width: 480px) {
  /**/ }

@media only screen and (min-width: 600px) {
  /**/ }

@media only screen and (min-width: 768px) {
  /**/ }

@media only screen and (min-width: 992px) {
  /** */
  /**
	 * =============================
	 *
	 * 		#MAIN
	 *
	 * =============================
	 */
  .certificates {
    padding-bottom: 80px; }
  .advantages.animate .advantages__item {
    opacity: 0;
    top: 35px; }
  .advantages.trs .advantages__item {
    transition: opacity .25s, top .45s; } }

@media only screen and (min-width: 1200px) {
  /**/ }
