/* RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button, input, textarea {
  border: none; }

/* NORMALIZE */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section, figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }
  [type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template, [hidden] {
  display: none; }

/* VARIABLES */
.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #e8ebed;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "KelsonSans", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
  color: #282828; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  transition: color .2s; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "KelsonSans", "Helvetica", "Arial", sans-serif; }

textarea {
  resize: none; }

/* FONTS */
/*!
 * =============================
 *
 *     #FONTS
 *
 * =============================
 */
@font-face {
  font-family: 'KelsonSans';
  src: url("../fonts/KelsonSans/regular/KelsonSans.eot?4tz35e");
  src: url("../fonts/KelsonSans/regular/KelsonSans.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/KelsonSans/regular/KelsonSans.ttf?4tz35e") format("truetype"), url("../fonts/KelsonSans/regular/KelsonSans.woff?4tz35e") format("woff"), url("../fonts/KelsonSans/regular/KelsonSans.svg?4tz35e#icons") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KelsonSans';
  src: url("../fonts/KelsonSans/light/KelsonSans-light.eot?4tz35e");
  src: url("../fonts/KelsonSans/light/KelsonSans-light.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/KelsonSans/light/KelsonSans-light.ttf?4tz35e") format("truetype"), url("../fonts/KelsonSans/light/KelsonSans-light.woff?4tz35e") format("woff"), url("../fonts/KelsonSans/light/KelsonSans-light.svg?4tz35e#icons") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'KelsonSans';
  src: url("../fonts/KelsonSans/bold/KelsonSans-bold.eot?4tz35e");
  src: url("../fonts/KelsonSans/bold/KelsonSans-bold.eot?4tz35e#iefix") format("embedded-opentype"), url("../fonts/KelsonSans/bold/KelsonSans-bold.ttf?4tz35e") format("truetype"), url("../fonts/KelsonSans/bold/KelsonSans-bold.woff?4tz35e") format("woff"), url("../fonts/KelsonSans/bold/KelsonSans-bold.svg?4tz35e#icons") format("svg");
  font-weight: 700;
  font-style: normal; }

.hidden {
  display: none !important; }

.visible {
  display: block !important; }

.main-content {
  margin-right: 140px;
  padding-left: 15px;
  padding-right: 15px; }

.main {
  position: relative;
  z-index: 5; }

.block-title {
  width: 100%;
  max-width: 770px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px 20px;
  box-shadow: 0 1px 4px 0px #6d6e6f;
  background: #546e7a;
  font-weight: 700;
  text-align: center;
  font-size: 1.25rem;
  color: #eceff1; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header__content {
  padding-top: 30px;
  padding-bottom: 35px;
  text-align: center;
  background-image: url("../img/decor/header-bg_left.png"), url("../img/decor/header-bg_right.png");
  background-repeat: no-repeat;
  background-position: left bottom -5px, right bottom -5px;
  background-size: auto; }

.header__logo {
  margin-bottom: 15px; }

.header__slogan {
  font-size: 0.875rem;
  color: #546e7a; }

.header__top {
  display: none;
  padding: 10px;
  text-align: right;
  box-shadow: 0 1px 4px 0px #6d6e6f; }

.mobile-nav__trigger {
  outline: none;
  width: 40px;
  height: 40px;
  padding: 0;
  border-radius: 3px;
  background-image: url("../img/decor/hamburger.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  box-shadow: 0 1px 4px 0px rgba(47, 75, 84, 0.5); }

/*!
 * =============================
 *
 *     #CATALOG
 *
 * =============================
 */
.catalog {
  background: #FFF;
  box-shadow: 0 0 10px 2px #868686;
  margin-bottom: 50px;
  padding-bottom: 50px; }

/*!
 * =============================
 *
 *     #FILTER
 *
 * =============================
 */
.filter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  height: 410px;
  margin-bottom: 55px;
  padding: 20px;
  background: #e8ebed;
  box-shadow: 0 2px 5px #767676; }

.filter__form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-positive: 1;
      flex-grow: 1;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap; }

.filter__submit-wrap {
  margin-top: auto;
  text-align: center; }

.filter__submit, .card-info__btn {
  padding: 15px 100px;
  border: 1px solid #546e7a;
  border-radius: 3px;
  background: linear-gradient(to bottom, #889da7 0%, #5e7783 100%);
  box-shadow: 0 1px 4px 0px #6d6e6f;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  color: #eceff1;
  transition: box-shadow .2s; }
  body.no-touch .filter__submit:hover, body.no-touch .card-info__btn:hover {
    box-shadow: 0 1px 2px 1px #6d6e6f; }

/*!
 * =============================
 *
 *     #TABS
 *
 * =============================
 */
.tabs {
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px; }

.tabs__btn {
  display: inline-block;
  outline: none;
  border-radius: 20px;
  background-color: transparent;
  padding: 8px 60px 6px;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  color: #90a4ae;
  transition: color .2s, box-shadow .2s; }
  .tabs__btn:hover {
    color: #546e7a; }

.tabs__btn_active {
  box-shadow: 0 0 0 1px #546e7a;
  color: #546e7a; }

.tab {
  display: none; }

.tab_visible {
  display: block; }

/*!
 * =============================
 *
 *     #PRODUCTS
 *
 * =============================
 */
.products {
  padding-left: 15px;
  padding-right: 15px; }

.product {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  margin-bottom: 40px;
  box-shadow: 0 1px 3px  #767676;
  border: 1px solid #A4B9C0;
  background: #FFF; }
  .product:last-child {
    margin-bottom: 0; }

.product__img {
  margin-right: 30px;
  padding: 20px; }
  .product__img img {
    box-shadow: 0 2px 6px rgba(99, 99, 99, 0.9); }

.product__info {
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px; }

.info-list__item {
  position: relative;
  min-height: 30px;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-top: 8px; }
  .info-list__item:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    background-image: url("../img/decor/product-info.png");
    background-repeat: no-repeat; }
  .info-list__item:last-child {
    margin-bottom: 0; }

.info-list__item_icon_manager:before {
  background-position: 0 -22px;
  width: 21px;
  height: 28px; }

.info-list__item_icon_marker:before {
  width: 19px;
  height: 27px;
  background-position: 0 -50px; }

.info-list__item_icon_location:before {
  width: 23px;
  height: 22px;
  background-position: 0 0; }

.info-list__item_icon_street:before {
  width: 24px;
  height: 24px;
  background-position: 0 -98px; }

.info-list__item_icon_area:before {
  width: 21px;
  height: 21px;
  background-position: 0 -77px; }

.info-list__prop {
  display: inline-block;
  min-width: 110px;
  padding-right: 30px; }

.ifno-list__value {
  color: #546e7a; }

.product__price {
  width: 34%;
  padding: 30px;
  padding-right: 80px;
  background: #eceff1; }

.product__price-text {
  color: #546e7a; }

.product__price-item {
  margin-bottom: 20px; }

.product__price-item_size_inline {
  display: inline-block;
  margin-right: 25px;
  margin-bottom: 0; }
  .product__price-item_size_inline .product__price-value {
    margin-bottom: 0; }

.product__price-title {
  margin-bottom: 18px; }

.product__price-value {
  margin-bottom: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  color: #546e7a; }

.product__controls {
  display: none; }

.control-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  bottom: 10px;
  padding: 10px;
  box-shadow: 0 2px 5px #6D6E6F;
  background: #FFF; }

.control-buttons_landscape {
  -ms-flex-flow: row nowrap;
      flex-flow: row nowrap;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .control-buttons_landscape .control-buttons__item {
    margin-bottom: 0; }

.product__control-buttons {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px; }

.card__control-buttons {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  padding-left: 20px; }

.control-buttons__item {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #546e7a;
  border-radius: 3px; }
  .control-buttons__item:last-child {
    margin-bottom: 0; }
  .control-buttons__item:nth-child(1) {
    border: none; }

.control-buttons__item_last {
  -ms-flex-order: 10;
      order: 10; }

.control-buttons__button {
  display: block;
  position: relative;
  padding: 0;
  background-color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  transition: all .2s; }
  body.no-touch .control-buttons__button:hover {
    box-shadow: 0 2px 3px 2px rgba(109, 110, 111, 0.6); }
  .control-buttons__button:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    background-image: url("../img/decor/product-controls.png");
    background-repeat: no-repeat;
    background-position: center; }

body.no-touch .control-buttons__button_icon_star:hover {
  box-shadow: none; }

.control-buttons__button_icon_star:after {
  width: 31px;
  height: 30px;
  background-position: 0 -42px; }

.control-buttons__button_icon_blueprint:after {
  width: 24px;
  height: 17px;
  background-position: 0 -97px; }

.control-buttons__button_icon_marker:after {
  width: 20px;
  height: 25px;
  background-position: 0 -72px; }

.control-buttons__button_icon_mail:after {
  width: 25px;
  height: 18px;
  background-position: 0 -24px; }

.control-buttons__button_icon_fax:after {
  width: 23px;
  height: 24px;
  background-position: 0 0; }

/*!
 * =============================
 *
 *     #PRODUCTS-MAP
 *
 * =============================
 */
.products-map {
  position: relative;
  padding: 60px 15px;
  background: #e8ebed;
  box-shadow: 0 1px 5px 1px #838383; }

.products-map__title {
  margin-bottom: 40px; }

.map {
  position: relative; }

.map__img {
  height: 550px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 1px solid #A4B9C0; }

/*!
 * =============================
 *
 *     #CARD
 *
 * =============================
 */
.card {
  max-width: 350px;
  background: #FFF;
  box-shadow: 0 2px 5px #767676;
  border: 1px solid #A4B9C0; }

.products-map__card {
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 30px; }

.card__info {
  display: -ms-flexbox;
  display: flex;
  padding: 20px; }

.card__img {
  max-width: 80px;
  margin-right: 20px; }
  .card__img img {
    box-shadow: 0 1px 4px 0px #6d6e6f; }

.card__info-item {
  margin-bottom: 6px;
  font-size: 0.75rem; }

.card__info-prop {
  padding-right: 4px;
  color: #282828; }

.card__info-value {
  color: #546e7a; }

.card__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #A4B9C0; }

.card__price-item {
  min-height: 90px;
  border-top: 1px solid #A4B9C0;
  padding: 15px 20px;
  background: #e8ebed;
  width: 50%; }
  .card__price-item:nth-child(odd) {
    border-right: 1px solid #A4B9C0; }

.card__price-title {
  margin-bottom: 7px;
  font-size: 0.75rem;
  color: #282828; }

.card__price-value {
  display: inline-block;
  margin-bottom: 7px;
  font-weight: 700;
  color: #546e7a; }

.card__price-text {
  display: block;
  font-size: 0.875rem;
  color: #546e7a; }

.card__controls-btn {
  padding: 25px 10px;
  text-align: center; }

.btn-rounded {
  display: inline-block;
  outline: none;
  border-radius: 20px;
  border: 1px solid #546e7a;
  padding: 7px 50px 5px;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  background: #e8ebed;
  color: #546e7a;
  transition: background .2s; }
  body.no-touch .btn-rounded:hover {
    background: #DDE0E2; }

/*!
 * =============================
 *
 *     #PAGINATION
 *
 * =============================
 */
.pagination {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  padding-top: 50px; }
  .pagination button {
    outline: none; }

.pagination__nav {
  margin-left: 20px;
  margin-right: 20px;
  background-image: url("../img/decor/pagination-nav.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px auto;
  width: 15px;
  height: 20px;
  background-color: transparent; }

.pagination__nav_prev {
  -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.pagination__item {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 30px;
  margin-left: 30px;
  font-size: 1.25rem;
  line-height: 36px;
  text-align: center;
  background-color: transparent;
  transition: background .2s, color .2s; }
  body.no-touch .pagination__item:hover {
    background: #546e7a;
    color: #FFF; }
  .pagination__item:first-child {
    margin-left: 0; }
  .pagination__item:last-child {
    margin-right: 0; }
    .pagination__item:last-child:after {
      display: none; }
  .pagination__item:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    right: -34px;
    width: 8px;
    height: 2px;
    background: #282828; }

.pagination__item_active {
  background: #546e7a;
  color: #FFF; }

.pagination-more {
  display: none;
  margin-top: 30px;
  text-align: center; }

/*!
 * =============================
 *
 *     #ABOUT US
 *
 * =============================
 */
.about-us__content {
  padding-top: 50px;
  padding-bottom: 250px;
  background-image: url("../img/decor/about-us-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom -55px;
  background-size: auto;
  color: #546e7a; }

.about-us__title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 1.25rem; }

.about-us__text {
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 0.875rem; }
  .about-us__text:last-child {
    margin-bottom: 0; }

/*!
 * =============================
 *
 *     #FOOTER
 *
 * =============================
 */
.footer {
  background: #546e7a; }

.footer__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 1.25rem;
  line-height: 1.6;
  color: #FFF; }

.footer__contacts {
  margin-left: 130px;
  margin-right: 130px; }

/*!
 * =============================
 *
 *     #SIDEBAR
 *
 * =============================
 */
.sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: fixed;
  z-index: 50;
  right: 0;
  top: 0;
  bottom: 0;
  background: #546e7a;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  overflow-y: auto; }

.mCSB_inside > .mCSB_container {
  margin-right: 10px; }

.sidebar__nav {
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  -ms-flex-pack: center;
      justify-content: center; }

.sidebar__nav-item {
  margin-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px; }
  .sidebar__nav-item:last-child {
    margin-bottom: 0; }

.sidebar__nav-item_disabled {
  opacity: .5;
  pointer-events: none; }
  .sidebar__nav-item_disabled .sidebar__nav-icon {
    box-shadow: inset 0 2px 8px 1px rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(to bottom, #1B2C32 0%, #33535D 100%); }

.sidebar__nav-link {
  display: block;
  position: relative;
  padding: 7px;
  font-size: 0.875rem;
  letter-spacing: 1px;
  text-align: center;
  color: #FFF; }
  .sidebar__nav-link:hover .sidebar__nav-title {
    color: #ffab00; }

.sidebar__nav-icon {
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  text-align: center;
  background-image: linear-gradient(to bottom, #7F9CA6 0%, #527782 100%);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.8); }
  .sidebar__nav-icon:after {
    content: '';
    display: block;
    position: absolute;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-image: url("../img/decor/sidebar-nav.png");
    background-repeat: no-repeat;
    background-position: center; }

.sidebar__nav-icon_star:after {
  width: 43px;
  height: 41px;
  background-position: 0 0; }

.sidebar__nav-icon_msg:after {
  width: 39px;
  height: 30px;
  background-position: 0 -41px; }

.sidebar__nav-icon_company:after {
  width: 42px;
  height: 41px;
  background-position: 0 -71px; }

.sidebar__nav-icon_bank:after {
  width: 44px;
  height: 39px;
  background-position: 0 -112px; }

.sidebar__nav-icon_contacts:after {
  width: 33px;
  height: 41px;
  background-position: 0 -151px; }

.sidebar__nav-icon_catalog:after {
  width: 44px;
  height: 34px;
  background-position: 0 -192px; }

.sidebar__nav-title {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
  text-align: center;
  transition: color .2s; }

.sidebar__nav-counter {
  display: block;
  position: absolute;
  z-index: 10;
  top: 4px;
  right: 16px;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: #af0000;
  line-height: 20px;
  font-weight: 700;
  font-size: 0.75rem;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.6);
  color: #ffab00; }

/*!
 * =============================
 *
 *     #CARD PAGE
 *
 * =============================
 */
.header__content_card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
      align-items: flex-end;
  background-image: url("../img/decor/header_card-bg.png");
  background-repeat: no-repeat;
  background-position: right bottom -10px;
  background-size: auto; }

.header__slogan_card {
  max-width: 270px;
  text-align: left;
  line-height: 1.4; }

.header__logo_card {
  margin-bottom: 0;
  margin-right: 30px; }

.feedback-btn {
  outline: none;
  margin-left: 40px;
  padding: 10px 22px 8px;
  border-radius: 25px;
  border: 1px solid #546e7a;
  background-color: transparent;
  text-align: center;
  transition: background .2s, color .2s; }
  body.no-touch .feedback-btn:hover {
    background-color: #698998;
    color: #FFF; }

.card-info {
  padding: 40px 15px 50px;
  background: #FFF;
  box-shadow: 0 0 10px 2px #868686; }

.pagination-nav {
  font-size: 0.75rem; }

.pagination-nav__link {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  padding-right: 20px;
  color: #969696; }
  .pagination-nav__link:after {
    content: '>>';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    color: #969696; }
  body.no-touch .pagination-nav__link:hover {
    text-decoration: underline;
    color: #546e7a; }

.pagination-nav__curr {
  text-transform: uppercase;
  color: #546e7a; }

.card-info__content {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 60px; }

.card__title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #546e7a; }

.card-info__carousel {
  width: calc(50% - 15px); }
  .card-info__carousel .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 0; }
  .card-info__carousel .lSSlideOuter .lSPager.lSGallery li {
    position: relative; }
    .card-info__carousel .lSSlideOuter .lSPager.lSGallery li:after {
      content: '';
      display: block;
      z-index: -10;
      position: absolute;
      top: 15px;
      left: 15px;
      bottom: 15px;
      right: 15px;
      background-color: #546e7a;
      opacity: 0;
      transition: all .2s; }
    .card-info__carousel .lSSlideOuter .lSPager.lSGallery li:last-child {
      margin-right: 0 !important; }
    .card-info__carousel .lSSlideOuter .lSPager.lSGallery li.active:after {
      opacity: .7;
      z-index: 1; }
    .card-info__carousel .lSSlideOuter .lSPager.lSGallery li img {
      margin: 5px;
      box-shadow: 0 1px 4px 0px #6d6e6f; }
  .card-info__carousel .lSAction > a {
    opacity: 1;
    width: 40px;
    height: 30px;
    background-image: url("../img/decor/carousel-nav.png");
    background-size: contain;
    background-position: center; }
  .card-info__carousel .lSPrev {
    left: 5px; }
  .card-info__carousel .lSNext {
    right: 5px;
    -ms-transform: rotate(180deg);
        transform: rotate(180deg); }

.card-info__carousel-img {
  margin: 5px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #b0bec5;
  box-shadow: 0 1px 4px 0px #6d6e6f; }
  .card-info__carousel-img img {
    box-shadow: 0 1px 4px 0px #6d6e6f; }
  .card-info__carousel-img li {
    padding: 10px 12px 10px 10px; }

.card-info__info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
  width: calc(50% - 15px);
  padding-top: 20px;
  padding-bottom: 5px; }

.card-info__info-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 1.875rem;
  color: #546e7a; }

.info-list_card {
  margin-bottom: 20px;
  padding-left: 13px; }
  .info-list_card .info-list__prop {
    min-width: auto;
    padding-right: 7px; }
  .info-list_card .info-list__value {
    color: #546e7a; }

.card-info__btn {
  margin-top: auto;
  padding: 17px 26px 15px;
  -ms-flex-item-align: start;
      align-self: flex-start; }

.control-buttons_card {
  position: absolute;
  top: -40px;
  right: -30px;
  bottom: auto;
  padding-right: 40px; }
  .control-buttons_card:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -15px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 15px 0 0;
    border-color: #546e7a transparent transparent transparent; }
  .control-buttons_card .control-buttons__item {
    margin-left: 10px;
    margin-right: 10px; }

.card-info__desc {
  margin-top: 80px;
  width: calc(50% - 15px); }

.desc_card {
  margin-bottom: 60px; }
  .desc_card:last-child {
    margin-bottom: 0; }

.desc__title, .docs__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 1.25rem;
  font-weight: 700;
  color: #546e7a; }

.desc__item {
  background-color: #eceff1;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 1.25rem;
  line-height: 1.5; }
  .desc__item:last-child {
    margin-bottom: 0; }

.desc__item-prop {
  margin-right: 5px;
  color: #282828; }

.desc__item-value {
  color: #546e7a; }

.card-info__docs {
  margin-top: 80px;
  width: calc(50% - 15px);
  margin-bottom: 20px; }

.docs__item {
  position: relative;
  margin-bottom: 10px;
  padding: 20px 80px 20px 20px;
  background: #FFF;
  box-shadow: 0 1px 4px 0px #6d6e6f;
  font-size: 1.25rem;
  line-height: 1.4; }
  .docs__item:last-child {
    margin-bottom: 0; }

.docs__item-title {
  display: inline-block;
  margin-right: 5px;
  color: #282828; }

.docs__item-text {
  display: inline-block;
  color: #546e7a; }

.docs__item-link {
  position: absolute;
  display: inline-block;
  right: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #546e7a;
  background-image: url("../img/decor/download-arrow.png"), linear-gradient(180deg, #FFFFFF 0%, #EAEAEA 100%);
  background-repeat: no-repeat, no-repeat;
  background-position: center, center;
  transition: box-shadow .2s; }
  body.no-touch .docs__item-link:hover {
    box-shadow: 0 1px 4px 0px #6d6e6f; }

.card-info__map {
  width: 100%;
  height: 300px;
  margin-top: 60px;
  margin-bottom: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.card-info__similar {
  width: 100%; }

.card-info__similar-items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 10px;
  margin-left: -15px;
  margin-right: -15px; }

.card-info__card {
  margin-left: 15px;
  margin-right: 15px;
  max-width: none;
  width: calc(100 / 3 * 1% - 30px); }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/*!
 * =============================
 *
 *     #MEDIA QUERIES
 *
 * =============================
 */
@media only screen and (max-width: 81.25em) {
  .header__content_card {
    background-size: 25% auto; } }

@media only screen and (max-width: 74.9375em) {
  .main-content {
    margin-right: 0; }
  .product__price {
    width: 42%; }
  .info-list__prop {
    min-width: 90px;
    padding-right: 10px; }
  .product__img {
    max-width: 200px;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    margin-right: 15px; }
  .filter {
    margin-left: -15px;
    margin-right: -15px; }
  .sidebar {
    display: none;
    padding-top: 150px; }
  .sidebar__nav-item {
    padding-left: 10px;
    padding-right: 10px; }
  .sidebar__nav-link {
    padding: 0;
    font-size: 0.75rem; }
  .sidebar__nav-counter {
    top: -6px;
    right: 4px; }
  .header__content_card {
    background-image: none; }
  .feedback-btn {
    margin-left: auto; }
  .desc__item,
  .docs__item {
    font-size: 1.125rem; }
  .card-info__similar-items {
    margin-left: -5px;
    margin-right: -5px; }
  .card-info__card {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(100 / 3 * 1% - 20px); } }

@media only screen and (max-width: 56.1875em) {
  .main-content {
    padding: 0; }
  .block-title {
    max-width: none;
    width: calc(100% + 70px);
    margin-left: -35px;
    margin-right: -35px;
    padding-top: 3px;
    padding-bottom: 3px;
    line-height: 1.5; }
  .header__content {
    background: none;
    padding-top: 0; }
  .header__top {
    display: block;
    margin-bottom: 15px;
    background: #546e7a; }
  .header__slogan {
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5; }
  .catalog {
    box-shadow: none;
    background: #e8ebed;
    padding-left: 10px;
    padding-right: 10px; }
  .filter {
    margin-left: -15px;
    margin-right: -15px;
    padding-top: 0;
    box-shadow: none; }
  .tabs {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 30px; }
  .tabs__btn {
    max-width: 170px;
    padding: 8px 10px;
    -ms-flex-positive: 1;
        flex-grow: 1; }
  .products {
    padding-left: 0;
    padding-right: 0; }
  .product {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 20px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    background: #FFF;
    box-shadow: 0 2px 5px #767676;
    border: 1px solid #A4B9C0; }
  .product__img {
    max-width: 80px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0; }
    .product__img img {
      box-shadow: 0 1px 4px 0px #6d6e6f; }
  .product__info {
    padding: 0; }
  .info-list__item {
    min-height: auto;
    padding: 0;
    margin-bottom: 6px;
    font-size: 0.75rem; }
    .info-list__item:before {
      display: none; }
  .info-list__prop {
    min-width: auto;
    padding-right: 4px;
    color: #282828; }
  .info-list__value {
    color: #546e7a; }
  .product__price {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    margin-top: 25px;
    padding: 0;
    border-bottom: 1px solid #A4B9C0; }
  .product__price-item {
    min-height: 90px;
    border-top: 1px solid #A4B9C0;
    margin-bottom: 0;
    padding: 15px 20px;
    background: #e8ebed;
    width: 50%; }
    .product__price-item:nth-child(odd) {
      border-right: 1px solid #A4B9C0; }
  .product__price-item_size_inline {
    margin-right: 0; }
  .product__price-title {
    margin-bottom: 7px;
    font-size: 0.75rem;
    color: #282828; }
  .product__price-value {
    display: inline-block;
    margin-bottom: 7px;
    font-weight: 700;
    font-size: 1rem;
    color: #546e7a; }
  .product__price-text {
    font-size: 0.875rem; }
  .product__controls {
    display: block;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center; }
  .product__control-buttons {
    position: relative;
    width: calc(100% - 20px);
    -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
    -ms-flex-pack: justify;
        justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    box-shadow: 0 1px 4px #6D6E6F;
    right: auto;
    top: auto; }
    .product__control-buttons .control-buttons__item_star {
      -ms-flex-order: 20;
          order: 20; }
    .product__control-buttons .control-buttons__item {
      margin-bottom: 0; }
  .products-map {
    box-shadow: none;
    margin-left: -15px;
    margin-right: -15px; }
  .products-map__title {
    margin-bottom: 20px; }
  .products-map__card {
    display: none; }
  .map__img {
    height: 500px; }
  .footer__content {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    padding-top: 25px;
    padding-bottom: 25px; }
  .footer__logo,
  .footer__contacts,
  .footer__adress {
    text-align: center; }
  .footer__logo {
    -ms-flex-order: 1;
        order: 1;
    width: 100%; }
  .footer__adress {
    margin-bottom: 30px; }
  .footer__contacts {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px; }
  .control-buttons_card {
    display: none; }
  .card-info {
    box-shadow: none; }
  .header__slogan_card {
    display: none; }
  .card-info__content {
    margin-top: 30px; }
  .card-info__carousel,
  .card-info__info {
    width: 100%; }
  .card__title {
    text-align: center; }
  .card-info__carousel {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto; }
  .card-info__info {
    margin-top: 20px; }
  .card-info__info-title {
    margin-bottom: 20px;
    font-size: 1.25rem; }
  .info-list_card {
    padding-left: 0;
    margin-bottom: 50px; }
    .info-list_card .info-list__item {
      font-size: 1rem; }
  .card-info__desc,
  .card-info__docs {
    width: 100%; }
  .card-info__similar-items {
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    margin-left: 0;
    margin-right: 0;
    -ms-flex-align: center;
        align-items: center; }
  .card-info__card {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    width: 100%;
    max-width: 370px; }
    .card-info__card:last-child {
      margin-bottom: 0; } }

@media only screen and (max-width: 37.4375em) {
  .block-title {
    padding-right: 50px;
    padding-left: 50px;
    font-size: 0.875rem; }
  .header__slogan {
    max-width: 230px;
    font-size: 0.75rem; }
  .catalog {
    padding-bottom: 0; }
  .filter {
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: none; }
  .filter__submit {
    padding: 7px 20px;
    width: 100%;
    font-size: 0.875rem; }
  .products-map {
    padding-top: 0;
    padding-bottom: 0; }
  .about-us__content {
    padding-bottom: 50px;
    background: none; }
  .pagination {
    display: none; }
  .pagination-more {
    display: block; }
  .header__content_card {
    padding-bottom: 20px;
    -ms-flex-flow: column nowrap;
        flex-flow: column nowrap;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center; }
  .header__logo_card {
    margin-right: 0; }
  .feedback-btn {
    margin-top: 20px;
    margin-left: 0; }
  .card-info {
    padding-top: 20px; }
  .pagination-nav a, .pagination-nav span {
    line-height: 1.5;
    white-space: nowrap; }
  .card__title {
    font-size: 1.125rem;
    line-height: 1.5; }
  .card-info__btn {
    font-size: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .card-info__desc,
  .card-info__docs {
    margin-top: 45px; }
  .desc__item,
  .docs__item {
    font-size: 0.9375rem; }
  .desc__item {
    padding: 10px; }
  .desc__item-value {
    font-size: 0.875rem; }
  .docs__item {
    padding: 15px 60px 15px 15px;
    font-size: 0.875rem; }
  .docs__item-link {
    width: 30px;
    height: 30px;
    background-size: 60%; }
  .card-info__map {
    height: 200px;
    margin-top: 40px;
    margin-bottom: 40px; } }
