/* VARIABLES */
.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; }
      .content-width .content-width {
        padding-left: 0;
        padding-right: 0;
        min-width: auto; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
/*!
 * =============================
 *
 * 		#TYPOGRAPHY
 *
 * =============================
 */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

html {
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #FFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "GothamPro", sans-serif;
  font-size: 100%;
  color: #000; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "GothamPro", sans-serif;
  font-size: 100%; }

textarea {
  font-family: "GothamPro", sans-serif;
  resize: none; }

/* FONTS */
/*!
 * =============================
 *
 *     #FONTS
 *
 * =============================
 */
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro/regular/GothamPro-regular.eot");
  src: url("../fonts/GothamPro/regular/GothamPro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/regular/GothamPro-regular.svg") format("svg"), url("../fonts/GothamPro/regular/GothamPro-regular.woff") format("woff"), url("../fonts/GothamPro/regular/GothamPro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro/medium/GothamPro-medium.eot");
  src: url("../fonts/GothamPro/medium/GothamPro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/medium/GothamPro-medium.svg") format("svg"), url("../fonts/GothamPro/medium/GothamPro-medium.woff") format("woff"), url("../fonts/GothamPro/medium/GothamPro-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/GothamPro/bold/GothamPro-bold.eot");
  src: url("../fonts/GothamPro/bold/GothamPro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/GothamPro/bold/GothamPro-bold.svg") format("svg"), url("../fonts/GothamPro/bold/GothamPro-bold.woff") format("woff"), url("../fonts/GothamPro/bold/GothamPro-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'RistrettoPro';
  src: url("../fonts/RistrettoPro/regular/RistrettoPro-regular.eot");
  src: url("../fonts/RistrettoPro/regular/RistrettoPro-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/RistrettoPro/regular/RistrettoPro-regular.svg") format("svg"), url("../fonts/RistrettoPro/regular/RistrettoPro-regular.woff") format("woff"), url("../fonts/RistrettoPro/regular/RistrettoPro-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*!
 * =============================
 *
 *     #COMMON
 *
 * =============================
 */
.clear-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "GothamPro", sans-serif;
  color: #000; }

.clear-ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.form-field {
  outline: none !important;
  border: 2px solid #000000;
  padding: 15px 20px 13px 20px;
  -webkit-transition: border-color .2s;
  -o-transition: border-color .2s;
  transition: border-color .2s; }
  .form-field:focus {
    border-color: #ffa800; }

a:hover {
  color: #ffa800; }

.btn-main {
  display: inline-block;
  outline: none !important;
  background: #ffa800;
  border: none;
  min-width: 200px;
  padding: 15px 25px 13px 25px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  .btn-main:hover {
    background: #ffb933;
    color: #ffffff; }

.btn-accent {
  outline: none !important;
  background: #3b695e;
  border: none;
  min-width: 200px;
  padding: 15px 25px 13px 25px;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  .btn-accent:hover {
    background: #4d8a7b;
    color: #ffffff; }

.section {
  padding-top: 70px;
  padding-bottom: 40px; }

.section_bg_accent {
  background-color: #3b695e;
  color: #ffffff; }

.section-title {
  margin-bottom: 55px;
  line-height: 1;
  font-family: "RistrettoPro", sans-serif;
  font-size: 52px;
  text-align: center; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 20px;
  margin-right: 20px; }
  .header__items .info-items {
    max-width: 600px; }

.info-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 35px;
  background-position: left center;
  background-repeat: no-repeat;
  margin-right: 20px;
  font-size: 14px;
  color: #000; }
  .info-item:last-child {
    margin-right: 0; }

.info-item_icon_document {
  background-image: url("../img/decor/icon-doc.png");
  padding-left: 48px; }

.info-item_icon_address {
  background-image: url("../img/decor/icon-marker.png");
  padding-left: 38px; }

.info-item_icon_mail {
  background-image: url("../img/decor/icon-mail.png");
  padding-left: 50px; }

.info-item__text {
  margin-bottom: 0; }

.header__search-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 35px; }
  .header__search-wrap .form-search {
    margin-right: 30px; }

.form-search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative; }
  .form-search .form-field {
    width: 100%; }

.form-search__submit {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background-color: transparent;
  width: 26px;
  height: 26px;
  background: url("../img/decor/icon-search.png") no-repeat center;
  background-size: contain; }

.contact-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-left: 42px;
  font-size: 27px;
  font-weight: 500;
  background: url("../img/decor/icon-phone.png") no-repeat left bottom 10px; }
  .contact-phone span {
    padding-right: 10px;
    font-size: 17px; }

.contact-phone__text {
  margin-bottom: 0; }

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .header__buttons button,
  .header__buttons .basket-block {
    margin-bottom: 20px; }
    .header__buttons button:last-child,
    .header__buttons .basket-block:last-child {
      margin-bottom: 0; }

.basket-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative; }
  .basket-block:hover .basket-block__popover {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    z-index: 100; }

.basket-block__popover {
  position: absolute;
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  z-index: -1;
  top: 52px;
  right: 0;
  min-width: 570px;
  color: #ffffff;
  -webkit-transition: opacity .1s, -webkit-transform .2s;
  transition: opacity .1s, -webkit-transform .2s;
  -o-transition: opacity .1s, transform .2s;
  transition: opacity .1s, transform .2s;
  transition: opacity .1s, transform .2s, -webkit-transform .2s; }

.basket-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0 5px 10px;
  font-size: 14px;
  background-color: #3a3a3a;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  .basket-block__item:hover {
    background: #3b695e; }
    .basket-block__item:hover .basket-block__item-delete {
      background-color: #447a6d; }

.basket-block__item-photo {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px; }

.basket-block__item-title {
  margin-right: 20px;
  margin-bottom: 0; }

.basket-block__counter {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0; }

.basket-block__counter-dec,
.basket-block__counter-inc {
  display: block;
  position: relative;
  width: 14px;
  height: 33px;
  font-size: 24px;
  cursor: pointer;
  -webkit-transition: background .2s, color .2s;
  -o-transition: background .2s, color .2s;
  transition: background .2s, color .2s; }

.basket-block__counter-inc {
  top: 2px; }
  .basket-block__counter-inc:hover {
    color: #ffa800; }

.basket-block__counter-dec:hover:after {
  background: #ffa800; }

.basket-block__counter-dec:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -2px;
  vertical-align: middle;
  width: 12px;
  height: 2px;
  background: #ffffff;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }

.basket-block__counter-val {
  border: 3px solid #ffffff;
  padding: 6px 12px;
  margin-left: 8px;
  margin-right: 7px;
  margin-top: auto;
  margin-bottom: auto;
  -ms-flex-item-align: center;
      align-self: center; }

.basket-block__item-delete {
  background-color: #4c4c4c;
  background-image: url("../img/decor/cross.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 40px;
  height: 40px;
  margin-right: 1px;
  -webkit-transition: background .2s, -webkit-box-shadow .2s;
  transition: background .2s, -webkit-box-shadow .2s;
  -o-transition: background .2s, box-shadow .2s;
  transition: background .2s, box-shadow .2s;
  transition: background .2s, box-shadow .2s, -webkit-box-shadow .2s;
  cursor: pointer; }
  .basket-block__item-delete:hover {
    -webkit-box-shadow: inset 0px 0px 0px 1px #fff;
            box-shadow: inset 0px 0px 0px 1px #fff; }

.basket-block__item-price {
  margin-bottom: 0;
  margin-right: 20px;
  margin-left: 20px;
  padding-top: 5px; }

.basket-block__btn {
  padding-left: 47px;
  padding-right: 10px;
  background-image: url("../img/decor/icon-basket.png");
  background-repeat: no-repeat;
  background-position: 12px center; }
  .basket-block__btn:hover {
    background-color: #3b695e;
    background-image: url("../img/decor/icon-basket.png");
    background-repeat: no-repeat;
    background-position: 12px center; }

.basket-block__link {
  text-align: right; }

.nav__overlay {
  position: fixed;
  z-index: 900;
  display: none;
  opacity: 0;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  background: #000;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }

.nav__overlay_animate {
  opacity: .7; }

.nav__overlay_visible {
  display: block; }

.nav__mob-button {
  display: none;
  margin-left: auto;
  width: 24px;
  height: 24px;
  background-size: contain;
  cursor: pointer; }

.nav__close {
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
  top: 0;
  right: 17px;
  opacity: 1;
  font-size: 1.75rem;
  color: #fff; }
  .nav__close:after {
    content: '\000d7'; }

.nav-wrap {
  background: #3b695e; }

.nav {
  margin-left: auto;
  margin-right: auto; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__item.active .nav__link {
  color: #ffa800; }

.nav__link {
  display: inline-block;
  position: relative;
  padding: 12px 14px;
  font-weight: 300;
  background: #3b695e;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  color: #fff; }
  .nav__link:hover {
    color: #ffffff;
    background: #2e574d; }

@media only screen and (max-width: 991px) {
  .nav__list {
    position: fixed;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 220px;
    background: #2e574d;
    min-height: calc(100vh);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    overflow-y: auto;
    overflow-x: hidden; }
    .nav__list.animate {
      -webkit-transform: translate3d(100%, 0, 0);
              transform: translate3d(100%, 0, 0); }
    .nav__list.trs {
      -webkit-transition: -webkit-transform .6s;
      transition: -webkit-transform .6s;
      -o-transition: transform .6s;
      transition: transform .6s;
      transition: transform .6s, -webkit-transform .6s; }
    body.no-js .nav__list {
      position: static;
      width: auto; }
  .nav__mob-button {
    display: block; }
  .nav__item {
    display: block;
    margin-right: 0; }
  .nav__link {
    display: block;
    border-bottom: 1px solid #ffffff;
    padding: 12px 20px;
    text-align: left;
    color: #fff; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.nav__link {
  color: #ffffff; }

/*!
 * =============================
 *
 *     #welcome
 *
 * =============================
 */
.welcome {
  position: relative; }

.welcome-carousel {
  min-height: 570px; }

.welcome__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 570px; }

.welcome__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.welcome__nav-item {
  background: #ffffff;
  min-width: 340px;
  padding: 15px 45px;
  margin-bottom: 0;
  color: #3b695e;
  font-size: 48px;
  text-align: center;
  font-family: "RistrettoPro", sans-serif;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .2s;
  transition: -webkit-box-shadow .2s;
  -o-transition: box-shadow .2s;
  transition: box-shadow .2s;
  transition: box-shadow .2s, -webkit-box-shadow .2s; }
  .welcome__nav-item:hover {
    -webkit-box-shadow: inset 0 0 0 2px #3b695e;
            box-shadow: inset 0 0 0 2px #3b695e; }
  .welcome__nav-item:nth-child(1) {
    margin-left: 100px; }
  .welcome__nav-item:nth-child(2) {
    margin-left: 200px; }
  .welcome__nav-item:nth-child(3) {
    margin-left: 100px; }

.welcome__nav-item_active {
  background: #3b695e;
  color: #ffffff; }
  .welcome__nav-item_active:hover {
    -webkit-box-shadow: inset 0 0 0 2px #fff;
            box-shadow: inset 0 0 0 2px #fff; }

/*!
 * =============================
 *
 *     #products
 *
 * =============================
 */
.products-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .products-cards > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 4 * 1% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative;
  border: 17px solid #ededed;
  background: #ffffff;
  color: #000; }
  .product-card:before, .product-card:after {
    content: '';
    display: block;
    position: absolute;
    width: 70px;
    height: 70px;
    opacity: 0;
    -webkit-transition: opacity .3s, -webkit-transform .3s;
    transition: opacity .3s, -webkit-transform .3s;
    -o-transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s;
    transition: transform .3s, opacity .3s, -webkit-transform .3s; }
  .product-card:before {
    border-top: 8px solid #ffa800;
    border-right: 8px solid #ffa800;
    -webkit-transform: translatey(7px);
        -ms-transform: translatey(7px);
            transform: translatey(7px);
    top: -17px;
    right: -17px; }
  .product-card:after {
    border-left: 8px solid #ffa800;
    border-bottom: 8px solid #ffa800;
    -webkit-transform: translatey(-7px);
        -ms-transform: translatey(-7px);
            transform: translatey(-7px);
    left: -17px;
    bottom: -17px; }
  .product-card:hover {
    color: #000; }
    .product-card:hover:before, .product-card:hover:after {
      -webkit-transform: translatey(0);
          -ms-transform: translatey(0);
              transform: translatey(0);
      opacity: 1; }
    .product-card:hover .product-card__title {
      color: #ffa800; }

.product-card__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px 15px 20px;
  text-align: center; }

.product-card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  height: 220px;
  margin-bottom: 20px; }

.product-card__title {
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 1.2;
  font-family: "RistrettoPro", sans-serif;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

.product-card__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: auto;
  padding-left: 37px;
  font-size: 21px;
  font-family: "RistrettoPro", sans-serif;
  background: url("../img/decor/price-tag.png") no-repeat left center; }

.products-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 103px;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background: url("../img/decor/more-bg.png") no-repeat center;
  background-size: contain; }

/*!
 * =============================
 *
 *     #info-section
 *
 * =============================
 */
.info-section {
  padding-bottom: 90px; }

.info-section__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px; }

.info-section__photo {
  width: calc(50% - 15px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.info-section__content {
  width: calc(50% - 15px);
  max-width: 585px;
  margin-left: auto; }
  .info-section__content:last-child {
    margin-right: auto;
    margin-left: 30px; }
    .info-section__content:last-child .info-section__desc {
      margin-left: 0;
      margin-right: auto; }

.info-section__desc {
  margin-left: auto;
  max-width: 570px; }
  .info-section__desc p {
    margin-bottom: 15px; }

/*!
 * =============================
 *
 *     #advantages
 *
 * =============================
 */
.advantages__top {
  padding-top: 60px;
  padding-bottom: 100px;
  background: #3b695e url("../img/decor/advantages-bg.png") no-repeat 56.5% bottom;
  color: #ffffff; }
  .advantages__top .section-title {
    color: #ffffff; }
  .advantages__top .advantages__item-img:after {
    background-image: url("../img/decor/arrow-long.png"); }

.advantages__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .advantages__items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 4 * 1% - 30px);
    margin-left: 15px;
    margin-right: 15px; }

.advantages__item:nth-child(4n) .advantages__item-img:after {
  top: 32px;
  height: 2px;
  background: #3b695e; }

.advantages__top .advantages__item:nth-child(4n) .advantages__item-img:after {
  background: #ffffff; }

.advantages__item-img {
  position: relative;
  margin-bottom: 20px;
  height: 100px; }
  .advantages__item-img:after {
    content: '';
    position: absolute;
    background-image: url("../img/decor/arrow-long_accent.png");
    right: 0;
    top: 20px;
    width: 136px;
    height: 24px;
    background-repeat: no-repeat; }

.advantages__item-title {
  font-family: "RistrettoPro", sans-serif;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 25px; }

.advantages__item-text {
  line-height: 1.7;
  font-size: 13px; }

.advantages__bot {
  padding-top: 110px;
  padding-bottom: 110px;
  background: url("../img/decor/advantages-bot-bg.png") no-repeat 51% 2px; }

/*!
 * =============================
 *
 *     #map
 *
 * =============================
 */
.map .section-title {
  margin-bottom: 0; }

/*!
 * =============================
 *
 *     #partners
 *
 * =============================
 */
.partners {
  background: url("../img/decor/advantages-bot-bg.png") no-repeat center top;
  padding-bottom: 150px; }

.partners__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -20px;
  margin-right: -20px; }

.partners__item {
  margin-left: 20px;
  margin-right: 20px; }

/*!
 * =============================
 *
 *     #production
 *
 * =============================
 */
.production {
  background: url("../img/decor/production-bg.png") no-repeat 57% top; }

/*!
 * =============================
 *
 *     #stats
 *
 * =============================
 */
.stats {
  padding-bottom: 170px; }

.stats__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: -20px;
  margin-right: -20px; }

.stats__item {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center; }

.stats__item-val {
  margin-bottom: 0;
  font-size: 102px;
  font-family: "RistrettoPro", sans-serif;
  line-height: 1; }

.stats__item-prop {
  margin-bottom: 0; }

/*!
 * =============================
 *
 *     #shipping
 *
 * =============================
 */
.shipping {
  background-image: url("../img/decor/shipping-decor.png");
  background-repeat: no-repeat;
  background-position: center top; }

.info-stats__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.info-stats {
  display: inline-block; }

.info-stats__title {
  margin-bottom: 40px;
  text-align: center;
  font-size: 36px;
  font-family: "RistrettoPro", sans-serif; }

.info-stats__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.info-stats__item {
  width: 50%;
  text-align: center;
  margin-bottom: 40px; }
  .info-stats__item:last-child {
    margin-bottom: 0; }

.info-stats__item-val {
  font-size: 66px;
  line-height: 0.8;
  font-family: "RistrettoPro", sans-serif; }

.info-stats__item-prop {
  font-size: 14px;
  text-align: center; }

/*!
 * =============================
 *
 *     #building
 *
 * =============================
 */
.building {
  background-image: url("../img/decor/production-bg.png");
  background-repeat: no-repeat;
  background-position: center top; }

/*!
 * =============================
 *
 *     #accent-section
 *
 * =============================
 */
.accent-section {
  position: relative;
  background: #ffa800;
  background-position: center top;
  padding-top: 35px;
  padding-bottom: 80px;
  color: #ffffff; }
  .accent-section:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    height: calc(100% + 100px);
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/decor/accent-section-decor.png") no-repeat center top; }
  .accent-section .content-width {
    position: relative;
    z-index: 5; }

/*!
 * =============================
 *
 *     #gallery
 *
 * =============================
 */
.gallery-section {
  background-image: url("../img/decor/production-bg.png");
  background-repeat: no-repeat;
  background-position: center top;
  padding-bottom: 60px; }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .gallery > * {
    width: 50%; }

.gallery__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: -30px; }
  .gallery__items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 2 * 1% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }

.gallery__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 200px; }

.gallery__main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

/*!
 * =============================
 *
 *     #news
 *
 * =============================
 */
.news {
  background-image: url("../img/decor/production-bg.png");
  background-repeat: no-repeat;
  background-position: center top; }

.news__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .news__items > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: calc(100 / 3 * 1% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px; }

.news__item {
  color: #000; }
  .news__item:hover {
    color: #000; }
    .news__item:hover .news__item-desc {
      color: #ffa800; }

.news__item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 220px;
  margin-bottom: 20px; }

.news__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.news__item-date {
  margin-left: auto;
  margin-bottom: 10px;
  font-size: 12px; }

.news__item-desc {
  font-size: 24px;
  font-family: "RistrettoPro", sans-serif;
  line-height: 1.2;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }

/*!
 * =============================
 *
 *     #footer
 *
 * =============================
 */
.footer {
  background-color: #f7f7f7;
  background-image: url("../img/decor/footer-decor.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 45px;
  padding-bottom: 45px; }

.copyright {
  font-family: "RistrettoPro", sans-serif;
  font-size: 24px; }

.footer-nav {
  margin-left: 20px;
  margin-right: 20px; }
  .footer-nav a {
    font-size: 24px;
    font-family: "RistrettoPro", sans-serif;
    color: #000; }
    .footer-nav a:hover {
      color: #ffa800; }

.footer__phone-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .footer__phone-wrap .btn-main {
    -ms-flex-item-align: end;
        align-self: flex-end;
    margin-bottom: 20px; }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; }
      .content-width .content-width {
        padding-left: 0;
        padding-right: 0;
        min-width: auto; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }
