/* VARIABLES */
.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; }
      .content-width .content-width {
        padding-left: 0;
        padding-right: 0;
        min-width: auto; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

/* TYPOGRAPHY */
/*!
 * =============================
 *
 * 		#TYPOGRAPHY
 *
 * =============================
 */
*::-webkit-input-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*::-moz-placeholder {
  color: #BABABA;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #BABABA;
  opacity: 1; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #FC5E5E; }

body input:required:valid,
body textarea:required:valid {
  color: #000; }

input:focus,
textarea:focus {
  color: #000; }

body {
  min-height: 100%;
  background: #FFF;
  min-width: 320px;
  position: relative;
  overflow-x: hidden;
  font-family: "Helvetica", sans-serif;
  font-size: 100%;
  color: #1a1718; }

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: bottom;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none; }

a, a:hover, a:focus {
  text-decoration: none; }

a {
  color: #6D66FF;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
  a:hover {
    color: #3197f9; }

li {
  outline: none; }

input[type=submit],
button {
  cursor: pointer; }

button {
  font-family: "Helvetica", sans-serif;
  font-size: 100%; }

textarea {
  font-family: "Helvetica", sans-serif;
  resize: none; }

.icon {
  display: inline-block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("../img/decor/icons/icons.png");
  background-repeat: no-repeat; }

.icon-menu {
  background-position: 0 -16px;
  width: 20px;
  height: 14px; }

.icon-cross {
  background-position: 0 -30px;
  width: 14px;
  height: 14px; }

.icon-search {
  background-position: 0 -44px;
  width: 20px;
  height: 20px; }

.icon-arrow-blue {
  background-position: 0 -64px;
  width: 8px;
  height: 14px; }

.icon-arrow-blue_back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.icon-phone-call {
  background-position: 0 -78px;
  width: 70px;
  height: 70px; }

.icon-wzzup {
  background-position: 0 -148px;
  width: 71px;
  height: 71px; }

*[class^='svg-icon'] {
  display: inline-block;
  vertical-align: middle;
  background-size: cover; }

.svg-icon-marker {
  width: 13px;
  height: 15px;
  background-image: url("../img/decor/icons/marker.svg"); }

.svg-icon-search {
  width: 24px;
  height: 24px;
  background-image: url("../img/decor/icons/search.svg"); }

.svg-icon-phone {
  background-image: url("../img/decor/icons/phone.svg");
  width: 18px;
  height: 17px; }

.svg-icon-cross {
  background-image: url("../img/decor/icons/cross.svg");
  width: 14px;
  height: 14px; }

.svg-icon-arrow_blue {
  background-image: url("../img/decor/icons/arrow_blue.svg");
  width: 8px;
  height: 14px; }

.svg-icon-arrow_blue_back {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }

.svg-icon-warn {
  background-image: url("../img/decor/icons/warn.svg");
  width: 22px;
  height: 22px; }

.svg-icon-percent {
  background-image: url("../img/decor/icons/percent.svg");
  width: 18px;
  height: 18px; }

.svg-icon-phone-call {
  background-image: url("../img/decor/icons/phone-call.svg");
  width: 70px;
  height: 70px; }

.svg-icon-wzzup {
  background-image: url("../img/decor/icons/phone2.svg");
  width: 71px;
  height: 71px; }

@font-face {
  font-family: 'Helvetica';
  src: url("../fonts/Helvetica/regular/Helvetica-regular.eot");
  src: url("../fonts/Helvetica/regular/Helvetica-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Helvetica/regular/Helvetica-regular.svg") format("svg"), url("../fonts/Helvetica/regular/Helvetica-regular.woff") format("woff"), url("../fonts/Helvetica/regular/Helvetica-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*!
 * =============================
 *
 *     #COMMON
 *
 * =============================
 */
body {
  min-height: 100vh; }

.empty-content {
  min-height: calc(100vh + 300px);
  padding-top: 30px; }

.c-accent {
  color: #64db5c; }

.clear-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-family: "Helvetica", sans-serif;
  color: #1a1718; }

.clear-ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none; }

.btn-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  background: #64db5c;
  padding: 9px 16px 7px;
  outline: none;
  border: none;
  border-bottom: 4px solid #5ba856;
  color: #ffffff;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s; }
  .btn-main:hover {
    color: #ffffff;
    background: #5ba856; }

/*!
 * =============================
 *
 *     #HEADER
 *
 * =============================
 */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0; }

.header__top {
  background: #f4f4f4;
  padding-top: 7px;
  padding-bottom: 7px; }
  .header__top > .content-width {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.location-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.location-button__text {
  margin-left: 7px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.3px;
  color: #1a1718;
  -webkit-transition: color .2s;
  -o-transition: color .2s;
  transition: color .2s; }
  .location-button__text:hover {
    color: #3197f9; }
  .location-select .location-button__text {
    text-transform: none;
    color: #3197f9; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__top .header-nav {
    margin-left: auto;
    margin-right: auto; }

.header-nav__link {
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.3px;
  color: #1a1718; }
  .header-nav__link:hover {
    text-decoration: underline; }

.main-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  letter-spacing: 1.3px; }
  .header__top .main-search {
    margin-left: auto;
    margin-right: 30px; }
  .main-search:hover {
    cursor: pointer;
    text-decoration: underline; }

.main-search__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.main-search__btn-text {
  margin-left: 7px; }

.main-search__modal {
  min-width: 300px;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: opacity .2s, -webkit-transform .2s;
  transition: opacity .2s, -webkit-transform .2s;
  -o-transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s;
  transition: opacity .2s, transform .2s, -webkit-transform .2s;
  font-family: "Helvetica", sans-serif; }
  .main-search__modal.visible {
    opacity: 1;
    z-index: 10;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .main-search__modal .search-form-wrap {
    border: 2px solid #3197f9; }
  .main-search__modal .search-form__field {
    font-size: 16px; }

.soc-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.soc-link {
  margin-left: 3px;
  background: url("../img/decor/icons/social_icons.png") 0 0 no-repeat;
  width: 20px;
  height: 18px; }

.soc-link_fb {
  background-position: -23px 0; }

.soc-link_insta {
  background-position: -45px 0; }

.header__content,
.main-nav {
  background: #ffffff; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px; }

.phone-contact {
  -webkit-transition: background-color .2s;
  -o-transition: background-color .2s;
  transition: background-color .2s; }

.phone-contact__modal {
  display: block;
  position: absolute;
  visibility: hidden;
  z-index: -10;
  top: 72px;
  left: 0;
  right: 0;
  background: #ffffff;
  border: 1px solid #3197f9;
  padding: 30px 30px 20px;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0; }
  .phone-contact_visible-modal .phone-contact__modal {
    z-index: 10;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.phone-contact__modal-arrow {
  visibility: hidden;
  opacity: 0;
  z-index: -11;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity .3s, -webkit-transform .3s;
  transition: opacity .3s, -webkit-transform .3s;
  -o-transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s;
  transition: opacity .3s, transform .3s, -webkit-transform .3s;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px); }
  .phone-contact_visible-modal .phone-contact__modal-arrow {
    z-index: 11;
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .phone-contact__modal-arrow:before, .phone-contact__modal-arrow:after {
    content: '';
    display: block;
    position: absolute;
    background: #3197f9;
    height: 1px;
    width: 13px;
    bottom: -18px; }
  .phone-contact__modal-arrow:before {
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    right: -2px; }
  .phone-contact__modal-arrow:after {
    left: -2px;
    -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
            transform: rotate(-35deg); }
  .phone-contact__modal-arrow span:before, .phone-contact__modal-arrow span:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -25px;
    height: 10px;
    width: 15px;
    background: #fff; }
  .phone-contact__modal-arrow span:before {
    -webkit-transform: rotate(35deg);
        -ms-transform: rotate(35deg);
            transform: rotate(35deg);
    left: 8px;
    bottom: -30px; }
  .phone-contact__modal-arrow span:after {
    -webkit-transform: rotate(-35deg);
        -ms-transform: rotate(-35deg);
            transform: rotate(-35deg);
    left: -4px;
    bottom: -30px; }

.phone-contact__icon {
  position: relative; }
  .phone-contact__icon path {
    -webkit-transition: stroke .2s;
    -o-transition: stroke .2s;
    transition: stroke .2s; }
  .phone-contact_visible-modal .phone-contact__icon path {
    stroke: #fff; }

.location-select {
  display: none;
  width: 100%;
  margin-top: 12px;
  text-align: center;
  font-size: 13px; }
  .location-select > * {
    display: inline-block; }

.contact-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px; }
  .contact-card:last-child {
    margin-bottom: 0; }

.contact-card__content {
  min-width: 200px; }

.contact-card__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 20px; }

.contact-card__title {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 700; }

.contact-card__text {
  margin-bottom: 0;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 25px; }

.phone-contact__text {
  margin-left: 12px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.5px; }

.w-hours {
  margin: 0 auto 0 20px;
  font-size: 13px; }

.text-grey {
  color: #9b9a9a; }

.font-title {
  font-family: "PT Sans Narrow", sans-serif; }

.logo_centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.fav-products {
  color: #1a1718; }

.order-btn {
  position: relative; }

.order-btn__counter {
  display: inline-block;
  position: absolute;
  border-radius: 9px;
  padding: 0 5px;
  background: #2a7525;
  color: #ffffff;
  font-size: 11px;
  font-weight: 700;
  left: 30px;
  top: 6px; }

.order-btn__price {
  margin-left: 30px;
  font-weight: 700; }

.order-btn__arrow {
  display: inline-block;
  margin-left: 20px;
  background: url("../img/decor/icons/arrow-white.png") no-repeat center;
  background-size: contain;
  width: 10px;
  height: 10px; }

.fav-products__text {
  margin-left: 8px;
  margin-right: 8px; }

.header__content .order-btn {
  margin-left: 40px; }

.nav-wrap {
  border-bottom: 2px solid #ebf5fd; }
  .header.fixed .nav-wrap {
    border-bottom-color: #ffffff; }

.nav__header {
  display: none; }

.nav__mob-button,
.nav__close,
.nav__back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #f4f4f4;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer; }

.nav__mob-button {
  display: none;
  margin-right: 15px; }

.nav__close {
  margin-left: 15px; }

.nav__back {
  position: absolute;
  cursor: pointer;
  margin-right: 15px;
  -webkit-transform: translateX(-48px);
      -ms-transform: translateX(-48px);
          transform: translateX(-48px);
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  -o-transition: transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s; }
  .inner-list-visible .nav__back {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }

.my-nav {
  margin-left: auto;
  margin-right: auto; }

.nav-list-wrap {
  position: relative; }

.search-form-wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 25px;
  background: #f2f2f2; }

.search-form-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 16px; }
  .search-form-wrap .svg-icon-search {
    margin-top: 4px; }

.search-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px; }

.search-form_active-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 0;
  padding-top: 2px; }

.search-form__field {
  display: inline-block;
  outline: none !important;
  width: 100%;
  border: none;
  background: transparent;
  color: #9e9e9e; }

.search-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background-color: transparent; }

.nav__item {
  display: block;
  margin-right: 0; }

.nav__link {
  display: block;
  border-bottom: 1px solid #ffffff;
  padding: 12px 20px;
  text-align: left;
  color: #fff; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav__link {
  display: inline-block;
  position: relative;
  padding: 0px 2px 8px;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #3197f9; }
  .nav__link:after {
    content: '';
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 2px;
    background: #3197f9; }
  .nav__link:hover {
    color: #64db5c; }
  .nav__link *[class^='svg-icon'] {
    margin-right: 5px; }

.nav__list-img {
  display: none; }

.mobile-search {
  background: #ffffff;
  padding-top: 15px; }
  .header.fixed .mobile-search {
    display: none; }

.nav-info {
  margin-top: auto; }

.nav-info__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase; }
  .nav-info__title i {
    margin-right: 8px; }

.nav-info__links a {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 7px;
  font-size: 14px;
  color: #3197f9; }

.nav-info__links {
  margin-bottom: 15px; }
  .nav-info__links:last-child {
    margin-bottom: 0; }

.content-width {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto; }
  @media only screen and (max-width: 1200px) {
    .content-width {
      padding-left: 15px;
      padding-right: 15px; }
      .content-width .content-width {
        padding-left: 0;
        padding-right: 0;
        min-width: auto; } }

.clearfix:before {
  content: "";
  display: table; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.ic-t {
  font-size: 0; }
  .ic-t > * {
    vertical-align: top;
    font-size: 100%; }

.ic-m {
  font-size: 0; }
  .ic-m > * {
    vertical-align: middle;
    font-size: 100%; }

.vc {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; }
  .vc iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.va {
  position: relative; }
  .va:after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%; }

html.modal-open {
  overflow: hidden; }

@media only screen and (max-width: 61.9375em) {
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-bottom: 1px solid #f4f4f4;
    padding-top: 15px;
    padding-bottom: 15px; }
  .header-nav {
    display: none; }
  .nav-wrap {
    border-bottom: none; }
  .nav__header {
    margin-bottom: 10px; }
  .my-nav {
    position: fixed;
    visibility: visible;
    opacity: 1;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    background: #FFFFFF;
    min-height: calc(100vh);
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
    .my-nav.visible {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0); }
    .my-nav.trs {
      -webkit-transition: -webkit-transform .4s;
      transition: -webkit-transform .4s;
      -o-transition: transform .4s;
      transition: transform .4s;
      transition: transform .4s, -webkit-transform .4s; }
    body.no-js .my-nav {
      position: static;
      width: auto; }
  .my-nav__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 15px; }
  .nav__mob-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .nav__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    overflow: hidden;
    position: relative; }
  .nav-list-wrap {
    overflow: hidden;
    margin-bottom: 30px; }
  .nav__list {
    width: auto;
    display: block;
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
    .inner-list-visible .nav__list {
      -webkit-transform: translateX(-100px);
          -ms-transform: translateX(-100px);
              transform: translateX(-100px); }
  .nav__inner-wrap {
    position: absolute;
    z-index: 10;
    background: #ffffff;
    left: 100px;
    right: -100px;
    top: 0;
    bottom: 0;
    -webkit-transform: translateX(100vw);
        -ms-transform: translateX(100vw);
            transform: translateX(100vw);
    -webkit-transition: -webkit-transform .4s;
    transition: -webkit-transform .4s;
    -o-transition: transform .4s;
    transition: transform .4s;
    transition: transform .4s, -webkit-transform .4s;
    font-family: "PT Sans Narrow", sans-serif; }
    .nav__inner-wrap.visible {
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
    .nav__inner-wrap .nav__link:before {
      display: none; }
  .nav__item {
    margin-bottom: 8px; }
  .nav__link {
    display: block;
    position: relative;
    border-radius: 5px;
    background: #f6fbff;
    color: #3197f9;
    font-size: 20px;
    padding: 8px 30px 8px 15px;
    letter-spacing: 1px; }
    .nav__item.active .nav__link {
      color: #3197f9; }
      .nav__item.active .nav__link:after {
        display: none; }
    .nav__link:hover {
      background: #f4f4f4;
      color: #3197f9; }
    .nav__list .nav__link[data-nav-list-id]:before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      right: 15px;
      background: url("../img/decor/icons/arrow_blue.svg") no-repeat;
      width: 8px;
      height: 14px; }
  .nav__header .search-form-wrap {
    -webkit-transition: margin .4s;
    -o-transition: margin .4s;
    transition: margin .4s; }
  .inner-list-visible .search-form-wrap {
    margin-left: 63px; }
  .phone-contact,
  .fav-products,
  .order-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%; }
  .fav-products {
    margin-left: auto;
    background: #fef4f7; }
    .fav-products > * {
      display: none; }
  .fav-products,
  .order-btn {
    position: relative; }
    .fav-products > *,
    .order-btn > * {
      display: none; }
  .fav-products__icon {
    display: block; }
  .fav-products__counter,
  .order-btn__counter {
    display: block;
    position: absolute;
    top: -3px;
    right: 0;
    left: auto;
    border: 1px solid #ffffff;
    border-radius: 9px;
    font-size: 11px;
    font-weight: 700;
    padding: 0px 5px;
    font-family: "Helvetica", sans-serif; }
  .fav-products__counter {
    background: #fef4f7;
    color: #e91e63; }
  .order-btn__counter {
    background: #e9f2fa;
    color: #3197f9; }
  .phone-contact {
    background: #f1f9f1;
    margin-right: auto; }
    .phone-contact path {
      stroke: #64db5c; }
  .phone-contact_visible-modal {
    background: #4caf50; }
  .phone-contact__text {
    display: none; }
  .w-hours {
    display: none; }
  .order-btn {
    background: #e9f2fa;
    border-bottom: none; }
    .order-btn:hover {
      background: #e9f2fa; }
    .header__content .order-btn {
      margin-left: 15px; }
    .order-btn path {
      stroke: #3197f9; }
  .order-btn__icon {
    display: block; } }

@media only screen and (max-width: 47.9375em) {
  .header__top {
    display: none; }
  .header__content {
    padding-bottom: 10px; }
  .logo_centered {
    top: 14px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%); }
  .location-select {
    display: block; } }

@media only screen and (max-width: 28.75em) {
  .header__content {
    padding-left: 10px;
    padding-right: 10px; }
  .nav__mob-button {
    margin-right: 8px; }
  .header__content .order-btn {
    margin-left: 7px; }
  .header__content .logo {
    max-width: 100px;
    top: 21px; } }

@media only screen and (max-width: 22.5em) {
  .header__content .logo {
    max-width: 65px; } }

@media only screen and (min-width: 48em) {
  .mobile-search {
    display: none; } }

@media only screen and (min-width: 62em) {
  .nav__inner-wrap {
    display: none;
    position: absolute;
    z-index: 10;
    padding: 20px 15px;
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(49, 151, 249, 0.9);
            box-shadow: 0px 0px 4px 1px rgba(49, 151, 249, 0.9);
    left: 0; }
  .nav__list-img,
  .nav__list-inner {
    margin-left: 5px;
    margin-right: 5px; }
  .nav__list-img {
    display: block;
    width: 255px;
    height: 160px;
    -ms-flex-negative: 0;
        flex-shrink: 0; }
    .nav__list-img img {
      width: 255px;
      height: 160px; }
  .nav__item {
    position: relative; }
    .nav__item:hover .nav__inner-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .nav__link {
    white-space: nowrap; }
    .nav__list > .nav__item.active > .nav__link {
      color: #1a1718; }
      .nav__list > .nav__item.active > .nav__link:after {
        display: block; }
  .nav-info {
    display: none; } }
